In [213]:
import pandas as pd
import numpy as np
import datetime
import math
import sklearn.cross_validation
from scipy import stats

In [214]:
train = pd.read_csv('data_original/train.csv')
test = pd.read_csv('data_original/test.csv')

print(len(train.Point.unique()))
print(len(test.Point.unique()))
a = set(train.Point.unique()) - (set(train.Point.unique()) & set(test.Point.unique()))
for i in a:
    print(i)
    train = train[train.Point != i]

    
test['Count'] = None
frame = [train, test]
common = pd.concat(frame)
common.Date = common.Date.apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))
common = common.sort_values(by=['Date'])

114
114

In [215]:
common.to_csv('data_original/common.csv', index=None)
train.to_csv('data_original/train.csv', index=None)
test.to_csv('data_original/test.csv', index=None)

# date.csv

In [216]:
date = pd.read_csv('data_original/common.csv')[['Date']]
date.Date = date.Date.apply(lambda x: pd.to_datetime(x))

In [217]:
start_date = date.iloc[0]['Date']
date['Year'] = date.Date.apply(lambda x: x.year)
date['Month'] = date.Date.apply(lambda x: x.month)
date['MonthDay'] = date.Date.apply(lambda x: x.day)
date['WeekDay'] = date.Date.apply(lambda x: x.weekday())
date['Point'] = pd.Series(common.Point.as_matrix())

In [218]:
date['YearDay'] = date.Date.apply(lambda x: (x-pd.to_datetime(str(x.year)+'-01-01')).days)

In [219]:
date['ThroughMonth'] = date.Date.apply(lambda x: (x.year - start_date.year) * 12 + x.month - start_date.month)

In [220]:
date['ThroughWeek'] = date.Date.apply(lambda x: int( ( (x - start_date).days + start_date.weekday()) / 7))

In [221]:
date['ThroughDay'] = date.Date.apply(lambda x: (x - start_date).days)

In [222]:
date.to_csv('data_transform/date.csv', index=None)

In [223]:
date.head(10)

,Date,Year,Month,MonthDay,WeekDay,Point,YearDay,ThroughMonth,ThroughWeek,ThroughDay
0,2011-10-06,2011,10,6,3,Сыктывкар-1,278,0,0,0
1,2011-10-07,2011,10,7,4,Сыктывкар-1,279,0,0,1
2,2011-10-09,2011,10,9,6,Сыктывкар-1,281,0,0,3
3,2011-11-15,2011,11,15,1,Сыктывкар-1,318,1,6,40
4,2011-12-08,2011,12,8,3,Сыктывкар-1,341,2,9,63
5,2011-12-09,2011,12,9,4,Сыктывкар-1,342,2,9,64
6,2011-12-10,2011,12,10,5,Сыктывкар-1,343,2,9,65
7,2011-12-11,2011,12,11,6,Сыктывкар-1,344,2,9,66
8,2011-12-13,2011,12,13,1,Сыктывкар-1,346,2,10,68
9,2011-12-14,2011,12,14,2,Сыктывкар-1,347,2,10,69

# target.csv

In [224]:
sizeValidationSample = 0.16

In [225]:
target = pd.read_csv('data_original/common.csv')[['Count', 'Date']]
#target['Point'] = pd.Series(common.Point.as_matrix())
target['IsTest'] = target.Count
target['IsTrain'] = pd.Series(range(target.shape[0]))
target['IsValidation'] = pd.Series(range(target.shape[0]))

In [226]:
target['IsTest'] = target.IsTest.apply(lambda x: 1 if math.isnan(x) else 0)

In [227]:
withCountValue = target[target.IsTest == 0].index
indexTrain, indexValidation = sklearn.cross_validation.train_test_split(withCountValue, test_size=sizeValidationSample)

In [228]:
dates = target.Date[target.IsTest == 1]
test_date_count = dates.unique().shape[0]
print(test_date_count)
dates = target.Date[target.IsTest == 0].unique()
np.random.shuffle(dates)
validation_dates = dates[:test_date_count]
validation_dates
target['IsValidation'] = target.Date.apply(lambda x: 1 if x in validation_dates else 0)
target.head(20)

268

    Count        Date  IsTest  IsTrain  IsValidation
0     8.0  2011-10-06       0        0             1
1    88.0  2011-10-07       0        1             0
2     1.0  2011-10-09       0        2             0
3     1.0  2011-11-15       0        3             1
4     2.0  2011-12-08       0        4             0
5    43.0  2011-12-09       0        5             1
6    10.0  2011-12-10       0        6             0
7     1.0  2011-12-11       0        7             0
8    60.0  2011-12-13       0        8             0
9     NaN  2011-12-14       1        9             0
10   96.0  2011-12-15       0       10             0
11  134.0  2011-12-16       0       11             0
12  112.0  2011-12-17       0       12             0
13  100.0  2011-12-18       0       13             0
14    NaN  2011-12-19       1       14             0
15   73.0  2011-12-20       0       15             0
16   94.0  2011-12-21       0       16             0
17   94.0  2011-12-22       0       17             0
18  129.0  2011-12-23       0       18             1
19  164.0  2011-12-24       0       19             0

In [229]:
target['IsTrain'] = 1
indexes = target[np.logical_or(target.IsValidation == 1, target.IsTest == 1)].index
target.IsTrain.loc[indexes] = 0
#target['IsValidation'] = target.IsValidation.apply(lambda x: 1 if ((x in indexValidation) & (target.IsValidation[x] == 0)) else 0)

In [230]:
target.to_csv('data_transform/target.csv', index = None)

In [231]:
CountWithouthNaNValueValidation = target.Count.copy()

In [232]:
target.Count.loc[target.Count[target.IsValidation == 1].index] = np.nan

In [233]:
target.head(20)

    Count        Date  IsTest  IsTrain  IsValidation
0     NaN  2011-10-06       0        0             1
1    88.0  2011-10-07       0        1             0
2     1.0  2011-10-09       0        1             0
3     NaN  2011-11-15       0        0             1
4     2.0  2011-12-08       0        1             0
5     NaN  2011-12-09       0        0             1
6    10.0  2011-12-10       0        1             0
7     1.0  2011-12-11       0        1             0
8    60.0  2011-12-13       0        1             0
9     NaN  2011-12-14       1        0             0
10   96.0  2011-12-15       0        1             0
11  134.0  2011-12-16       0        1             0
12  112.0  2011-12-17       0        1             0
13  100.0  2011-12-18       0        1             0
14    NaN  2011-12-19       1        0             0
15   73.0  2011-12-20       0        1             0
16   94.0  2011-12-21       0        1             0
17   94.0  2011-12-22       0        1             0
18    NaN  2011-12-23       0        0             1
19  164.0  2011-12-24       0        1             0

# city.csv

In [234]:
cities = pd.read_csv('data_original/common.csv')[['Point']].Point.unique()
city = pd.DataFrame()
city['Point'] = pd.Series(cities)
city['CityName'] = city.Point.apply(lambda x: '-'.join(x.split('-')[0:-1]))
city_names = city.CityName.unique()
city['CityID'] = city.CityName.apply(lambda x: np.where(city_names == x)[0][0]) 
city['BranchNumber'] = city.Point.apply(lambda x: x.split('-')[-1:][0])
# Москва 1 -> Москва
city['CityName'] = city.CityName.apply(lambda x: ('Москва' if x == 'Москва 1' else x))
city.to_csv('data_transform/city.csv', index = None)

In [235]:
city.head(10)

         Point   CityName  CityID BranchNumber
0  Сыктывкар-1  Сыктывкар       0            1
1  Сыктывкар-2  Сыктывкар       0            2
2       Ухта-1       Ухта       1            1
3   Смоленск-1   Смоленск       2            1
4    Сарапул-1    Сарапул       3            1
5     Самара-1     Самара       4            1
6  Челябинск-1  Челябинск       5            1
7   Белгород-1   Белгород       6            1
8   Смоленск-2   Смоленск       2            2
9     Самара-2     Самара       4            2

# internal_features.csv

In [236]:
src = pd.read_csv('data_transform/date.csv')
src['Point'] = pd.read_csv('data_original/common.csv')['Point']
src['Count'] = target.Count
dst = pd.DataFrame()

In [237]:
src.head(15)

,Date,Year,Month,MonthDay,WeekDay,Point,YearDay,ThroughMonth,ThroughWeek,ThroughDay,Count
0,2011-10-06,2011,10,6,3,Сыктывкар-1,278,0,0,0,NaN
1,2011-10-07,2011,10,7,4,Сыктывкар-1,279,0,0,1,88.0
2,2011-10-09,2011,10,9,6,Сыктывкар-1,281,0,0,3,1.0
3,2011-11-15,2011,11,15,1,Сыктывкар-1,318,1,6,40,NaN
4,2011-12-08,2011,12,8,3,Сыктывкар-1,341,2,9,63,2.0
5,2011-12-09,2011,12,9,4,Сыктывкар-1,342,2,9,64,NaN
6,2011-12-10,2011,12,10,5,Сыктывкар-1,343,2,9,65,10.0
7,2011-12-11,2011,12,11,6,Сыктывкар-1,344,2,9,66,1.0
8,2011-12-13,2011,12,13,1,Сыктывкар-1,346,2,10,68,60.0
9,2011-12-14,2011,12,14,2,Сыктывкар-1,347,2,10,69,NaN
10,2011-12-15,2011,12,15,3,Сыктывкар-1,348,2,10,70,96.0
11,2011-12-16,2011,12,16,4,Сыктывкар-1,349,2,10,71,134.0
12,2011-12-17,2011,12,17,5,Сыктывкар-1,350,2,10,72,112.0
13,2011-12-18,2011,12,18,6,Сыктывкар-1,351,2,10,73,100.0
14,2011-12-19,2011,12,19,0,Сыктывкар-1,352,2,11,74,NaN

## Next-Prev N Existing Count

In [238]:
tmp = pd.DataFrame()
tmp[["Count", "IsTest", "IsTrain", "IsValidation"]]= target[["Count", "IsTest", "IsTrain", "IsValidation"]]
tmp["Point"] = date.Point
tmp["Date"] = pd.to_datetime(date.Date)

tmp.head(10)

resultExistingMean = pd.DataFrame()

In [239]:
def GetNextNExistingValue(n):
    result = np.array([np.nan] * tmp.shape[0])
    k = 1
    for i in range(tmp.shape[0]):
        currentDay = tmp.Date[i]
        targetCity = tmp.Point[i]
        tmpForCity = tmp[(tmp.Point == targetCity) &(tmp.IsTrain == 1)] #получение данных только по определенному 
        #городу и из Train части
        valueLessWhenN = (tmpForCity.Date.map(lambda x: (x  - currentDay).days) <= n) \
                        &(tmpForCity.Date.map(lambda x: (x  - currentDay).days) > 0)
        # получение городов, чья разница между первоночальной датой и вычисляемой меньше n и больше 0 (в днях)
        targetCount = tmpForCity.Count[valueLessWhenN] #получение Count переменных для этих городов
        targetCount = targetCount.dropna() #удаление отсутвующих значений для вычисления средних
        meanCount = np.mean(targetCount)
        result[i] = meanCount
        k += 1
        if ( (k % 500) == 1):
            print k / 500,
    return result

def GetPrevNExistingValue(n):
    result = np.array([np.nan] * tmp.shape[0])
    k = 1
    for i in range(tmp.shape[0]):
        currentDay = tmp.Date[i]
        targetCity = tmp.Point[i]
        tmpForCity = tmp[(tmp.Point == targetCity) &(tmp.IsTrain == 1)] #получение данных только по определенному 
        #городу и из Train части
        valueLessWhenN = (tmpForCity.Date.map(lambda x: (x  - currentDay).days) >= n) \
                        &(tmpForCity.Date.map(lambda x: (x  - currentDay).days) < 0)
        # получение городов, чья разница между первоночальной датой и вычисляемой меньше n и больше 0 (в днях)
        targetCount = tmpForCity.Count[valueLessWhenN] #получение Count переменных для этих городов
        targetCount = targetCount.dropna() #удаление отсутвующих значений для вычисления средних
        meanCount = np.mean(targetCount)
        result[i] = meanCount
        k += 1
        if ( (k % 500) == 1):
            print k / 500,
    return result

In [240]:
resultExistingMean["NextExisting1Value"] = pd.Series(GetNextNExistingValue(1))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [241]:
resultExistingMean["NextExisting2Value"] = pd.Series(GetNextNExistingValue(2))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [242]:
resultExistingMean["NextExisting3Value"] = pd.Series(GetNextNExistingValue(3))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [243]:
resultExistingMean["NextExisting7Value"] = pd.Series(GetNextNExistingValue(7))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [244]:
resultExistingMean["NextExisting14Value"] = pd.Series(GetNextNExistingValue(14))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [245]:
resultExistingMean["NextExisting21Value"] = pd.Series(GetNextNExistingValue(21))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [246]:
resultExistingMean["NextExisting30Value"] = pd.Series(GetNextNExistingValue(30))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [247]:
resultExistingMean.to_csv('data_transform/resultExistingMean.csv', index=None)

In [248]:
resultExistingMean["PrevExisting1Value"] = pd.Series(GetPrevNExistingValue(-1))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [ ]:
resultExistingMean["PrevExisting2Value"] = pd.Series(GetPrevNExistingValue(-2))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [ ]:
resultExistingMean["PrevExisting3Value"] = pd.Series(GetPrevNExistingValue(-3))

1 2

In [ ]:
resultExistingMean["PrevExisting7Value"] = pd.Series(GetPrevNExistingValue(-7))

In [ ]:
resultExistingMean["PrevExisting14Value"] = pd.Series(GetPrevNExistingValue(-14))

In [ ]:
resultExistingMean["PrevExisting21Value"] = pd.Series(GetPrevNExistingValue(-21))

In [ ]:
resultExistingMean["PrevExisting30Value"] = pd.Series(GetPrevNExistingValue(-30))

In [ ]:
resultExistingMean.to_csv('data_transform/resultExistingMean.csv', index=None)

## Next-Prev N Value

In [ ]:
def GetValueForNPrevNextDay(n, target, src):
    targetCopy = target.copy()
    targetCopy.Count.loc[targetCopy.IsValidation == 1] = np.nan

    targetCopy['Point'] = src.Point

    city = src.Point.unique()

    result = np.array([np.nan] * targetCopy.shape[0])
    for i in city:
        value = targetCopy.Count[targetCopy.Point == i].shift(n)
        for j in value.index:
            result[j] = value[j]


    prefics = "Prev" if n > 0 else "Next"
    targetCopy[prefics + str(abs(n)) + "Day"] = pd.Series(result)
    del targetCopy["Point"]
    return targetCopy[prefics + str(abs(n)) + "Day"]

In [ ]:
dst["Prev1Day"] = GetValueForNPrevNextDay(1, target, src)
dst["Prev2Day"] = GetValueForNPrevNextDay(2, target, src)
dst["Prev3Day"] = GetValueForNPrevNextDay(3, target, src)
dst["Prev7Day"] = GetValueForNPrevNextDay(7, target, src)

In [ ]:
dst["Next1Day"] = GetValueForNPrevNextDay(-1, target, src)
dst["Next2Day"] = GetValueForNPrevNextDay(-2, target, src)
dst["Next3Day"] = GetValueForNPrevNextDay(-3, target, src)
dst["Next7Day"] = GetValueForNPrevNextDay(-7, target, src)

In [ ]:
#target.to_csv('data_transform/target.csv', index = None)

In [ ]:
dst.head(20)

## Mean

In [ ]:
need_mean_list = src.columns.difference(['Date', 'Count', 'Point', 'ThroughDay'])
need_mean_list

### by date independed from points

In [ ]:
def calc_mean(src, group_column, target_column):
    mean = src.groupby([group_column])[target_column].mean()
    return src[group_column].apply(lambda x: mean[x])

In [ ]:

for column in need_mean_list:
    dst['MeanFor' + column] = calc_mean(src, column, 'Count')

In [ ]:
dst.head(15)

### by date depended from points

In [ ]:
def map_group_two_key(group, x, y):
    return group[x][y]

def calc_mean_by_columns(src, group_columns, target_column):
    mean = src.groupby(group_columns)[target_column].mean()
    return src[group_columns].apply(lambda x: map_group_two_key(mean, *x), axis=1)

In [ ]:
for column in need_mean_list:
    dst['MeanFor' + column + 'ByPoints'] = calc_mean_by_columns(src, [column, 'Point'], 'Count')

In [ ]:
dst['Point'] = pd.read_csv('data_original/common.csv')['Point']
dst.to_csv('data_transform/internal_features.csv', index=None)

In [ ]:
dst.head(15)

In [58]:
weather = pd.read_csv('data_transform/weather.csv')

In [59]:
weather

,Date,CityName,lat,lng,summary,icon,precipType,temperature,apparentTemperature,dewPoint,humidity,windSpeed,windBearing,visibility,cloudCover,pressure
0,2011-10-06,Сыктывкар,61.647851,50.833903,Overcast,cloudy,rain,4.95,1.77,4.13,0.94,4.05,195.0,8.32,1.00,990.66
1,2011-10-07,Сыктывкар,61.647851,50.833903,Overcast,cloudy,rain,7.22,5.09,5.04,0.86,3.13,240.0,11.27,1.00,NaN
2,2011-10-09,Сыктывкар,61.647851,50.833903,Partly Cloudy,partly-cloudy-night,rain,9.71,9.00,8.08,0.90,1.82,229.0,8.48,0.50,1007.93
3,2011-11-15,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-1.04,-5.66,-1.32,0.98,4.14,205.0,5.63,1.00,988.27
4,2011-12-08,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-1.78,-3.57,-2.19,0.97,1.38,171.0,10.54,1.00,1013.80
5,2011-12-09,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-2.44,-2.44,-4.04,0.89,0.89,188.0,9.06,1.00,1026.65
6,2011-12-10,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-4.43,-8.21,-6.47,0.86,2.45,163.0,10.61,1.00,1026.66
7,2011-12-11,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-7.28,-13.31,-8.93,0.88,4.10,173.0,8.42,1.00,1018.29
8,2011-12-13,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-9.77,-15.78,-11.34,0.88,3.49,192.0,8.40,1.00,1017.16
9,2011-12-14,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-7.00,-10.09,-7.81,0.94,1.69,195.0,10.77,1.00,1028.18
10,2011-12-15,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-9.23,-15.26,-11.45,0.84,3.61,170.0,10.80,1.00,1024.86
11,2011-12-16,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-5.90,-10.33,-6.72,0.94,2.77,162.0,7.19,1.00,1022.50
12,2011-12-17,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-0.02,-4.62,-0.59,0.96,4.47,163.0,5.36,1.00,1020.28
13,2011-12-18,Сыктывкар,61.647851,50.833903,Partly Cloudy,partly-cloudy-night,snow,-5.27,-11.58,-8.57,0.78,5.11,181.0,8.64,0.53,1024.57
14,2011-12-19,Сыктывкар,61.647851,50.833903,Mostly Cloudy,partly-cloudy-night,snow,-7.24,-14.37,-10.81,0.76,5.57,184.0,8.64,0.65,1028.88
15,2011-12-20,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-7.28,-13.60,-9.20,0.86,4.44,197.0,10.81,1.00,1026.08
16,2011-12-21,Сыктывкар,61.647851,50.833903,Mostly Cloudy,partly-cloudy-night,snow,-7.85,-14.23,-10.42,0.82,4.36,203.0,9.16,0.92,1027.67
17,2011-12-22,Сыктывкар,61.647851,50.833903,Foggy,fog,snow,-7.23,-11.66,-8.03,0.94,2.56,179.0,2.30,1.00,1020.49
18,2011-12-23,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-7.49,-7.49,-8.83,0.90,0.96,169.0,8.34,1.00,1015.72
19,2011-12-24,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-8.59,-8.59,-9.92,0.90,0.89,155.0,9.46,1.00,1013.33
20,2011-12-25,Сыктывкар,61.647851,50.833903,Mostly Cloudy,partly-cloudy-night,snow,-14.87,-18.34,-17.13,0.83,1.35,206.0,8.50,0.75,1014.45
21,2011-12-26,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-10.03,-16.07,-11.61,0.88,3.46,200.0,7.68,1.00,1009.41
22,2011-12-27,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-6.40,-12.62,-7.78,0.90,4.59,170.0,7.03,1.00,988.45
23,2011-12-28,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-4.22,-8.03,-5.02,0.94,2.51,171.0,5.15,1.00,977.68
24,2011-12-29,Сыктывкар,61.647851,50.833903,Mostly Cloudy,partly-cloudy-night,snow,-6.73,-11.73,-8.37,0.88,3.13,325.0,10.51,0.87,986.71
25,2011-12-30,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-5.01,-10.02,-6.11,0.92,3.52,215.0,10.80,1.00,1000.90
26,2011-12-31,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-1.99,-6.72,-2.27,0.98,3.99,200.0,11.02,1.00,1008.09
27,2012-01-01,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-2.85,-5.87,-3.09,0.98,2.07,181.0,7.10,1.00,1014.93
28,2012-01-02,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-4.99,-4.99,-6.09,0.92,1.32,205.0,9.01,1.00,1022.03
29,2012-01-03,Сыктывкар,61.647851,50.833903,Mostly Cloudy,partly-cloudy-night,snow,-7.84,-7.84,-8.09,0.98,0.89,0.0,8.53,0.86,1024.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53396,2016-10-19,Смоленск,54.790311,32.050366,Mostly Cloudy,partly-cloudy-night,snow,-2.49,-6.59,-4.37,0.87,3.11,118.0,13.97,0.75,1034.06
53397,2016-10-19,Северск,56.619269,84.881683,Clear,clear-night,snow,-7.22,-13.18,-10.07,0.80,4.02,40.0,NaN,NaN,NaN
53398,2016-10-19,Раменское,55.568573,38.221269,Clear,clear-night,rain,1.88,1.88,-1.08,0.81,0.96,233.0,9.98,NaN,NaN
53399,2016-10-19,Троицк,54.074757,61.567051,Clear,clear-night,snow,-1.01,-4.43,-1.87,0.94,2.71,303.0,5.47,NaN,NaN
53400,2016-10-19,Тольятти,53.508600,49.419834,Clear,clear-night,rain,2.78,-0.27,-1.03,0.76,3.13,290.0,9.98,NaN,NaN
53401,2016-10-19,Выборг,60.713953,28.757157,Mostly Cloudy,partly-cloudy-night,NaN,2.19,0.41,-1.71,0.75,1.74,102.0,15.93,0.75,1031.61
53402,2016-10-19,Нахабино,55.845567,37.170791,Overcast,cloudy,rain,1.73,1.73,0.49,0.91,1.12,279.0,9.98,1.00,1034.10
53403,2016-10-19,Якутск,62.035452,129.675475,Overcast,cloudy,snow,-7.77,-10.61,-10.76,0.79,1.50,322.0,14.85,1.00,1014.44
53404,2016-10-19,Комсомольск-на-Амуре,50.567033,136.965895,Partly Cloudy,partly-cloudy-night,rain,1.50,-1.27,-5.24,0.61,2.53,249.0,16.09,0.31,1010.75
53405,2016-10-19,Уссурийск,43.802313,131.963089,Clear,clear-night,rain,11.11,11.11,6.05,0.71,3.13,120.0,9.98,NaN,NaN
53406,2016-10-19,Абинск,44.871534,38.164462,Clear,clear-night,rain,3.37,-2.33,-0.45,0.76,9.19,68.0,9.98,0.00,NaN
53407,2016-10-19,Железнодорожный,55.737376,38.009539,Clear,clear-night,rain,2.22,2.22,-1.22,0.78,0.69,236.0,9.98,NaN,NaN
53408,2016-10-19,Красногорск,55.826331,37.326297,Overcast,cloudy,rain,1.77,1.77,0.46,0.91,1.14,277.0,9.98,1.00,1034.10
53409,2016-10-19,Тольятти,53.508600,49.419834,Clear,clear-night,rain,2.78,-0.27,-1.03,0.76,3.13,290.0,9.98,NaN,NaN
53410,2016-10-19,Новороссийск,44.715401,37.761967,Clear,clear-night,rain,4.07,-1.59,-0.27,0.73,9.82,68.0,9.98,0.00,1028.20
53411,2016-10-19,Новочебоксарск,56.103603,47.506507,Overcast,cloudy,rain,2.72,-0.18,-0.08,0.82,2.92,320.0,10.33,1.00,1027.30
53412,2016-10-19,Колпино,59.761761,30.578897,Clear,clear-night,snow,-2.72,-5.31,-3.77,0.92,1.78,121.0,12.96,NaN,1032.76
53413,2016-10-19,Москва,55.755826,37.617300,Clear,clear-night,rain,1.83,1.83,-0.08,0.87,1.07,262.0,9.98,NaN,NaN
53414,2016-10-19,Одинцово,55.673374,37.281857,Overcast,cloudy,rain,1.42,-0.07,0.82,0.96,1.45,273.0,9.98,1.00,1034.10
53415,2016-10-19,Нефтеюганск,61.098064,72.581647,Clear,clear-night,snow,-2.22,-4.74,-2.22,1.00,1.79,160.0,4.99,NaN,NaN
53416,2016-10-19,Вологда,59.218066,39.897805,Overcast,cloudy,rain,2.17,0.47,-0.03,0.85,1.68,318.0,15.58,1.00,1031.92
53417,2016-10-19,Электросталь,55.783553,38.455161,Clear,clear-night,rain,2.22,2.22,-1.24,0.78,0.69,235.0,9.98,NaN,NaN
53418,2016-10-19,Всеволожск,60.009861,30.660640,Clear,clear-night,snow,-2.62,-4.68,-3.51,0.94,1.46,127.0,14.03,NaN,1032.84
53419,2016-10-19,Смоленск,54.790311,32.050366,Mostly Cloudy,partly-cloudy-night,snow,-2.49,-6.59,-4.37,0.87,3.11,118.0,13.97,0.75,1034.06
53420,2016-10-19,Гатчина,59.562463,30.106466,Clear,clear-night,snow,-3.24,-5.51,-4.16,0.93,1.53,125.0,13.74,NaN,1032.77
53421,2016-10-19,Ухта,63.567321,53.747159,Overcast,cloudy,rain,0.43,0.43,-0.78,0.92,0.88,310.0,10.27,0.99,1021.99
53422,2016-10-19,Нижневартовск,60.943119,76.543372,Clear,clear-night,snow,-2.22,-6.26,-2.76,0.96,3.09,180.0,9.85,NaN,NaN
53423,2016-10-19,Тюмень,57.161297,65.525017,Clear,clear-night,snow,0.00,0.00,-1.14,0.92,NaN,NaN,9.98,NaN,NaN
53424,2016-10-19,Новоалтайск,53.441572,83.920835,Overcast,cloudy,snow,-2.74,-8.06,-5.39,0.82,4.58,63.0,10.70,1.00,1008.74
53425,2016-10-19,Энгельс,51.475330,46.113677,Mostly Cloudy,partly-cloudy-night,rain,3.40,-0.03,0.00,0.78,3.88,304.0,10.53,0.81,1031.07

# All in one

In [89]:
data = pd.read_csv('data_transform/target.csv')
date = pd.read_csv('data_transform/date.csv')
city = pd.read_csv('data_transform/city.csv')
not_today = pd.read_csv('data_transform/not_today.csv')
internal_features = pd.read_csv('data_transform/internal_features.csv')
weather = pd.read_csv('data_transform/weather.csv')
weather = weather[['summary', 'windSpeed', 'pressure']]
weather = pd.get_dummies(weather)


need_columns = date.columns
data[need_columns] = date[need_columns]

data = pd.merge(data, city, on='Point', how='left')
data[['CountTomorrow', 'CountYesterday']] = not_today[['CountTomorrow', 'CountYesterday']]
need_columns = internal_features.columns
data[need_columns] = internal_features[need_columns]

#need_columns = weather.columns
#data[need_columns] = weather[need_columns]

#data = pd.merge(data, dollar, on='Date', how='left')

data.to_csv('data_transform/all.csv', index=None)

In [90]:
data.columns

Index([u'Count', u'Date', u'IsTest', u'IsTrain', u'IsValidation', u'Year',
       u'Month', u'MonthDay', u'WeekDay', u'Point', u'YearDay',
       u'ThroughMonth', u'ThroughWeek', u'ThroughDay', u'CityName', u'CityID',
       u'BranchNumber', u'CountTomorrow', u'CountYesterday', u'Prev1Day',
       u'Prev2Day', u'Prev3Day', u'Prev7Day', u'Next1Day', u'Next2Day',
       u'Next3Day', u'Next7Day', u'MeanForMonth', u'MeanForMonthDay',
       u'MeanForThroughMonth', u'MeanForThroughWeek', u'MeanForWeekDay',
       u'MeanForYear', u'MeanForYearDay', u'MeanForMonthByPoints',
       u'MeanForMonthDayByPoints', u'MeanForThroughMonthByPoints',
       u'MeanForThroughWeekByPoints', u'MeanForWeekDayByPoints',
       u'MeanForYearByPoints', u'MeanForYearDayByPoints'],
      dtype='object')

In [53]:
pd.isnull(data).sum() > 0

Count                           True
Date                           False
IsTest                         False
IsTrain                        False
IsValidation                   False
Year                           False
Month                          False
MonthDay                       False
WeekDay                        False
Point                          False
YearDay                        False
ThroughMonth                   False
ThroughWeek                    False
ThroughDay                     False
CityName_x                     False
CityID_x                       False
BranchNumber_x                 False
Prev1Day                        True
Prev2Day                        True
Prev3Day                        True
Prev7Day                        True
Next1Day                        True
Next2Day                        True
Next3Day                        True
Next7Day                        True
MeanForMonth                   False
MeanForMonthDay                False
MeanForThroughMonth             True
MeanForThroughWeek              True
MeanForWeekDay                 False
MeanForYear                    False
MeanForYearDay                  True
MeanForMonthByPoints            True
MeanForMonthDayByPoints         True
MeanForThroughMonthByPoints     True
MeanForThroughWeekByPoints      True
MeanForWeekDayByPoints         False
MeanForYearByPoints            False
MeanForYearDayByPoints          True
CityName_y                     False
CityID_y                       False
BranchNumber_y                 False
CityName                       False
CityID                         False
BranchNumber                   False
dtype: bool

In [45]:
data.head()

,Count,Date,IsTest,IsTrain,IsValidation,Year,Month,MonthDay,WeekDay,Point,...,MeanForWeekDay,MeanForYear,MeanForYearDay,MeanForMonthByPoints,MeanForMonthDayByPoints,MeanForThroughMonthByPoints,MeanForThroughWeekByPoints,MeanForWeekDayByPoints,MeanForYearByPoints,MeanForYearDayByPoints
0,8.0,2011-10-06,0,0,1,2011,10,6,3,Сыктывкар-1,...,92.560479,95.235294,95.668966,273.239583,235.609756,NaN,NaN,218.161111,95.235294,272.500000
1,88.0,2011-10-07,0,0,1,2011,10,7,4,Сыктывкар-1,...,122.657260,95.235294,90.311377,273.239583,245.613636,NaN,NaN,289.264865,95.235294,192.000000
2,1.0,2011-10-09,0,0,1,2011,10,9,6,Сыктывкар-1,...,124.063804,95.235294,155.605634,273.239583,243.128205,NaN,NaN,264.547619,95.235294,263.666667
3,1.0,2011-11-15,0,1,0,2011,11,15,1,Сыктывкар-1,...,87.724591,95.235294,132.172840,256.226190,235.021739,1.000,1.000000,194.982955,95.235294,192.000000
4,2.0,2011-12-08,0,1,0,2011,12,8,3,Сыктывкар-1,...,92.560479,95.235294,71.239437,238.595960,243.511628,101.125,18.333333,218.161111,95.235294,166.000000