In [411]:
import pandas as pd
import numpy as np
import datetime
import math
import sklearn.cross_validation
from scipy import stats

In [412]:
train = pd.read_csv('data_original/train.csv')
test = pd.read_csv('data_original/test.csv')

print(len(train.Point.unique()))
print(len(test.Point.unique()))
a = set(train.Point.unique()) - (set(train.Point.unique()) & set(test.Point.unique()))
for i in a:
    print(i)
    train = train[train.Point != i]

    
test['Count'] = None
frame = [train, test]
common = pd.concat(frame)
common.Date = common.Date.apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))
common = common.sort_values(by=['Date'])

114
114

In [413]:
common

            Date              Point  Count
6712  2011-10-06        Сыктывкар-1    8.0
39414 2011-10-07        Сыктывкар-1   88.0
4141  2011-10-09        Сыктывкар-1    1.0
832   2011-11-15        Сыктывкар-1    1.0
23476 2011-12-08        Сыктывкар-1    2.0
11001 2011-12-09        Сыктывкар-1   43.0
40810 2011-12-10        Сыктывкар-1   10.0
44315 2011-12-11        Сыктывкар-1    1.0
22002 2011-12-13        Сыктывкар-1   60.0
6805  2011-12-14        Сыктывкар-1    NaN
22204 2011-12-15        Сыктывкар-1   96.0
28880 2011-12-16        Сыктывкар-1  134.0
28936 2011-12-17        Сыктывкар-1  112.0
2146  2011-12-18        Сыктывкар-1  100.0
5116  2011-12-19        Сыктывкар-1    NaN
33407 2011-12-20        Сыктывкар-1   73.0
22112 2011-12-21        Сыктывкар-1   94.0
41261 2011-12-22        Сыктывкар-1   94.0
10451 2011-12-23        Сыктывкар-1  129.0
9083  2011-12-24        Сыктывкар-1  164.0
4062  2011-12-25        Сыктывкар-1  122.0
1812  2011-12-26        Сыктывкар-1    NaN
902   2011-12-27        Сыктывкар-1    NaN
4087  2011-12-28        Сыктывкар-1  128.0
20539 2011-12-29        Сыктывкар-1  172.0
1290  2011-12-30        Сыктывкар-1  223.0
12287 2011-12-31        Сыктывкар-1   68.0
6036  2012-01-01        Сыктывкар-1  100.0
45667 2012-01-02        Сыктывкар-1  169.0
6893  2012-01-03        Сыктывкар-1  142.0
...          ...                ...    ...
19695 2016-10-19           Мытищи-1   70.0
34704 2016-10-19          Королев-1   93.0
12631 2016-10-19      Октябрьский-1   76.0
20980 2016-10-19         Таганрог-1  232.0
13930 2016-10-19         Москва 1-1   69.0
14877 2016-10-19      Лениногорск-1   30.0
3268  2016-10-19       Чайковский-1   41.0
7412  2016-10-19  Железнодорожный-1  105.0
14881 2016-10-19   Ханты-Мансийск-1   69.0
35822 2016-10-19     Электросталь-1   56.0
35795 2016-10-19   Новочебоксарск-1   33.0
25551 2016-10-19        Сыктывкар-3   85.0
906   2016-10-19        Астрахань-1   63.0
7609  2016-10-19          Дмитров-1   66.0
18709 2016-10-19         Смоленск-1  144.0
32901 2016-10-19         Тобольск-1   84.0
5903  2016-10-19        Челябинск-1  127.0
25458 2016-10-19        Раменское-1   43.0
18843 2016-10-19  Нижний Новгород-1  185.0
30905 2016-10-19        Сыктывкар-4   33.0
23680 2016-10-19   Ростов-на-Дону-1  239.0
35460 2016-10-19           Казань-1  174.0
21468 2016-10-19        Сыктывкар-1  155.0
1822  2016-10-19          Саратов-1  178.0
29189 2016-10-19         Балаково-1   74.0
39492 2016-10-19         Одинцово-1   76.0
35272 2016-10-19         Москва 1-5   75.0
9893  2016-10-19             Сочи-1  129.0
9832  2016-10-19          Вологда-1   48.0
11084 2016-10-19        Сыктывкар-2   80.0

[53385 rows x 3 columns]

In [414]:
common.to_csv('data_original/common.csv', index=None)
train.to_csv('data_original/train.csv', index=None)
test.to_csv('data_original/test.csv', index=None)

# date.csv

In [415]:
date = pd.read_csv('data_original/common.csv')[['Date']]
date.Date = date.Date.apply(lambda x: pd.to_datetime(x))

In [416]:
start_date = date.iloc[0]['Date']
date['Year'] = date.Date.apply(lambda x: x.year)
date['Month'] = date.Date.apply(lambda x: x.month)
date['MonthDay'] = date.Date.apply(lambda x: x.day)
date['WeekDay'] = date.Date.apply(lambda x: x.weekday())
date['Point'] = pd.Series(common.Point.as_matrix())

In [417]:
date['YearDay'] = date.Date.apply(lambda x: (x-pd.to_datetime(str(x.year)+'-01-01')).days)

In [418]:
date['ThroughMonth'] = date.Date.apply(lambda x: (x.year - start_date.year) * 12 + x.month - start_date.month)

In [419]:
date['ThroughWeek'] = date.Date.apply(lambda x: int( ( (x - start_date).days + start_date.weekday()) / 7))

In [420]:
date['ThroughDay'] = date.Date.apply(lambda x: (x - start_date).days)

In [421]:
date.to_csv('data_transform/date.csv', index=None)

In [422]:
date.head(10)

,Date,Year,Month,MonthDay,WeekDay,Point,YearDay,ThroughMonth,ThroughWeek,ThroughDay
0,2011-10-06,2011,10,6,3,Сыктывкар-1,278,0,0,0
1,2011-10-07,2011,10,7,4,Сыктывкар-1,279,0,0,1
2,2011-10-09,2011,10,9,6,Сыктывкар-1,281,0,0,3
3,2011-11-15,2011,11,15,1,Сыктывкар-1,318,1,6,40
4,2011-12-08,2011,12,8,3,Сыктывкар-1,341,2,9,63
5,2011-12-09,2011,12,9,4,Сыктывкар-1,342,2,9,64
6,2011-12-10,2011,12,10,5,Сыктывкар-1,343,2,9,65
7,2011-12-11,2011,12,11,6,Сыктывкар-1,344,2,9,66
8,2011-12-13,2011,12,13,1,Сыктывкар-1,346,2,10,68
9,2011-12-14,2011,12,14,2,Сыктывкар-1,347,2,10,69

# target.csv

In [423]:
sizeValidationSample = 0.16

In [424]:
target = pd.read_csv('data_original/common.csv')[['Count', 'Date']]
#target['Point'] = pd.Series(common.Point.as_matrix())
target['IsTest'] = target.Count
target['IsTrain'] = pd.Series(range(target.shape[0]))
target['IsValidation'] = pd.Series(range(target.shape[0]))

In [425]:
target['IsTest'] = target.IsTest.apply(lambda x: 1 if math.isnan(x) else 0)

In [426]:
withCountValue = target[target.IsTest == 0].index
indexTrain, indexValidation = sklearn.cross_validation.train_test_split(withCountValue, test_size=sizeValidationSample)

In [427]:
dates = target.Date[target.IsTest == 1]
test_date_count = dates.unique().shape[0]
print(test_date_count)
dates = target.Date[target.IsTest == 0].unique()
np.random.shuffle(dates)
validation_dates = dates[:test_date_count]
validation_dates
target['IsValidation'] = target.Date.apply(lambda x: 1 if x in validation_dates else 0)
target

268

       Count        Date  IsTest  IsTrain  IsValidation
0        8.0  2011-10-06       0        0             1
1       88.0  2011-10-07       0        1             0
2        1.0  2011-10-09       0        2             0
3        1.0  2011-11-15       0        3             0
4        2.0  2011-12-08       0        4             0
5       43.0  2011-12-09       0        5             0
6       10.0  2011-12-10       0        6             0
7        1.0  2011-12-11       0        7             1
8       60.0  2011-12-13       0        8             0
9        NaN  2011-12-14       1        9             0
10      96.0  2011-12-15       0       10             0
11     134.0  2011-12-16       0       11             0
12     112.0  2011-12-17       0       12             0
13     100.0  2011-12-18       0       13             1
14       NaN  2011-12-19       1       14             0
15      73.0  2011-12-20       0       15             0
16      94.0  2011-12-21       0       16             0
17      94.0  2011-12-22       0       17             0
18     129.0  2011-12-23       0       18             0
19     164.0  2011-12-24       0       19             0
20     122.0  2011-12-25       0       20             1
21       NaN  2011-12-26       1       21             0
22       NaN  2011-12-27       1       22             0
23     128.0  2011-12-28       0       23             0
24     172.0  2011-12-29       0       24             0
25     223.0  2011-12-30       0       25             0
26      68.0  2011-12-31       0       26             1
27     100.0  2012-01-01       0       27             0
28     169.0  2012-01-02       0       28             0
29     142.0  2012-01-03       0       29             1
...      ...         ...     ...      ...           ...
53355   70.0  2016-10-19       0    53355             1
53356   93.0  2016-10-19       0    53356             1
53357   76.0  2016-10-19       0    53357             1
53358  232.0  2016-10-19       0    53358             1
53359   69.0  2016-10-19       0    53359             1
53360   30.0  2016-10-19       0    53360             1
53361   41.0  2016-10-19       0    53361             1
53362  105.0  2016-10-19       0    53362             1
53363   69.0  2016-10-19       0    53363             1
53364   56.0  2016-10-19       0    53364             1
53365   33.0  2016-10-19       0    53365             1
53366   85.0  2016-10-19       0    53366             1
53367   63.0  2016-10-19       0    53367             1
53368   66.0  2016-10-19       0    53368             1
53369  144.0  2016-10-19       0    53369             1
53370   84.0  2016-10-19       0    53370             1
53371  127.0  2016-10-19       0    53371             1
53372   43.0  2016-10-19       0    53372             1
53373  185.0  2016-10-19       0    53373             1
53374   33.0  2016-10-19       0    53374             1
53375  239.0  2016-10-19       0    53375             1
53376  174.0  2016-10-19       0    53376             1
53377  155.0  2016-10-19       0    53377             1
53378  178.0  2016-10-19       0    53378             1
53379   74.0  2016-10-19       0    53379             1
53380   76.0  2016-10-19       0    53380             1
53381   75.0  2016-10-19       0    53381             1
53382  129.0  2016-10-19       0    53382             1
53383   48.0  2016-10-19       0    53383             1
53384   80.0  2016-10-19       0    53384             1

[53385 rows x 5 columns]

In [428]:
target['IsTrain'] = 1
indexes = target[np.logical_or(target.IsValidation == 1, target.IsTest == 1)].index
target.IsTrain.loc[indexes] = 0
#target['IsValidation'] = target.IsValidation.apply(lambda x: 1 if ((x in indexValidation) & (target.IsValidation[x] == 0)) else 0)

/opt/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [429]:
target.to_csv('data_transform/target.csv', index = None)

In [430]:
CountWithouthNaNValueValidation = target.Count.copy()

In [431]:
target.Count.loc[target.Count[target.IsValidation == 1].index] = np.nan

/opt/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [432]:
target.head(20)

    Count        Date  IsTest  IsTrain  IsValidation
0     NaN  2011-10-06       0        0             1
1    88.0  2011-10-07       0        1             0
2     1.0  2011-10-09       0        1             0
3     1.0  2011-11-15       0        1             0
4     2.0  2011-12-08       0        1             0
5    43.0  2011-12-09       0        1             0
6    10.0  2011-12-10       0        1             0
7     NaN  2011-12-11       0        0             1
8    60.0  2011-12-13       0        1             0
9     NaN  2011-12-14       1        0             0
10   96.0  2011-12-15       0        1             0
11  134.0  2011-12-16       0        1             0
12  112.0  2011-12-17       0        1             0
13    NaN  2011-12-18       0        0             1
14    NaN  2011-12-19       1        0             0
15   73.0  2011-12-20       0        1             0
16   94.0  2011-12-21       0        1             0
17   94.0  2011-12-22       0        1             0
18  129.0  2011-12-23       0        1             0
19  164.0  2011-12-24       0        1             0

In [433]:
target

       Count        Date  IsTest  IsTrain  IsValidation
0        NaN  2011-10-06       0        0             1
1       88.0  2011-10-07       0        1             0
2        1.0  2011-10-09       0        1             0
3        1.0  2011-11-15       0        1             0
4        2.0  2011-12-08       0        1             0
5       43.0  2011-12-09       0        1             0
6       10.0  2011-12-10       0        1             0
7        NaN  2011-12-11       0        0             1
8       60.0  2011-12-13       0        1             0
9        NaN  2011-12-14       1        0             0
10      96.0  2011-12-15       0        1             0
11     134.0  2011-12-16       0        1             0
12     112.0  2011-12-17       0        1             0
13       NaN  2011-12-18       0        0             1
14       NaN  2011-12-19       1        0             0
15      73.0  2011-12-20       0        1             0
16      94.0  2011-12-21       0        1             0
17      94.0  2011-12-22       0        1             0
18     129.0  2011-12-23       0        1             0
19     164.0  2011-12-24       0        1             0
20       NaN  2011-12-25       0        0             1
21       NaN  2011-12-26       1        0             0
22       NaN  2011-12-27       1        0             0
23     128.0  2011-12-28       0        1             0
24     172.0  2011-12-29       0        1             0
25     223.0  2011-12-30       0        1             0
26       NaN  2011-12-31       0        0             1
27     100.0  2012-01-01       0        1             0
28     169.0  2012-01-02       0        1             0
29       NaN  2012-01-03       0        0             1
...      ...         ...     ...      ...           ...
53355    NaN  2016-10-19       0        0             1
53356    NaN  2016-10-19       0        0             1
53357    NaN  2016-10-19       0        0             1
53358    NaN  2016-10-19       0        0             1
53359    NaN  2016-10-19       0        0             1
53360    NaN  2016-10-19       0        0             1
53361    NaN  2016-10-19       0        0             1
53362    NaN  2016-10-19       0        0             1
53363    NaN  2016-10-19       0        0             1
53364    NaN  2016-10-19       0        0             1
53365    NaN  2016-10-19       0        0             1
53366    NaN  2016-10-19       0        0             1
53367    NaN  2016-10-19       0        0             1
53368    NaN  2016-10-19       0        0             1
53369    NaN  2016-10-19       0        0             1
53370    NaN  2016-10-19       0        0             1
53371    NaN  2016-10-19       0        0             1
53372    NaN  2016-10-19       0        0             1
53373    NaN  2016-10-19       0        0             1
53374    NaN  2016-10-19       0        0             1
53375    NaN  2016-10-19       0        0             1
53376    NaN  2016-10-19       0        0             1
53377    NaN  2016-10-19       0        0             1
53378    NaN  2016-10-19       0        0             1
53379    NaN  2016-10-19       0        0             1
53380    NaN  2016-10-19       0        0             1
53381    NaN  2016-10-19       0        0             1
53382    NaN  2016-10-19       0        0             1
53383    NaN  2016-10-19       0        0             1
53384    NaN  2016-10-19       0        0             1

[53385 rows x 5 columns]

# city.csv

In [434]:
cities = pd.read_csv('data_original/common.csv')[['Point']].Point.unique()
city = pd.DataFrame()
city['Point'] = pd.Series(cities)
city['CityName'] = city.Point.apply(lambda x: '-'.join(x.split('-')[0:-1]))
city_names = city.CityName.unique()
city['CityID'] = city.CityName.apply(lambda x: np.where(city_names == x)[0][0]) 
city['BranchNumber'] = city.Point.apply(lambda x: x.split('-')[-1:][0])
# Москва 1 -> Москва
city['CityName'] = city.CityName.apply(lambda x: ('Москва' if x == 'Москва 1' else x))
city.to_csv('data_transform/city.csv', index = None)

In [435]:
city.head(10)

         Point   CityName  CityID BranchNumber
0  Сыктывкар-1  Сыктывкар       0            1
1  Сыктывкар-2  Сыктывкар       0            2
2       Ухта-1       Ухта       1            1
3   Смоленск-1   Смоленск       2            1
4    Сарапул-1    Сарапул       3            1
5     Самара-1     Самара       4            1
6  Челябинск-1  Челябинск       5            1
7   Белгород-1   Белгород       6            1
8   Смоленск-2   Смоленск       2            2
9     Самара-2     Самара       4            2

# internal_features.csv

In [436]:
src = pd.read_csv('data_transform/date.csv')
src['Point'] = pd.read_csv('data_original/common.csv')['Point']
src['Count'] = target.Count
dst = pd.DataFrame()

In [437]:
src.head(15)

,Date,Year,Month,MonthDay,WeekDay,Point,YearDay,ThroughMonth,ThroughWeek,ThroughDay,Count
0,2011-10-06,2011,10,6,3,Сыктывкар-1,278,0,0,0,NaN
1,2011-10-07,2011,10,7,4,Сыктывкар-1,279,0,0,1,88.0
2,2011-10-09,2011,10,9,6,Сыктывкар-1,281,0,0,3,1.0
3,2011-11-15,2011,11,15,1,Сыктывкар-1,318,1,6,40,1.0
4,2011-12-08,2011,12,8,3,Сыктывкар-1,341,2,9,63,2.0
5,2011-12-09,2011,12,9,4,Сыктывкар-1,342,2,9,64,43.0
6,2011-12-10,2011,12,10,5,Сыктывкар-1,343,2,9,65,10.0
7,2011-12-11,2011,12,11,6,Сыктывкар-1,344,2,9,66,NaN
8,2011-12-13,2011,12,13,1,Сыктывкар-1,346,2,10,68,60.0
9,2011-12-14,2011,12,14,2,Сыктывкар-1,347,2,10,69,NaN
10,2011-12-15,2011,12,15,3,Сыктывкар-1,348,2,10,70,96.0
11,2011-12-16,2011,12,16,4,Сыктывкар-1,349,2,10,71,134.0
12,2011-12-17,2011,12,17,5,Сыктывкар-1,350,2,10,72,112.0
13,2011-12-18,2011,12,18,6,Сыктывкар-1,351,2,10,73,NaN
14,2011-12-19,2011,12,19,0,Сыктывкар-1,352,2,11,74,NaN

## Next-Prev N Value

In [438]:
def GetValueForNPrevNextDay(n, target, src):
    targetCopy = target.copy()
    targetCopy.Count.loc[targetCopy.IsValidation == 1] = np.nan

    targetCopy['Point'] = src.Point

    city = src.Point.unique()

    result = np.array([np.nan] * targetCopy.shape[0])
    for i in city:
        value = targetCopy.Count[targetCopy.Point == i].shift(n)
        for j in value.index:
            result[j] = value[j]


    prefics = "Prev" if n > 0 else "Next"
    targetCopy[prefics + str(abs(n)) + "Day"] = pd.Series(result)
    del targetCopy["Point"]
    return targetCopy[prefics + str(abs(n)) + "Day"]

In [439]:
#target["Prev1Day"] = GetValueForNPrevNextDay(1, target, src)
#target["Prev2Day"] = GetValueForNPrevNextDay(2, target, src)
#target["Prev3Day"] = GetValueForNPrevNextDay(3, target, src)
#target["Prev7Day"] = GetValueForNPrevNextDay(7, target, src)

In [440]:
#target["Next1Day"] = GetValueForNPrevNextDay(-1, target, src)
#target["Next2Day"] = GetValueForNPrevNextDay(-2, target, src)
#target["Next3Day"] = GetValueForNPrevNextDay(-3, target, src)
#target["Next7Day"] = GetValueForNPrevNextDay(-7, target, src)

In [441]:
#target.to_csv('data_transform/target.csv', index = None)

In [442]:
target.head(20)

    Count        Date  IsTest  IsTrain  IsValidation
0     NaN  2011-10-06       0        0             1
1    88.0  2011-10-07       0        1             0
2     1.0  2011-10-09       0        1             0
3     1.0  2011-11-15       0        1             0
4     2.0  2011-12-08       0        1             0
5    43.0  2011-12-09       0        1             0
6    10.0  2011-12-10       0        1             0
7     NaN  2011-12-11       0        0             1
8    60.0  2011-12-13       0        1             0
9     NaN  2011-12-14       1        0             0
10   96.0  2011-12-15       0        1             0
11  134.0  2011-12-16       0        1             0
12  112.0  2011-12-17       0        1             0
13    NaN  2011-12-18       0        0             1
14    NaN  2011-12-19       1        0             0
15   73.0  2011-12-20       0        1             0
16   94.0  2011-12-21       0        1             0
17   94.0  2011-12-22       0        1             0
18  129.0  2011-12-23       0        1             0
19  164.0  2011-12-24       0        1             0

## Mean

### by date independed from points

In [443]:
def calc_mean(src, group_column, target_column):
    mean = src.groupby([group_column])[target_column].mean()
    return src[group_column].apply(lambda x: mean[x])

In [444]:
need_mean_list = src.columns.difference(['Date', 'Count', 'Point'])
for column in need_mean_list:
    dst['MeanFor' + column] = calc_mean(src, column, 'Count')

In [445]:
dst.head(15)

,MeanForMonth,MeanForMonthDay,MeanForThroughDay,MeanForThroughMonth,MeanForThroughWeek,MeanForWeekDay,MeanForYear,MeanForYearDay
0,112.169891,104.965901,NaN,44.500000,44.500000,91.609235,90.222222,95.668966
1,112.169891,106.206302,88.0,44.500000,44.500000,122.180506,90.222222,89.567416
2,112.169891,105.964580,1.0,44.500000,44.500000,123.046591,90.222222,106.166667
3,100.172292,112.235336,1.0,1.000000,1.000000,87.417214,90.222222,126.147727
4,104.290971,107.566723,2.0,102.266667,18.333333,91.609235,90.222222,76.451220
5,104.290971,105.964580,43.0,102.266667,18.333333,122.180506,90.222222,76.759615
6,104.290971,105.938329,10.0,102.266667,18.333333,143.187179,90.222222,77.217391
7,104.290971,105.069268,NaN,102.266667,18.333333,123.046591,90.222222,105.086022
8,104.290971,99.680982,60.0,102.266667,100.500000,87.417214,90.222222,124.409639
9,104.290971,103.970904,NaN,102.266667,100.500000,87.628759,90.222222,160.363636
10,104.290971,112.235336,96.0,102.266667,100.500000,91.609235,90.222222,84.543478
11,104.290971,102.763458,134.0,102.266667,100.500000,122.180506,90.222222,78.140000
12,104.290971,106.011261,112.0,102.266667,100.500000,143.187179,90.222222,85.392857
13,104.290971,100.301533,NaN,102.266667,100.500000,123.046591,90.222222,97.642202
14,104.290971,101.123348,NaN,102.266667,110.800000,85.539367,90.222222,128.174312

### by date depended from points

In [446]:
def map_group_two_key(group, x, y):
    return group[x][y]

def calc_mean_by_columns(src, group_columns, target_column):
    mean = src.groupby(group_columns)[target_column].mean()
    return src[group_columns].apply(lambda x: map_group_two_key(mean, *x), axis=1)

In [447]:
need_list = src.columns.difference(['Date', 'Count', 'Point'])

In [448]:
for column in need_list:
    dst['MeanFor' + column + 'ByPoints'] = calc_mean_by_columns(src, [column, 'Point'], 'Count')

In [449]:
dst['Point'] = pd.read_csv('data_original/common.csv')['Point']
dst.to_csv('data_transform/internal_features.csv', index=None)

In [450]:
dst

,MeanForMonth,MeanForMonthDay,MeanForThroughDay,MeanForThroughMonth,MeanForThroughWeek,MeanForWeekDay,MeanForYear,MeanForYearDay,MeanForMonthByPoints,MeanForMonthDayByPoints,MeanForThroughDayByPoints,MeanForThroughMonthByPoints,MeanForThroughWeekByPoints,MeanForWeekDayByPoints,MeanForYearByPoints,MeanForYearDayByPoints,Point
0,112.169891,104.965901,NaN,44.500000,44.500000,91.609235,90.222222,95.668966,267.826923,231.285714,NaN,44.500000,44.500000,213.406593,90.222222,272.500000,Сыктывкар-1
1,112.169891,106.206302,88.0,44.500000,44.500000,122.180506,90.222222,89.567416,267.826923,254.454545,88.0,44.500000,44.500000,287.532967,90.222222,185.250000,Сыктывкар-1
2,112.169891,105.964580,1.0,44.500000,44.500000,123.046591,90.222222,106.166667,267.826923,232.634146,1.0,44.500000,44.500000,262.294118,90.222222,204.250000,Сыктывкар-1
3,100.172292,112.235336,1.0,1.000000,1.000000,87.417214,90.222222,126.147727,250.382716,235.822222,1.0,1.000000,1.000000,198.060773,90.222222,190.250000,Сыктывкар-1
4,104.290971,107.566723,2.0,102.266667,18.333333,91.609235,90.222222,76.451220,235.745098,249.121951,2.0,102.266667,18.333333,213.406593,90.222222,190.750000,Сыктывкар-1
5,104.290971,105.964580,43.0,102.266667,18.333333,122.180506,90.222222,76.759615,235.745098,232.634146,43.0,102.266667,18.333333,287.532967,90.222222,183.800000,Сыктывкар-1
6,104.290971,105.938329,10.0,102.266667,18.333333,143.187179,90.222222,77.217391,235.745098,221.853659,10.0,102.266667,18.333333,317.926966,90.222222,73.500000,Сыктывкар-1
7,104.290971,105.069268,NaN,102.266667,18.333333,123.046591,90.222222,105.086022,235.745098,234.216216,NaN,102.266667,18.333333,262.294118,90.222222,217.666667,Сыктывкар-1
8,104.290971,99.680982,60.0,102.266667,100.500000,87.417214,90.222222,124.409639,235.745098,209.485714,60.0,102.266667,100.500000,198.060773,90.222222,197.750000,Сыктывкар-1
9,104.290971,103.970904,NaN,102.266667,100.500000,87.628759,90.222222,160.363636,235.745098,243.195122,NaN,102.266667,100.500000,199.602339,90.222222,374.000000,Сыктывкар-1
10,104.290971,112.235336,96.0,102.266667,100.500000,91.609235,90.222222,84.543478,235.745098,235.822222,96.0,102.266667,100.500000,213.406593,90.222222,204.750000,Сыктывкар-1
11,104.290971,102.763458,134.0,102.266667,100.500000,122.180506,90.222222,78.140000,235.745098,232.459459,134.0,102.266667,100.500000,287.532967,90.222222,150.000000,Сыктывкар-1
12,104.290971,106.011261,112.0,102.266667,100.500000,143.187179,90.222222,85.392857,235.745098,208.575000,112.0,102.266667,100.500000,317.926966,90.222222,201.500000,Сыктывкар-1
13,104.290971,100.301533,NaN,102.266667,100.500000,123.046591,90.222222,97.642202,235.745098,223.725000,NaN,102.266667,100.500000,262.294118,90.222222,221.000000,Сыктывкар-1
14,104.290971,101.123348,NaN,102.266667,110.800000,85.539367,90.222222,128.174312,235.745098,227.209302,NaN,102.266667,110.800000,200.425414,90.222222,246.250000,Сыктывкар-1
15,104.290971,109.544540,73.0,102.266667,110.800000,87.417214,90.222222,125.200000,235.745098,249.866667,73.0,102.266667,110.800000,198.060773,90.222222,227.200000,Сыктывкар-1
16,104.290971,106.714528,94.0,102.266667,110.800000,87.628759,90.222222,93.772727,235.745098,256.421053,94.0,102.266667,110.800000,199.602339,90.222222,225.000000,Сыктывкар-1
17,104.290971,105.408042,94.0,102.266667,110.800000,91.609235,90.222222,90.642857,235.745098,247.372093,94.0,102.266667,110.800000,213.406593,90.222222,224.750000,Сыктывкар-1
18,104.290971,107.734761,129.0,102.266667,110.800000,122.180506,90.222222,90.654762,235.745098,255.833333,129.0,102.266667,110.800000,287.532967,90.222222,232.250000,Сыктывкар-1
19,104.290971,111.126883,164.0,102.266667,110.800000,143.187179,90.222222,95.313131,235.745098,226.800000,164.0,102.266667,110.800000,317.926966,90.222222,240.000000,Сыктывкар-1
20,104.290971,103.955466,NaN,102.266667,110.800000,123.046591,90.222222,106.909091,235.745098,239.627907,NaN,102.266667,110.800000,262.294118,90.222222,215.000000,Сыктывкар-1
21,104.290971,104.523153,NaN,102.266667,155.750000,85.539367,90.222222,153.714286,235.745098,247.175000,NaN,102.266667,155.750000,200.425414,90.222222,315.500000,Сыктывкар-1
22,104.290971,113.611486,NaN,102.266667,155.750000,87.417214,90.222222,152.063830,235.745098,256.902439,NaN,102.266667,155.750000,198.060773,90.222222,371.333333,Сыктывкар-1
23,104.290971,102.407222,128.0,102.266667,155.750000,87.628759,90.222222,112.864865,235.745098,242.476190,128.0,102.266667,155.750000,199.602339,90.222222,252.666667,Сыктывкар-1
24,104.290971,102.507862,172.0,102.266667,155.750000,91.609235,90.222222,132.569767,235.745098,241.333333,172.0,102.266667,155.750000,213.406593,90.222222,328.250000,Сыктывкар-1
25,104.290971,110.843444,223.0,102.266667,155.750000,122.180506,90.222222,190.888889,235.745098,238.757576,223.0,102.266667,155.750000,287.532967,90.222222,491.000000,Сыктывкар-1
26,104.290971,106.686856,NaN,102.266667,155.750000,143.187179,90.222222,89.922078,235.745098,250.391304,NaN,102.266667,155.750000,317.926966,90.222222,319.500000,Сыктывкар-1
27,107.895481,121.592667,100.0,133.608696,155.750000,123.046591,107.212516,98.441176,242.879630,274.139535,100.0,133.608696,155.750000,262.294118,220.374016,260.333333,Сыктывкар-1
28,107.895481,98.475748,169.0,133.608696,136.000000,85.539367,107.212516,139.166667,242.879630,247.175000,169.0,133.608696,136.000000,200.425414,220.374016,255.500000,Сыктывкар-1
29,107.895481,105.356193,NaN,133.608696,136.000000,87.417214,107.212516,141.459459,242.879630,249.133333,NaN,133.608696,136.000000,198.060773,220.374016,375.000000,Сыктывкар-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53355,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,77.756757,66.000000,NaN,100.500000,77.000000,58.816327,86.929577,NaN,Мытищи-1
53356,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,118.027027,95.866667,NaN,134.642857,100.000000,71.419355,114.938967,NaN,Королев-1
53357,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,89.280702,82.750000,NaN,89.428571,62.000000,74.478723,94.319249,79.000000,Октябрьский-1
53358,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,178.368421,154.347826,NaN,268.928571,172.000000,138.534091,231.718310,91.000000,Таганрог-1
53359,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,114.714286,82.600000,NaN,114.714286,58.000000,83.322581,104.093897,NaN,Москва 1-1
53360,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,29.642857,18.000000,NaN,29.642857,17.000000,38.615385,38.289855,NaN,Лениногорск-1
53361,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,60.513514,51.700000,NaN,63.785714,47.000000,51.613636,69.615023,NaN,Чайковский-1
53362,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,159.214286,96.333333,NaN,159.214286,94.000000,86.000000,119.563380,NaN,Железнодорожный-1
53363,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,98.357143,56.000000,NaN,98.357143,81.000000,56.535714,67.118280,NaN,Ханты-Мансийск-1
53364,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,77.642857,56.000000,NaN,77.642857,29.000000,42.705882,54.126316,NaN,Электросталь-1
53365,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,38.571429,40.333333,NaN,38.571429,24.000000,41.235294,46.737089,NaN,Новочебоксарск-1
53366,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,123.161290,101.769231,NaN,121.571429,79.000000,91.356436,118.356808,68.000000,Сыктывкар-3
53367,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,53.135135,49.727273,NaN,61.642857,35.000000,43.137255,59.370892,NaN,Астрахань-1
53368,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,41.785714,NaN,NaN,41.785714,63.000000,18.000000,33.772727,NaN,Дмитров-1
53369,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,134.803922,134.243243,NaN,183.928571,126.000000,116.430556,184.140845,116.333333,Смоленск-1
53370,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,102.857143,59.500000,NaN,102.857143,74.000000,72.523810,75.514706,NaN,Тобольск-1
53371,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,98.362500,84.485714,NaN,124.000000,96.000000,76.794118,125.239437,70.000000,Челябинск-1
53372,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,61.285714,39.000000,NaN,61.285714,54.000000,51.111111,58.760000,NaN,Раменское-1
53373,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,149.214286,117.000000,NaN,149.214286,85.000000,112.600000,120.182540,NaN,Нижний Новгород-1
53374,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,57.321429,55.541667,NaN,67.071429,39.000000,41.652174,64.300469,28.000000,Сыктывкар-4
53375,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,173.378378,129.933333,NaN,232.357143,187.000000,123.426230,169.084507,NaN,Ростов-на-Дону-1
53376,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,173.928571,105.500000,NaN,173.928571,133.000000,124.521739,134.931034,NaN,Казань-1
53377,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,267.826923,227.209302,NaN,226.785714,173.000000,199.602339,222.112676,320.666667,Сыктывкар-1
53378,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,117.702703,97.000000,NaN,153.857143,135.000000,103.878049,123.399061,NaN,Саратов-1
53379,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,69.142857,54.750000,NaN,69.142857,36.000000,61.107143,69.344262,NaN,Балаково-1
53380,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,96.756757,97.555556,NaN,161.857143,180.000000,87.048780,129.854460,NaN,Одинцово-1
53381,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,116.142857,60.000000,NaN,116.142857,69.000000,51.400000,83.490566,NaN,Москва 1-5
53382,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,148.857143,117.000000,NaN,148.857143,103.000000,145.958333,149.959732,NaN,Сочи-1
53383,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,48.594595,46.888889,NaN,72.071429,48.000000,49.475000,64.309859,NaN,Вологда-1
53384,112.169891,101.123348,NaN,121.196078,86.696429,87.628759,111.674363,99.666667,67.872549,57.250000,NaN,92.285714,65.000000,52.857143,96.384977,52.000000,Сыктывкар-2

# All in one

In [451]:
data = pd.read_csv('data_transform/target.csv')

In [452]:
data

       Count        Date  IsTest  IsTrain  IsValidation
0        8.0  2011-10-06       0        0             1
1       88.0  2011-10-07       0        1             0
2        1.0  2011-10-09       0        1             0
3        1.0  2011-11-15       0        1             0
4        2.0  2011-12-08       0        1             0
5       43.0  2011-12-09       0        1             0
6       10.0  2011-12-10       0        1             0
7        1.0  2011-12-11       0        0             1
8       60.0  2011-12-13       0        1             0
9        NaN  2011-12-14       1        0             0
10      96.0  2011-12-15       0        1             0
11     134.0  2011-12-16       0        1             0
12     112.0  2011-12-17       0        1             0
13     100.0  2011-12-18       0        0             1
14       NaN  2011-12-19       1        0             0
15      73.0  2011-12-20       0        1             0
16      94.0  2011-12-21       0        1             0
17      94.0  2011-12-22       0        1             0
18     129.0  2011-12-23       0        1             0
19     164.0  2011-12-24       0        1             0
20     122.0  2011-12-25       0        0             1
21       NaN  2011-12-26       1        0             0
22       NaN  2011-12-27       1        0             0
23     128.0  2011-12-28       0        1             0
24     172.0  2011-12-29       0        1             0
25     223.0  2011-12-30       0        1             0
26      68.0  2011-12-31       0        0             1
27     100.0  2012-01-01       0        1             0
28     169.0  2012-01-02       0        1             0
29     142.0  2012-01-03       0        0             1
...      ...         ...     ...      ...           ...
53355   70.0  2016-10-19       0        0             1
53356   93.0  2016-10-19       0        0             1
53357   76.0  2016-10-19       0        0             1
53358  232.0  2016-10-19       0        0             1
53359   69.0  2016-10-19       0        0             1
53360   30.0  2016-10-19       0        0             1
53361   41.0  2016-10-19       0        0             1
53362  105.0  2016-10-19       0        0             1
53363   69.0  2016-10-19       0        0             1
53364   56.0  2016-10-19       0        0             1
53365   33.0  2016-10-19       0        0             1
53366   85.0  2016-10-19       0        0             1
53367   63.0  2016-10-19       0        0             1
53368   66.0  2016-10-19       0        0             1
53369  144.0  2016-10-19       0        0             1
53370   84.0  2016-10-19       0        0             1
53371  127.0  2016-10-19       0        0             1
53372   43.0  2016-10-19       0        0             1
53373  185.0  2016-10-19       0        0             1
53374   33.0  2016-10-19       0        0             1
53375  239.0  2016-10-19       0        0             1
53376  174.0  2016-10-19       0        0             1
53377  155.0  2016-10-19       0        0             1
53378  178.0  2016-10-19       0        0             1
53379   74.0  2016-10-19       0        0             1
53380   76.0  2016-10-19       0        0             1
53381   75.0  2016-10-19       0        0             1
53382  129.0  2016-10-19       0        0             1
53383   48.0  2016-10-19       0        0             1
53384   80.0  2016-10-19       0        0             1

[53385 rows x 5 columns]

In [453]:
date = pd.read_csv('data_transform/date.csv')
city = pd.read_csv('data_transform/city.csv')
internal_features = pd.read_csv('data_transform/internal_features.csv')

need_columns = date.columns
data[need_columns] = date[need_columns]

data = pd.merge(data, city, on='Point', how='left')

need_columns = internal_features.columns
data[need_columns] = internal_features[need_columns]

#data = pd.merge(data, dollar, on='Date', how='left')

data.to_csv('data_transform/all.csv', index=None)

In [454]:
pd.isnull(data).sum() > 0

Count                           True
Date                           False
IsTest                         False
IsTrain                        False
IsValidation                   False
Year                           False
Month                          False
MonthDay                       False
WeekDay                        False
Point                          False
YearDay                        False
ThroughMonth                   False
ThroughWeek                    False
ThroughDay                     False
CityName                       False
CityID                         False
BranchNumber                   False
MeanForMonth                   False
MeanForMonthDay                False
MeanForThroughDay               True
MeanForThroughMonth            False
MeanForThroughWeek             False
MeanForWeekDay                 False
MeanForYear                    False
MeanForYearDay                  True
MeanForMonthByPoints            True
MeanForMonthDayByPoints         True
MeanForThroughDayByPoints       True
MeanForThroughMonthByPoints     True
MeanForThroughWeekByPoints      True
MeanForWeekDayByPoints         False
MeanForYearByPoints            False
MeanForYearDayByPoints          True
dtype: bool

In [455]:
data

,Count,Date,IsTest,IsTrain,IsValidation,Year,Month,MonthDay,WeekDay,Point,...,MeanForYear,MeanForYearDay,MeanForMonthByPoints,MeanForMonthDayByPoints,MeanForThroughDayByPoints,MeanForThroughMonthByPoints,MeanForThroughWeekByPoints,MeanForWeekDayByPoints,MeanForYearByPoints,MeanForYearDayByPoints
0,8.0,2011-10-06,0,0,1,2011,10,6,3,Сыктывкар-1,...,90.222222,95.668966,267.826923,231.285714,NaN,44.500000,44.500000,213.406593,90.222222,272.500000
1,88.0,2011-10-07,0,1,0,2011,10,7,4,Сыктывкар-1,...,90.222222,89.567416,267.826923,254.454545,88.0,44.500000,44.500000,287.532967,90.222222,185.250000
2,1.0,2011-10-09,0,1,0,2011,10,9,6,Сыктывкар-1,...,90.222222,106.166667,267.826923,232.634146,1.0,44.500000,44.500000,262.294118,90.222222,204.250000
3,1.0,2011-11-15,0,1,0,2011,11,15,1,Сыктывкар-1,...,90.222222,126.147727,250.382716,235.822222,1.0,1.000000,1.000000,198.060773,90.222222,190.250000
4,2.0,2011-12-08,0,1,0,2011,12,8,3,Сыктывкар-1,...,90.222222,76.451220,235.745098,249.121951,2.0,102.266667,18.333333,213.406593,90.222222,190.750000
5,43.0,2011-12-09,0,1,0,2011,12,9,4,Сыктывкар-1,...,90.222222,76.759615,235.745098,232.634146,43.0,102.266667,18.333333,287.532967,90.222222,183.800000
6,10.0,2011-12-10,0,1,0,2011,12,10,5,Сыктывкар-1,...,90.222222,77.217391,235.745098,221.853659,10.0,102.266667,18.333333,317.926966,90.222222,73.500000
7,1.0,2011-12-11,0,0,1,2011,12,11,6,Сыктывкар-1,...,90.222222,105.086022,235.745098,234.216216,NaN,102.266667,18.333333,262.294118,90.222222,217.666667
8,60.0,2011-12-13,0,1,0,2011,12,13,1,Сыктывкар-1,...,90.222222,124.409639,235.745098,209.485714,60.0,102.266667,100.500000,198.060773,90.222222,197.750000
9,NaN,2011-12-14,1,0,0,2011,12,14,2,Сыктывкар-1,...,90.222222,160.363636,235.745098,243.195122,NaN,102.266667,100.500000,199.602339,90.222222,374.000000
10,96.0,2011-12-15,0,1,0,2011,12,15,3,Сыктывкар-1,...,90.222222,84.543478,235.745098,235.822222,96.0,102.266667,100.500000,213.406593,90.222222,204.750000
11,134.0,2011-12-16,0,1,0,2011,12,16,4,Сыктывкар-1,...,90.222222,78.140000,235.745098,232.459459,134.0,102.266667,100.500000,287.532967,90.222222,150.000000
12,112.0,2011-12-17,0,1,0,2011,12,17,5,Сыктывкар-1,...,90.222222,85.392857,235.745098,208.575000,112.0,102.266667,100.500000,317.926966,90.222222,201.500000
13,100.0,2011-12-18,0,0,1,2011,12,18,6,Сыктывкар-1,...,90.222222,97.642202,235.745098,223.725000,NaN,102.266667,100.500000,262.294118,90.222222,221.000000
14,NaN,2011-12-19,1,0,0,2011,12,19,0,Сыктывкар-1,...,90.222222,128.174312,235.745098,227.209302,NaN,102.266667,110.800000,200.425414,90.222222,246.250000
15,73.0,2011-12-20,0,1,0,2011,12,20,1,Сыктывкар-1,...,90.222222,125.200000,235.745098,249.866667,73.0,102.266667,110.800000,198.060773,90.222222,227.200000
16,94.0,2011-12-21,0,1,0,2011,12,21,2,Сыктывкар-1,...,90.222222,93.772727,235.745098,256.421053,94.0,102.266667,110.800000,199.602339,90.222222,225.000000
17,94.0,2011-12-22,0,1,0,2011,12,22,3,Сыктывкар-1,...,90.222222,90.642857,235.745098,247.372093,94.0,102.266667,110.800000,213.406593,90.222222,224.750000
18,129.0,2011-12-23,0,1,0,2011,12,23,4,Сыктывкар-1,...,90.222222,90.654762,235.745098,255.833333,129.0,102.266667,110.800000,287.532967,90.222222,232.250000
19,164.0,2011-12-24,0,1,0,2011,12,24,5,Сыктывкар-1,...,90.222222,95.313131,235.745098,226.800000,164.0,102.266667,110.800000,317.926966,90.222222,240.000000
20,122.0,2011-12-25,0,0,1,2011,12,25,6,Сыктывкар-1,...,90.222222,106.909091,235.745098,239.627907,NaN,102.266667,110.800000,262.294118,90.222222,215.000000
21,NaN,2011-12-26,1,0,0,2011,12,26,0,Сыктывкар-1,...,90.222222,153.714286,235.745098,247.175000,NaN,102.266667,155.750000,200.425414,90.222222,315.500000
22,NaN,2011-12-27,1,0,0,2011,12,27,1,Сыктывкар-1,...,90.222222,152.063830,235.745098,256.902439,NaN,102.266667,155.750000,198.060773,90.222222,371.333333
23,128.0,2011-12-28,0,1,0,2011,12,28,2,Сыктывкар-1,...,90.222222,112.864865,235.745098,242.476190,128.0,102.266667,155.750000,199.602339,90.222222,252.666667
24,172.0,2011-12-29,0,1,0,2011,12,29,3,Сыктывкар-1,...,90.222222,132.569767,235.745098,241.333333,172.0,102.266667,155.750000,213.406593,90.222222,328.250000
25,223.0,2011-12-30,0,1,0,2011,12,30,4,Сыктывкар-1,...,90.222222,190.888889,235.745098,238.757576,223.0,102.266667,155.750000,287.532967,90.222222,491.000000
26,68.0,2011-12-31,0,0,1,2011,12,31,5,Сыктывкар-1,...,90.222222,89.922078,235.745098,250.391304,NaN,102.266667,155.750000,317.926966,90.222222,319.500000
27,100.0,2012-01-01,0,1,0,2012,1,1,6,Сыктывкар-1,...,107.212516,98.441176,242.879630,274.139535,100.0,133.608696,155.750000,262.294118,220.374016,260.333333
28,169.0,2012-01-02,0,1,0,2012,1,2,0,Сыктывкар-1,...,107.212516,139.166667,242.879630,247.175000,169.0,133.608696,136.000000,200.425414,220.374016,255.500000
29,142.0,2012-01-03,0,0,1,2012,1,3,1,Сыктывкар-1,...,107.212516,141.459459,242.879630,249.133333,NaN,133.608696,136.000000,198.060773,220.374016,375.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53355,70.0,2016-10-19,0,0,1,2016,10,19,2,Мытищи-1,...,111.674363,99.666667,77.756757,66.000000,NaN,100.500000,77.000000,58.816327,86.929577,NaN
53356,93.0,2016-10-19,0,0,1,2016,10,19,2,Королев-1,...,111.674363,99.666667,118.027027,95.866667,NaN,134.642857,100.000000,71.419355,114.938967,NaN
53357,76.0,2016-10-19,0,0,1,2016,10,19,2,Октябрьский-1,...,111.674363,99.666667,89.280702,82.750000,NaN,89.428571,62.000000,74.478723,94.319249,79.000000
53358,232.0,2016-10-19,0,0,1,2016,10,19,2,Таганрог-1,...,111.674363,99.666667,178.368421,154.347826,NaN,268.928571,172.000000,138.534091,231.718310,91.000000
53359,69.0,2016-10-19,0,0,1,2016,10,19,2,Москва 1-1,...,111.674363,99.666667,114.714286,82.600000,NaN,114.714286,58.000000,83.322581,104.093897,NaN
53360,30.0,2016-10-19,0,0,1,2016,10,19,2,Лениногорск-1,...,111.674363,99.666667,29.642857,18.000000,NaN,29.642857,17.000000,38.615385,38.289855,NaN
53361,41.0,2016-10-19,0,0,1,2016,10,19,2,Чайковский-1,...,111.674363,99.666667,60.513514,51.700000,NaN,63.785714,47.000000,51.613636,69.615023,NaN
53362,105.0,2016-10-19,0,0,1,2016,10,19,2,Железнодорожный-1,...,111.674363,99.666667,159.214286,96.333333,NaN,159.214286,94.000000,86.000000,119.563380,NaN
53363,69.0,2016-10-19,0,0,1,2016,10,19,2,Ханты-Мансийск-1,...,111.674363,99.666667,98.357143,56.000000,NaN,98.357143,81.000000,56.535714,67.118280,NaN
53364,56.0,2016-10-19,0,0,1,2016,10,19,2,Электросталь-1,...,111.674363,99.666667,77.642857,56.000000,NaN,77.642857,29.000000,42.705882,54.126316,NaN
53365,33.0,2016-10-19,0,0,1,2016,10,19,2,Новочебоксарск-1,...,111.674363,99.666667,38.571429,40.333333,NaN,38.571429,24.000000,41.235294,46.737089,NaN
53366,85.0,2016-10-19,0,0,1,2016,10,19,2,Сыктывкар-3,...,111.674363,99.666667,123.161290,101.769231,NaN,121.571429,79.000000,91.356436,118.356808,68.000000
53367,63.0,2016-10-19,0,0,1,2016,10,19,2,Астрахань-1,...,111.674363,99.666667,53.135135,49.727273,NaN,61.642857,35.000000,43.137255,59.370892,NaN
53368,66.0,2016-10-19,0,0,1,2016,10,19,2,Дмитров-1,...,111.674363,99.666667,41.785714,NaN,NaN,41.785714,63.000000,18.000000,33.772727,NaN
53369,144.0,2016-10-19,0,0,1,2016,10,19,2,Смоленск-1,...,111.674363,99.666667,134.803922,134.243243,NaN,183.928571,126.000000,116.430556,184.140845,116.333333
53370,84.0,2016-10-19,0,0,1,2016,10,19,2,Тобольск-1,...,111.674363,99.666667,102.857143,59.500000,NaN,102.857143,74.000000,72.523810,75.514706,NaN
53371,127.0,2016-10-19,0,0,1,2016,10,19,2,Челябинск-1,...,111.674363,99.666667,98.362500,84.485714,NaN,124.000000,96.000000,76.794118,125.239437,70.000000
53372,43.0,2016-10-19,0,0,1,2016,10,19,2,Раменское-1,...,111.674363,99.666667,61.285714,39.000000,NaN,61.285714,54.000000,51.111111,58.760000,NaN
53373,185.0,2016-10-19,0,0,1,2016,10,19,2,Нижний Новгород-1,...,111.674363,99.666667,149.214286,117.000000,NaN,149.214286,85.000000,112.600000,120.182540,NaN
53374,33.0,2016-10-19,0,0,1,2016,10,19,2,Сыктывкар-4,...,111.674363,99.666667,57.321429,55.541667,NaN,67.071429,39.000000,41.652174,64.300469,28.000000
53375,239.0,2016-10-19,0,0,1,2016,10,19,2,Ростов-на-Дону-1,...,111.674363,99.666667,173.378378,129.933333,NaN,232.357143,187.000000,123.426230,169.084507,NaN
53376,174.0,2016-10-19,0,0,1,2016,10,19,2,Казань-1,...,111.674363,99.666667,173.928571,105.500000,NaN,173.928571,133.000000,124.521739,134.931034,NaN
53377,155.0,2016-10-19,0,0,1,2016,10,19,2,Сыктывкар-1,...,111.674363,99.666667,267.826923,227.209302,NaN,226.785714,173.000000,199.602339,222.112676,320.666667
53378,178.0,2016-10-19,0,0,1,2016,10,19,2,Саратов-1,...,111.674363,99.666667,117.702703,97.000000,NaN,153.857143,135.000000,103.878049,123.399061,NaN
53379,74.0,2016-10-19,0,0,1,2016,10,19,2,Балаково-1,...,111.674363,99.666667,69.142857,54.750000,NaN,69.142857,36.000000,61.107143,69.344262,NaN
53380,76.0,2016-10-19,0,0,1,2016,10,19,2,Одинцово-1,...,111.674363,99.666667,96.756757,97.555556,NaN,161.857143,180.000000,87.048780,129.854460,NaN
53381,75.0,2016-10-19,0,0,1,2016,10,19,2,Москва 1-5,...,111.674363,99.666667,116.142857,60.000000,NaN,116.142857,69.000000,51.400000,83.490566,NaN
53382,129.0,2016-10-19,0,0,1,2016,10,19,2,Сочи-1,...,111.674363,99.666667,148.857143,117.000000,NaN,148.857143,103.000000,145.958333,149.959732,NaN
53383,48.0,2016-10-19,0,0,1,2016,10,19,2,Вологда-1,...,111.674363,99.666667,48.594595,46.888889,NaN,72.071429,48.000000,49.475000,64.309859,NaN
53384,80.0,2016-10-19,0,0,1,2016,10,19,2,Сыктывкар-2,...,111.674363,99.666667,67.872549,57.250000,NaN,92.285714,65.000000,52.857143,96.384977,52.000000