Я сделал target.csv (Count, IsTrain, IsTest, IsValidation) индекс совпадает с date.csv, пофиксил твою функцию с вычеслением глобальной нумерации недель, два твоих бага пофиксил - простые(видимо ты их случайно заккомитил), со сборкой средних у меня возникли запары, сам делай. Учитывай, что по трейну нужно считать признаки не только для самого трейна, но и для тестовой и валидационной выборки (вот с этим у меня проблемы возникли)

In [1]:
import pandas as pd
import numpy as np
import datetime
import math
import sklearn.cross_validation

In [4]:
train = pd.read_csv('data_original/train.csv')
test = pd.read_csv('data_original/test.csv')
test['Count'] = None
frame = [train, test]
common = pd.concat(frame)
common.Date = common.Date.apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))
common = common.sort_values(by=['Date'])

In [3]:
common.to_csv('data_original/common.csv', index=None)
train.to_csv('data_original/train.csv', index=None)
test.to_csv('data_original/test.csv', index=None)

# date.csv

In [4]:
date = pd.read_csv('data_original/common.csv')[['Date']]
date.Date = date.Date.apply(lambda x: pd.to_datetime(x))

In [5]:
start_date = date.iloc[0]['Date']
date['Year'] = date.Date.apply(lambda x: x.year)
date['Month'] = date.Date.apply(lambda x: x.month)
date['MonthDay'] = date.Date.apply(lambda x: x.day)
date['WeekDay'] = date.Date.apply(lambda x: x.weekday())

In [6]:
date['YearDay'] = date.Date.apply(lambda x: (x-pd.to_datetime(str(x.year)+'-01-01')).days)

In [7]:
date['ThroughMonth'] = date.Date.apply(lambda x: (x.year - start_date.year) * 12 + x.month - start_date.month)

In [8]:
date['ThroughWeek'] = date.Date.apply(lambda x: int( ( (x - start_date).days + start_date.weekday()) / 7))
#теперь нет смещения, это могло вводить неоднозначноть, т.е. одной недели могли противоречить две фичи

In [9]:
date['ThroughDay'] = date.Date.apply(lambda x: (x - start_date).days)

In [10]:
date.to_csv('data_transform/date.csv', index=None)

In [11]:
date.head(25)

,Date,Year,Month,MonthDay,WeekDay,YearDay,ThroughMonth,ThroughWeek,ThroughDay
0,2011-10-06,2011,10,6,3,278,0,0,0
1,2011-10-07,2011,10,7,4,279,0,0,1
2,2011-10-09,2011,10,9,6,281,0,0,3
3,2011-11-15,2011,11,15,1,318,1,6,40
4,2011-12-08,2011,12,8,3,341,2,9,63
5,2011-12-09,2011,12,9,4,342,2,9,64
6,2011-12-10,2011,12,10,5,343,2,9,65
7,2011-12-11,2011,12,11,6,344,2,9,66
8,2011-12-13,2011,12,13,1,346,2,10,68
9,2011-12-14,2011,12,14,2,347,2,10,69
10,2011-12-15,2011,12,15,3,348,2,10,70
11,2011-12-16,2011,12,16,4,349,2,10,71
12,2011-12-17,2011,12,17,5,350,2,10,72
13,2011-12-18,2011,12,18,6,351,2,10,73
14,2011-12-19,2011,12,19,0,352,2,11,74
15,2011-12-20,2011,12,20,1,353,2,11,75
16,2011-12-21,2011,12,21,2,354,2,11,76
17,2011-12-22,2011,12,22,3,355,2,11,77
18,2011-12-23,2011,12,23,4,356,2,11,78
19,2011-12-24,2011,12,24,5,357,2,11,79
20,2011-12-25,2011,12,25,6,358,2,11,80
21,2011-12-26,2011,12,26,0,359,2,12,81
22,2011-12-27,2011,12,27,1,360,2,12,82
23,2011-12-28,2011,12,28,2,361,2,12,83
24,2011-12-29,2011,12,29,3,362,2,12,84

# target.csv

In [12]:
sizeValidationSample = 0.15

In [13]:
target = pd.read_csv('data_original/common.csv')[['Count']]
target['IsTest'] = target.Count
target['IsTrain'] = pd.Series(range(target.shape[0]))
target['IsValidation'] = pd.Series(range(target.shape[0]))

In [14]:
target['IsTest'] = target.IsTest.apply(lambda x: 1 if math.isnan(x) else 0)

In [15]:
withCountValue = target[target.IsTest == 0].index
indexTrain, indexValidation = sklearn.cross_validation.train_test_split(withCountValue, test_size=sizeValidationSample)

In [16]:
target['IsTrain'] = target.IsTrain.apply(lambda x: 1 if ((x in indexTrain) & (target.IsTest[x] == 0)) else 0)
target['IsValidation'] = target.IsValidation.apply(lambda x: 1 if ((x in indexValidation) & (target.IsTest[x] == 0)) else 0)

In [17]:
target.to_csv('data_transform/target.csv', index = None)

In [18]:
target.head(10)

   Count  IsTest  IsTrain  IsValidation
0      8       0        1             0
1     88       0        1             0
2      1       0        1             0
3      1       0        1             0
4      2       0        0             1
5     43       0        1             0
6     10       0        1             0
7      1       0        1             0
8     60       0        1             0
9    NaN       1        0             0

# city.csv

In [19]:
cities = pd.read_csv('data_original/common.csv')[['Point']].Point.unique()
city = pd.DataFrame()
city['Point'] = pd.Series(cities)
city['CityName'] = city.Point.apply(lambda x: '-'.join(x.split('-')[0:-1]))
city_names = city.CityName.unique()
city['CityID'] = city.CityName.apply(lambda x: np.where(city_names == x)[0][0]) 
city['BranchNumber'] = city.Point.apply(lambda x: x.split('-')[-1:][0])
# Москва 1 -> Москва
city['CityName'] = city.CityName.apply(lambda x: ('Москва' if x == 'Москва 1' else x))
city.to_csv('data_transform/city.csv', index = None)

In [20]:
# geo
city = pd.read_csv('data_transform/city.csv')
cities = city.CityName.unique()
geo = pd.read_csv('data_transform/geo.csv', names=['CityName', 'lat', 'lng'])
geo.CityName = pd.Series(cities)
city = pd.merge(city, geo, how='left', on='CityName')
city.to_csv('data_transform/city.csv', index=None)
city.head(10)

         Point   CityName  CityID  BranchNumber        lat        lng
0  Сыктывкар-1  Сыктывкар       0             1  61.647851  50.833903
1  Сыктывкар-2  Сыктывкар       0             2  61.647851  50.833903
2       Ухта-1       Ухта       1             1  63.567321  53.747159
3   Смоленск-1   Смоленск       2             1  54.790311  32.050366
4    Сарапул-1    Сарапул       3             1  56.453929  53.774218
5     Самара-1     Самара       4             1  53.241504  50.221246
6  Челябинск-1  Челябинск       5             1  55.164442  61.436843
7   Белгород-1   Белгород       6             1  50.599713  36.598262
8   Смоленск-2   Смоленск       2             2  54.790311  32.050366
9     Самара-2     Самара       4             2  53.241504  50.221246

In [17]:
# get date of first order for every branch
city = pd.read_csv('data_transform/city.csv')
common = pd.read_csv('data_original/common.csv')
common.Date = common.Date.apply(lambda x: pd.to_datetime(x))
groupped = common.groupby(['Point'])['Date'].min()
start_date = pd.DataFrame()
start_date['Point'] = groupped.index
start_date['FirstOrder'] = groupped.as_matrix()
city = pd.merge(city, start_date[['Point', 'FirstOrder']], how='left', on='Point')
city = city[city.columns.difference(['Unnamed: 0'])]
city.to_csv('data_transform/city.csv', index=None)
city.head()

,BranchNumber,CityID,CityName,FirstOrder,Point,lat,lng
0,1,0,Сыктывкар,2011-10-06,Сыктывкар-1,61.647851,50.833903
1,2,0,Сыктывкар,2012-05-03,Сыктывкар-2,61.647851,50.833903
2,1,1,Ухта,2012-07-17,Ухта-1,63.567321,53.747159
3,1,2,Смоленск,2012-08-28,Смоленск-1,54.790311,32.050366
4,1,3,Сарапул,2012-11-03,Сарапул-1,56.453929,53.774218

# internal_features.csv

In [19]:
src = pd.read_csv('data_transform/date.csv')
src[['Count', 'Point']] = pd.read_csv('data_original/common.csv')[['Count', 'Point']]
dst = pd.DataFrame()

In [39]:
#tmp = pd.read_csv('data_transform/target.csv')
#tmp = pd.read_csv('data_transform/target.csv')[(tmp.IsTrain == True) | (tmp.IsValidation == True)]

#trainIndex = tmp.index

In [40]:
#src = pd.read_csv('data_transform/date.csv').iloc[trainIndex]
#src[['Count', 'Point']] = pd.read_csv('data_original/common.csv')[['Count', 'Point']].iloc[trainIndex]
#dst = pd.DataFrame()

In [20]:
tmp = pd.read_csv('data_transform/target.csv')
validationIndex = tmp[tmp.IsValidation == True].index
src.loc[validationIndex, 'Count'] = None

In [21]:
src.head(10)

,Date,Year,Month,MonthDay,WeekDay,YearDay,ThroughMonth,ThroughWeek,ThroughDay,Count,Point
0,2011-10-06,2011,10,6,3,278,0,0,0,8.0,Сыктывкар-1
1,2011-10-07,2011,10,7,4,279,0,0,1,88.0,Сыктывкар-1
2,2011-10-09,2011,10,9,6,281,0,0,3,1.0,Сыктывкар-1
3,2011-11-15,2011,11,15,1,318,1,6,40,1.0,Сыктывкар-1
4,2011-12-08,2011,12,8,3,341,2,9,63,NaN,Сыктывкар-1
5,2011-12-09,2011,12,9,4,342,2,9,64,43.0,Сыктывкар-1
6,2011-12-10,2011,12,10,5,343,2,9,65,10.0,Сыктывкар-1
7,2011-12-11,2011,12,11,6,344,2,9,66,1.0,Сыктывкар-1
8,2011-12-13,2011,12,13,1,346,2,10,68,60.0,Сыктывкар-1
9,2011-12-14,2011,12,14,2,347,2,10,69,NaN,Сыктывкар-1

## Mean

### by date independed from points

In [22]:
def calc_mean(src, group_column, target_column):
    mean = src.groupby([group_column])[target_column].mean()
    return src[group_column].apply(lambda x: mean[x])

In [23]:
need_mean_list = src.columns.difference(['Date', 'Count', 'Point'])
for column in need_mean_list:
    dst['MeanFor' + column] = calc_mean(src, column, 'Count')

In [24]:
dst.head(15)

,MeanForMonth,MeanForMonthDay,MeanForThroughDay,MeanForThroughMonth,MeanForThroughWeek,MeanForWeekDay,MeanForYear,MeanForYearDay
0,112.145788,104.137491,8.0,32.333333,32.333333,90.875335,87.318182,94.327731
1,112.145788,107.172263,88.0,32.333333,32.333333,123.721962,87.318182,91.530201
2,112.145788,107.880699,1.0,32.333333,32.333333,123.640722,87.318182,143.346821
3,104.213605,108.351462,1.0,1.000000,1.000000,87.286115,87.318182,124.594937
4,105.650704,109.919853,NaN,101.277778,18.000000,90.875335,87.318182,78.402299
5,105.650704,107.880699,43.0,101.277778,18.000000,123.721962,87.318182,72.645161
6,105.650704,102.119765,10.0,101.277778,18.000000,142.693482,87.318182,81.650000
7,105.650704,102.062201,1.0,101.277778,18.000000,123.640722,87.318182,103.202532
8,105.650704,100.133333,60.0,101.277778,100.400000,87.286115,87.318182,122.585106
9,105.650704,107.442146,NaN,101.277778,100.400000,87.164051,87.318182,115.263158
10,105.650704,108.351462,96.0,101.277778,100.400000,90.875335,87.318182,81.652632
11,105.650704,103.290323,134.0,101.277778,100.400000,123.721962,87.318182,77.175824
12,105.650704,105.817130,112.0,101.277778,100.400000,142.693482,87.318182,85.521127
13,105.650704,99.619893,100.0,101.277778,100.400000,123.640722,87.318182,102.204082
14,105.650704,100.658606,NaN,101.277778,112.666667,86.619073,87.318182,132.076923

### by date depended from points

In [25]:
def map_group_two_key(group, x, y):
    return group[x][y]

def calc_mean_by_columns(src, group_columns, target_column):
    mean = src.groupby(group_columns)[target_column].mean()
    return src[group_columns].apply(lambda x: map_group_two_key(mean, *x), axis=1)

In [26]:
need_mean_list = src.columns.difference(['Date', 'Count', 'Point'])
for column in need_mean_list:
    dst['MeanFor' + column + 'ByPoints'] = calc_mean_by_columns(src, [column, 'Point'], 'Count')

In [27]:
dst.to_csv('data_transform/internal_features.csv')

# All in one

In [28]:
data = pd.read_csv('data_transform/target.csv')
date = pd.read_csv('data_transform/date.csv')
city = pd.read_csv('data_transform/city.csv')
internal_features = pd.read_csv('data_transform/internal_features.csv', index_col = 0)

need_columns = date.columns
data[need_columns] = date[need_columns]

need_columns = city.columns
data[need_columns] = city[need_columns]

need_columns = internal_features.columns
data[need_columns] = internal_features[need_columns]

data.to_csv('data_transform/all.csv', index=None)

In [29]:
data

,Count,IsTest,IsTrain,IsValidation,Date,Year,Month,MonthDay,WeekDay,YearDay,...,MeanForYear,MeanForYearDay,MeanForMonthByPoints,MeanForMonthDayByPoints,MeanForThroughDayByPoints,MeanForThroughMonthByPoints,MeanForThroughWeekByPoints,MeanForWeekDayByPoints,MeanForYearByPoints,MeanForYearDayByPoints
0,8.0,0,1,0,2011-10-06,2011,10,6,3,278,...,87.318182,94.327731,259.317757,225.255814,8.0,32.333333,32.333333,214.426230,87.318182,171.250000
1,88.0,0,1,0,2011-10-07,2011,10,7,4,279,...,87.318182,91.530201,259.317757,254.404762,88.0,32.333333,32.333333,291.581522,87.318182,185.250000
2,1.0,0,1,0,2011-10-09,2011,10,9,6,281,...,87.318182,143.346821,259.317757,244.022222,1.0,32.333333,32.333333,262.022099,87.318182,223.800000
3,1.0,0,1,0,2011-11-15,2011,11,15,1,318,...,87.318182,124.594937,257.108696,229.959184,1.0,1.000000,1.000000,198.868852,87.318182,190.250000
4,2.0,0,0,1,2011-12-08,2011,12,8,3,341,...,87.318182,78.402299,230.669643,247.133333,NaN,101.277778,18.000000,214.426230,87.318182,227.750000
5,43.0,0,1,0,2011-12-09,2011,12,9,4,342,...,87.318182,72.645161,230.669643,244.022222,43.0,101.277778,18.000000,291.581522,87.318182,129.250000
6,10.0,0,1,0,2011-12-10,2011,12,10,5,343,...,87.318182,81.650000,230.669643,218.857143,10.0,101.277778,18.000000,312.527174,87.318182,116.333333
7,1.0,0,1,0,2011-12-11,2011,12,11,6,344,...,87.318182,103.202532,230.669643,230.153846,1.0,101.277778,18.000000,262.022099,87.318182,163.000000
8,60.0,0,1,0,2011-12-13,2011,12,13,1,346,...,87.318182,122.585106,230.669643,214.871795,60.0,101.277778,100.400000,198.868852,87.318182,197.750000
9,NaN,1,0,0,2011-12-14,2011,12,14,2,347,...,87.318182,115.263158,230.669643,239.975000,NaN,101.277778,100.400000,200.978495,87.318182,257.000000
10,96.0,0,1,0,2011-12-15,2011,12,15,3,348,...,87.318182,81.652632,230.669643,229.959184,96.0,101.277778,100.400000,214.426230,87.318182,197.000000
11,134.0,0,1,0,2011-12-16,2011,12,16,4,349,...,87.318182,77.175824,230.669643,230.051282,134.0,101.277778,100.400000,291.581522,87.318182,209.250000
12,112.0,0,1,0,2011-12-17,2011,12,17,5,350,...,87.318182,85.521127,230.669643,220.131579,112.0,101.277778,100.400000,312.527174,87.318182,208.666667
13,100.0,0,1,0,2011-12-18,2011,12,18,6,351,...,87.318182,102.204082,230.669643,228.023810,100.0,101.277778,100.400000,262.022099,87.318182,196.800000
14,NaN,1,0,0,2011-12-19,2011,12,19,0,352,...,87.318182,132.076923,230.669643,226.651163,NaN,101.277778,112.666667,203.937143,87.318182,246.250000
15,73.0,0,1,0,2011-12-20,2011,12,20,1,353,...,87.318182,123.233333,230.669643,257.794872,73.0,101.277778,112.666667,198.868852,87.318182,227.200000
16,94.0,0,1,0,2011-12-21,2011,12,21,2,354,...,87.318182,91.365591,230.669643,242.413043,94.0,101.277778,112.666667,200.978495,87.318182,225.000000
17,94.0,0,1,0,2011-12-22,2011,12,22,3,355,...,87.318182,89.181818,230.669643,250.342105,94.0,101.277778,112.666667,214.426230,87.318182,224.750000
18,129.0,0,1,0,2011-12-23,2011,12,23,4,356,...,87.318182,85.041096,230.669643,252.642857,129.0,101.277778,112.666667,291.581522,87.318182,172.666667
19,164.0,0,1,0,2011-12-24,2011,12,24,5,357,...,87.318182,95.186047,230.669643,221.658537,164.0,101.277778,112.666667,312.527174,87.318182,232.800000
20,122.0,0,1,0,2011-12-25,2011,12,25,6,358,...,87.318182,129.443182,230.669643,235.894737,122.0,101.277778,112.666667,262.022099,87.318182,225.000000
21,NaN,1,0,0,2011-12-26,2011,12,26,0,359,...,87.318182,148.163265,230.669643,245.558140,NaN,101.277778,147.750000,203.937143,87.318182,326.500000
22,NaN,1,0,0,2011-12-27,2011,12,27,1,360,...,87.318182,144.140000,230.669643,256.250000,NaN,101.277778,147.750000,198.868852,87.318182,356.250000
23,128.0,0,1,0,2011-12-28,2011,12,28,2,361,...,87.318182,115.720588,230.669643,251.666667,128.0,101.277778,147.750000,200.978495,87.318182,252.666667
24,172.0,0,1,0,2011-12-29,2011,12,29,3,362,...,87.318182,132.780822,230.669643,233.868421,172.0,101.277778,147.750000,214.426230,87.318182,328.250000
25,223.0,0,1,0,2011-12-30,2011,12,30,4,363,...,87.318182,150.505882,230.669643,264.764706,223.0,101.277778,147.750000,291.581522,87.318182,341.333333
26,68.0,0,1,0,2011-12-31,2011,12,31,5,364,...,87.318182,88.010638,230.669643,253.384615,68.0,101.277778,147.750000,312.527174,87.318182,281.600000
27,100.0,0,0,1,2012-01-01,2012,1,1,6,0,...,106.084472,104.494624,247.852174,278.630435,NaN,134.458333,147.750000,262.022099,218.725564,320.250000
28,169.0,0,1,0,2012-01-02,2012,1,2,0,1,...,106.084472,145.400000,247.852174,251.148936,169.0,134.458333,135.000000,203.937143,218.725564,345.800000
29,142.0,0,0,1,2012-01-03,2012,1,3,1,2,...,106.084472,136.229167,247.852174,249.595745,NaN,134.458333,135.000000,198.868852,218.725564,375.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53396,144.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,134.494737,136.425000,144.0,176.312500,150.333333,114.561290,182.486486,132.333333
53397,32.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,62.000000,32.000000,32.0,62.000000,33.500000,41.888889,57.962264,32.000000
53398,43.0,0,0,1,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,63.428571,61.000000,NaN,63.428571,48.500000,51.111111,60.754717,NaN
53399,36.0,0,0,1,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,36.666667,NaN,NaN,36.666667,30.000000,NaN,36.666667,NaN
53400,221.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,284.000000,188.833333,221.0,284.000000,212.666667,178.375000,212.924324,221.000000
53401,81.0,0,0,1,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,79.266667,62.400000,NaN,79.266667,71.500000,57.800000,67.413793,NaN
53402,67.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,75.769231,47.900000,67.0,96.222222,61.333333,44.800000,62.905405,67.000000
53403,71.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,103.941176,82.500000,71.0,103.941176,72.000000,75.333333,93.448718,71.000000
53404,29.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,26.666667,29.000000,29.0,26.666667,26.666667,29.000000,26.666667,29.000000
53405,130.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,127.921053,116.357143,130.0,165.437500,132.333333,101.416667,153.958716,130.000000
53406,43.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,75.500000,71.000000,43.0,75.500000,46.000000,61.000000,76.044776,43.000000
53407,105.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,160.333333,104.111111,105.0,160.333333,96.333333,82.806452,121.614679,105.000000
53408,71.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,92.875000,79.666667,71.0,92.875000,68.000000,52.058824,73.163636,71.000000
53409,119.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,160.785714,106.500000,119.0,160.785714,107.333333,130.666667,153.026316,119.000000
53410,125.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,126.611111,108.400000,125.0,166.000000,142.000000,95.964912,147.554585,125.000000
53411,33.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,39.176471,39.666667,33.0,39.176471,31.000000,41.000000,46.832599,33.000000
53412,90.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,89.083333,74.437500,90.0,101.200000,87.333333,65.721311,95.388889,90.000000
53413,75.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,114.062500,50.000000,75.0,114.062500,66.000000,50.444444,81.314815,75.000000
53414,76.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,102.548387,103.250000,76.0,149.933333,118.333333,85.825000,130.032110,76.000000
53415,123.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,177.647059,96.000000,123.0,177.647059,126.666667,96.875000,138.388889,123.000000
53416,41.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,46.133333,35.000000,41.0,46.133333,32.000000,37.333333,38.886364,41.000000
53417,56.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,78.529412,63.250000,56.0,78.529412,42.500000,44.400000,56.747573,56.000000
53418,74.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,91.937500,57.875000,74.0,91.937500,63.666667,49.166667,60.404545,74.000000
53419,127.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,133.525000,138.045455,127.0,180.923077,132.000000,107.578313,175.814815,127.000000
53420,43.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,54.764706,57.100000,43.0,54.764706,39.500000,42.027027,61.220183,43.000000
53421,27.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,51.941176,42.666667,27.0,51.941176,34.000000,42.052632,55.863309,27.000000
53422,64.0,0,0,1,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,57.710526,57.083333,NaN,80.500000,46.000000,52.607843,74.995614,NaN
53423,117.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,145.812500,106.750000,117.0,145.812500,94.000000,105.666667,123.096000,117.000000
53424,16.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,21.133333,18.000000,16.0,21.133333,17.500000,18.733333,20.723404,16.000000
53425,48.0,0,1,0,2016-10-19,2016,10,19,2,292,...,111.198604,96.856000,52.724138,47.680000,48.0,60.187500,44.333333,41.106383,58.839286,38.000000