In [118]:
import pandas as pd
import numpy as np
import datetime
from sklearn.metrics import mean_absolute_error as mae
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

In [119]:
features = pd.read_csv('data_transform/all.csv')
data = features.fillna(100000000)
remove_column = ['IsTest', 'IsTrain', 'IsValidation', 'Date', 'Point', 'CityName'
                 , 'MeanForThroughDay', 'MeanForMonthDayByPoints'
                 , 'MeanForThroughDayByPoints', 'MeanForThroughWeekByPoints'
                 , 'MeanForYearDayByPoints', 'Prev2Day', 'Prev3Day'
                 , 'Next2Day', 'Next3Day', 'NextExisting21Value'
                 , 'PrevExisting21Value', 'NextExisting14Value'
                 , 'PrevExisting14Value', 'NextExisting3Value'
                 , 'PrevExisting3Value'
                 , 'BranchNumber', 'MeanForMonth', 'Next1Day', 'Prev7Day'
                 ]

dataTrain = data[data.IsTrain == 1]
dataTrain = dataTrain[dataTrain.columns.difference(remove_column)]

X_train = dataTrain[dataTrain.columns.difference(['Count'])]
y_train = dataTrain[['Count']]

dataValidation =  data[data.IsValidation == 1]
dataValidation = dataValidation[dataValidation.columns.difference(remove_column)]

X_test = dataValidation[dataValidation.columns.difference(['Count'])]
y_test = dataValidation[['Count']]

dataResult =  data[data.IsTest == 1]
dataResultForPredict = dataResult[dataResult.columns.difference(remove_column)]


X_res = dataResult[dataResultForPredict.columns.difference(['Count'])]

In [120]:
7337. / (data.shape[0] - dataResult.shape[0])

0.15933373870743572

In [121]:
gbr = GradientBoostingRegressor(n_estimators=800, learning_rate=0.05, loss="lad", verbose=1, max_depth=7, random_state=10)

In [122]:
gbr.fit(X_train, y_train)

/opt/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      Iter       Train Loss   Remaining Time
         1          50.3000            3.82m
         2          48.2098            3.31m
         3          46.2444            2.96m
         4          44.3897            2.76m
         5          42.6010            2.67m
         6          40.9187            2.61m
         7          39.3344            2.56m
         8          37.8408            2.56m
         9          36.4368            2.56m
        10          35.1254            2.57m
        20          25.4225            2.37m
        30          20.2349            2.29m
        40          17.5898            2.23m
        50          16.2153            2.17m
        60          15.4580            2.10m
        70          15.0289            2.01m
        80          14.7449            1.93m
        90          14.5547            1.85m
       100          14.4035            1.77m
       200          13.4034            1.24m
       300          13.0291           54.56s
       400          12.8825           39.83s
       500          12.8009           27.74s
       600          12.7889           17.04s
       700          12.7888            7.88s
       800          12.7888            0.00s

GradientBoostingRegressor(alpha=0.9, init=None, learning_rate=0.05,
             loss='lad', max_depth=7, max_features=None,
             max_leaf_nodes=None, min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=800,
             presort='auto', random_state=10, subsample=1.0, verbose=1,
             warm_start=False)

In [123]:
#1
result = gbr.predict(X_test)
mae(result, y_test)

18.287049628391777

In [124]:
#2
result = gbr.predict(X_test)
mae(result, y_test)

18.287049628391777

In [125]:
#3
result = gbr.predict(X_test)
mae(result, y_test)

18.287049628391777

In [126]:
#4 validaion count 20%
result = gbr.predict(X_test)
mae(result, y_test)

18.287049628391777

In [127]:
#5 validaion count 30%
result = gbr.predict(X_test)
mae(result, y_test)

18.287049628391777

In [128]:
#6 validaion count 30%[:7000]
result = gbr.predict(X_test[:7000])

for i in range(result.shape[0]):
    result[i] = round(result[i]) if abs(result[i] - round(result[i])) < 0.15 else result[i]
mae(result, y_test[:7000])

17.351099843652737

In [129]:
result = gbr.predict(X_test)
mae(np.floor(result), y_test)

18.324266733517174

In [130]:
result = gbr.predict(X_res)

In [131]:
dataResult.index = range(dataResult.shape[0])
dataResult.Count = pd.Series(result)
dataResult = dataResult[['Date', 'Point', 'Count']]
dataResult['Date'] = dataResult.Date.apply(lambda x: pd.to_datetime(x))
dataResult['Date'] = dataResult.Date.apply(lambda x: datetime.datetime.strftime(x, "%d.%m.%Y"))
dataResult

/opt/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

            Date                Point       Count
0     14.12.2011          Сыктывкар-1   84.305648
1     19.12.2011          Сыктывкар-1   75.358403
2     26.12.2011          Сыктывкар-1  122.064335
3     27.12.2011          Сыктывкар-1  130.189347
4     12.01.2012          Сыктывкар-1  123.580972
5     26.01.2012          Сыктывкар-1  120.669909
6     02.02.2012          Сыктывкар-1  125.266262
7     04.02.2012          Сыктывкар-1  160.244437
8     11.02.2012          Сыктывкар-1  140.647655
9     18.02.2012          Сыктывкар-1  144.510836
10    09.03.2012          Сыктывкар-1  149.301619
11    12.03.2012          Сыктывкар-1  101.858066
12    13.03.2012          Сыктывкар-1   99.117409
13    15.03.2012          Сыктывкар-1  107.039875
14    19.03.2012          Сыктывкар-1  111.558001
15    31.03.2012          Сыктывкар-1  165.474904
16    08.04.2012          Сыктывкар-1  129.435577
17    09.04.2012          Сыктывкар-1  125.168508
18    16.04.2012          Сыктывкар-1  120.487989
19    20.04.2012          Сыктывкар-1  169.797281
20    23.04.2012          Сыктывкар-1  131.354692
21    05.05.2012          Сыктывкар-2   37.665142
22    05.05.2012          Сыктывкар-1  155.494513
23    06.05.2012          Сыктывкар-2   37.202767
24    06.05.2012          Сыктывкар-1  144.015224
25    12.05.2012          Сыктывкар-1  178.383004
26    12.05.2012          Сыктывкар-2   56.683723
27    16.05.2012          Сыктывкар-1  122.376567
28    16.05.2012          Сыктывкар-2   37.134411
29    25.05.2012          Сыктывкар-2   42.330142
...          ...                  ...         ...
7307  27.09.2016           Смоленск-3   71.472634
7308  27.09.2016            Вологда-2   37.604858
7309  27.09.2016            Вологда-1   78.665962
7310  27.09.2016       Долгопрудный-1  221.882929
7311  27.09.2016          Березники-1  112.360247
7312  27.09.2016        Альметьевск-1   88.799882
7313  27.09.2016     Ростов-на-Дону-3  109.601284
7314  27.09.2016         Домодедово-1  104.320633
7315  27.09.2016            Салават-1   40.089972
7316  27.09.2016             Тюмень-2  143.841240
7317  27.09.2016          Сыктывкар-2  102.512931
7318  27.09.2016          Сыктывкар-3  131.107860
7319  27.09.2016             Самара-1  294.493008
7320  27.09.2016          Сыктывкар-5   33.771109
7321  27.09.2016               Ухта-2   45.203274
7322  27.09.2016     Новокуйбышевск-1  128.550422
7323  27.09.2016             Тюмень-1  169.256175
7324  27.09.2016              Муром-1   60.286228
7325  27.09.2016           Одинцово-1  146.149942
7326  27.09.2016     Ростов-на-Дону-1  212.612464
7327  27.09.2016     Новочебоксарск-1   42.382536
7328  27.09.2016        Калининград-2  101.218207
7329  27.09.2016           Тобольск-1   88.934829
7330  27.09.2016           Серпухов-1   67.313221
7331  27.09.2016       Петрозаводск-1   74.285320
7332  27.09.2016        Новоалтайск-1   20.579337
7333  27.09.2016            Энгельс-1   63.850734
7334  27.09.2016         Зеленоград-1  152.276595
7335  27.09.2016  Ленинск-Кузнецкий-1   65.604037
7336  27.09.2016             Самара-3  355.527737

[7337 rows x 3 columns]

In [132]:
originalTest = pd.read_csv('data_original/test.csv')
originalTest = originalTest[['Date', 'Point']]
originalTest

            Date             Point
0     08.07.2016       Ульяновск-2
1     25.07.2016        Балашиха-1
2     09.11.2014            Ухта-1
3     12.11.2015     Альметьевск-1
4     17.07.2014            Ухта-1
5     18.04.2016          Сургут-1
6     26.08.2015        Волжский-1
7     05.02.2015          Майкоп-1
8     28.09.2015         Сарапул-1
9     23.04.2016        Москва 1-1
10    04.02.2015            Ухта-1
11    28.09.2015       Сыктывкар-5
12    29.03.2013            Ухта-1
13    27.09.2015           Муром-1
14    26.10.2015          Мытищи-1
15    07.04.2015       Уссурийск-1
16    24.03.2016        Смоленск-3
17    08.03.2013       Челябинск-1
18    28.04.2013        Белгород-1
19    16.06.2014       Сыктывкар-2
20    28.09.2014       Сыктывкар-2
21    26.03.2016         Салават-1
22    25.03.2016    Новороссийск-1
23    31.01.2016       Махачкала-1
24    08.07.2016  Новочебоксарск-1
25    17.07.2015      Чайковский-1
26    29.07.2015        Бугульма-1
27    22.06.2014       Сыктывкар-4
28    07.05.2016      Нижнекамск-1
29    24.02.2015       Сыктывкар-3
...          ...               ...
7307  01.04.2014       Челябинск-1
7308  30.04.2016       Сыктывкар-5
7309  20.01.2014       Сыктывкар-3
7310  17.05.2016          Вельск-1
7311  26.05.2014         Энгельс-1
7312  06.11.2014     Октябрьский-1
7313  07.08.2013       Сыктывкар-1
7314  17.05.2016     Октябрьский-1
7315  18.04.2015       Сыктывкар-2
7316  19.06.2016      Зеленоград-1
7317  11.05.2016          Тюмень-1
7318  05.08.2016         Салават-1
7319  09.11.2013         Сарапул-1
7320  30.04.2015     Октябрьский-1
7321  29.05.2015        Таганрог-1
7322  30.04.2016    Долгопрудный-1
7323  26.10.2015       Уссурийск-1
7324  09.07.2014       Сыктывкар-4
7325  26.03.2014        Белгород-1
7326  26.10.2015        Смоленск-2
7327  14.04.2015         Гатчина-1
7328  04.12.2015       Березники-1
7329  16.04.2016          Самара-3
7330  04.12.2014       Сыктывкар-2
7331  02.12.2015         Колпино-1
7332  27.05.2015        Белгород-1
7333  31.01.2015          Самара-3
7334  12.11.2015         Вологда-1
7335  07.05.2016      Домодедово-1
7336  18.04.2015       Махачкала-1

[7337 rows x 2 columns]

In [133]:
pd.merge(originalTest, dataResult, how='inner', on=['Point', 'Date'])

            Date             Point       Count
0     08.07.2016       Ульяновск-2  207.863359
1     25.07.2016        Балашиха-1  115.734325
2     09.11.2014            Ухта-1  172.129484
3     12.11.2015     Альметьевск-1   86.500262
4     17.07.2014            Ухта-1  156.466602
5     18.04.2016          Сургут-1  195.304031
6     26.08.2015        Волжский-1   78.393112
7     05.02.2015          Майкоп-1   58.583018
8     28.09.2015         Сарапул-1   63.160857
9     23.04.2016        Москва 1-1  129.576895
10    04.02.2015            Ухта-1  148.288373
11    28.09.2015       Сыктывкар-5   46.236549
12    29.03.2013            Ухта-1  164.012915
13    27.09.2015           Муром-1   60.028357
14    26.10.2015          Мытищи-1   71.455300
15    07.04.2015       Уссурийск-1   50.964288
16    24.03.2016        Смоленск-3   68.099819
17    08.03.2013       Челябинск-1  104.861361
18    28.04.2013        Белгород-1   48.950837
19    16.06.2014       Сыктывкар-2   35.970002
20    28.09.2014       Сыктывкар-2  101.281370
21    26.03.2016         Салават-1   29.666343
22    25.03.2016    Новороссийск-1  126.699650
23    31.01.2016       Махачкала-1  143.771135
24    08.07.2016  Новочебоксарск-1   46.349349
25    17.07.2015      Чайковский-1   28.769662
26    29.07.2015        Бугульма-1   40.520119
27    22.06.2014       Сыктывкар-4   83.043477
28    07.05.2016      Нижнекамск-1  103.472598
29    24.02.2015       Сыктывкар-3   82.347116
...          ...               ...         ...
7307  01.04.2014       Челябинск-1   60.350023
7308  30.04.2016       Сыктывкар-5   54.149479
7309  20.01.2014       Сыктывкар-3   84.527768
7310  17.05.2016          Вельск-1   49.765770
7311  26.05.2014         Энгельс-1   26.599768
7312  06.11.2014     Октябрьский-1   67.510165
7313  07.08.2013       Сыктывкар-1  272.670835
7314  17.05.2016     Октябрьский-1   87.855274
7315  18.04.2015       Сыктывкар-2  115.577019
7316  19.06.2016      Зеленоград-1  167.354332
7317  11.05.2016          Тюмень-1  120.647073
7318  05.08.2016         Салават-1   33.866200
7319  09.11.2013         Сарапул-1   96.647592
7320  30.04.2015     Октябрьский-1   71.122996
7321  29.05.2015        Таганрог-1  145.445850
7322  30.04.2016    Долгопрудный-1  304.007201
7323  26.10.2015       Уссурийск-1  123.738208
7324  09.07.2014       Сыктывкар-4   46.916479
7325  26.03.2014        Белгород-1   97.593970
7326  26.10.2015        Смоленск-2  177.405551
7327  14.04.2015         Гатчина-1   33.107423
7328  04.12.2015       Березники-1   77.922902
7329  16.04.2016          Самара-3  383.393074
7330  04.12.2014       Сыктывкар-2   49.528555
7331  02.12.2015         Колпино-1   61.905010
7332  27.05.2015        Белгород-1   69.335695
7333  31.01.2015          Самара-3  166.186235
7334  12.11.2015         Вологда-1   58.329899
7335  07.05.2016      Домодедово-1  101.088273
7336  18.04.2015       Махачкала-1   98.050569

[7337 rows x 3 columns]