In [1]:
import datetime
import pandas as pd
from forecastiopy import *
import getpass

In [8]:
api_key = '56023f79aa8cf2b7918c28e6d6ea54e6'

In [3]:
common = pd.read_csv('data_original/common.csv')
city = pd.read_csv('data_transform/city.csv')
query = pd.merge(common, city, how='left', on='Point')
query = query[['Date', 'CityName', 'lat', 'lng']]
query.head(10), query.tail(10)

(         Date   CityName        lat        lng
 0  2011-10-06  Сыктывкар  61.647851  50.833903
 1  2011-10-07  Сыктывкар  61.647851  50.833903
 2  2011-10-09  Сыктывкар  61.647851  50.833903
 3  2011-11-15  Сыктывкар  61.647851  50.833903
 4  2011-12-08  Сыктывкар  61.647851  50.833903
 5  2011-12-09  Сыктывкар  61.647851  50.833903
 6  2011-12-10  Сыктывкар  61.647851  50.833903
 7  2011-12-11  Сыктывкар  61.647851  50.833903
 8  2011-12-13  Сыктывкар  61.647851  50.833903
 9  2011-12-14  Сыктывкар  61.647851  50.833903,
              Date       CityName        lat        lng
 53416  2016-10-19        Вологда  59.218066  39.897805
 53417  2016-10-19   Электросталь  55.783553  38.455161
 53418  2016-10-19     Всеволожск  60.009861  30.660640
 53419  2016-10-19       Смоленск  54.790311  32.050366
 53420  2016-10-19        Гатчина  59.562463  30.106466
 53421  2016-10-19           Ухта  63.567321  53.747159
 53422  2016-10-19  Нижневартовск  60.943119  76.543372
 53423  2016-10-19         Тюмень  57.161297  65.525017
 53424  2016-10-19    Новоалтайск  53.441572  83.920835
 53425  2016-10-19        Энгельс  51.475330  46.113677)

In [4]:
columns = ['summary', 'icon', 'precipType', 'temperature', 'apparentTemperature', 'dewPoint', 'humidity', 'windSpeed', 'windBearing', 'visibility', 'cloudCover', 'pressure']
for column in columns:
    query[column] = None

In [6]:
query = pd.read_csv('data_transform/tmp_weather.csv')
query.head(10), query.tail(10)

/opt/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(         Date   CityName        lat        lng        summary  \
 0  2011-10-06  Сыктывкар  61.647851  50.833903       Overcast
 1  2011-10-07  Сыктывкар  61.647851  50.833903       Overcast
 2  2011-10-09  Сыктывкар  61.647851  50.833903  Partly Cloudy
 3  2011-11-15  Сыктывкар  61.647851  50.833903       Overcast
 4  2011-12-08  Сыктывкар  61.647851  50.833903       Overcast
 5  2011-12-09  Сыктывкар  61.647851  50.833903       Overcast
 6  2011-12-10  Сыктывкар  61.647851  50.833903       Overcast
 7  2011-12-11  Сыктывкар  61.647851  50.833903       Overcast
 8  2011-12-13  Сыктывкар  61.647851  50.833903       Overcast
 9  2011-12-14  Сыктывкар  61.647851  50.833903       Overcast

                   icon precipType  temperature  apparentTemperature  dewPoint  \
 0               cloudy       rain         4.95                 1.77      4.13
 1               cloudy       rain         7.22                 5.09      5.04
 2  partly-cloudy-night       rain         9.71                 9.00      8.08
 3               cloudy       snow        -1.04                -5.66     -1.32
 4               cloudy       snow        -1.78                -3.57     -2.19
 5               cloudy       snow        -2.44                -2.44     -4.04
 6               cloudy       snow        -4.43                -8.21     -6.47
 7               cloudy       snow        -7.28               -13.31     -8.93
 8               cloudy       snow        -9.77               -15.78    -11.34
 9               cloudy       snow        -7.00               -10.09     -7.81

    humidity  windSpeed  windBearing  visibility  cloudCover  pressure
 0      0.94       4.05        195.0        8.32         1.0    990.66
 1      0.86       3.13        240.0       11.27         1.0       NaN
 2      0.90       1.82        229.0        8.48         0.5   1007.93
 3      0.98       4.14        205.0        5.63         1.0    988.27
 4      0.97       1.38        171.0       10.54         1.0   1013.80
 5      0.89       0.89        188.0        9.06         1.0   1026.65
 6      0.86       2.45        163.0       10.61         1.0   1026.66
 7      0.88       4.10        173.0        8.42         1.0   1018.29
 8      0.88       3.49        192.0        8.40         1.0   1017.16
 9      0.94       1.69        195.0       10.77         1.0   1028.18  ,
              Date       CityName        lat        lng summary icon  \
 53416  2016-10-19        Вологда  59.218066  39.897805     NaN  NaN
 53417  2016-10-19   Электросталь  55.783553  38.455161     NaN  NaN
 53418  2016-10-19     Всеволожск  60.009861  30.660640     NaN  NaN
 53419  2016-10-19       Смоленск  54.790311  32.050366     NaN  NaN
 53420  2016-10-19        Гатчина  59.562463  30.106466     NaN  NaN
 53421  2016-10-19           Ухта  63.567321  53.747159     NaN  NaN
 53422  2016-10-19  Нижневартовск  60.943118  76.543372     NaN  NaN
 53423  2016-10-19         Тюмень  57.161298  65.525017     NaN  NaN
 53424  2016-10-19    Новоалтайск  53.441572  83.920835     NaN  NaN
 53425  2016-10-19        Энгельс  51.475330  46.113677     NaN  NaN

       precipType  temperature  apparentTemperature  dewPoint  humidity  \
 53416        NaN          NaN                  NaN       NaN       NaN
 53417        NaN          NaN                  NaN       NaN       NaN
 53418        NaN          NaN                  NaN       NaN       NaN
 53419        NaN          NaN                  NaN       NaN       NaN
 53420        NaN          NaN                  NaN       NaN       NaN
 53421        NaN          NaN                  NaN       NaN       NaN
 53422        NaN          NaN                  NaN       NaN       NaN
 53423        NaN          NaN                  NaN       NaN       NaN
 53424        NaN          NaN                  NaN       NaN       NaN
 53425        NaN          NaN                  NaN       NaN       NaN

        windSpeed  windBearing  visibility  cloudCover  pressure
 53416        NaN          NaN         NaN         NaN       NaN
 53417        NaN          NaN         NaN         NaN       NaN
 53418        NaN          NaN         NaN         NaN       NaN
 53419        NaN          NaN         NaN         NaN       NaN
 53420        NaN          NaN         NaN         NaN       NaN
 53421        NaN          NaN         NaN         NaN       NaN
 53422        NaN          NaN         NaN         NaN       NaN
 53423        NaN          NaN         NaN         NaN       NaN
 53424        NaN          NaN         NaN         NaN       NaN
 53425        NaN          NaN         NaN         NaN       NaN  )

In [18]:
for i in query[pd.isnull(query.summary)].index:
    row = query.loc[(i)]
    date = pd.to_datetime(row['Date']).to_datetime()    
    date = date.strftime('%Y-%m-%dT%H:%M:%S')
    fio = ForecastIO.ForecastIO(api_key, latitude=row['lat'], longitude=row['lng'], time=date)
    for column in columns:
        query.loc[i, column] = fio.currently.get(column)
    if i % 100 == 0:
        print(i)
        query.to_csv('data_transform/tmp_weather.csv', index = None)

37500

In [19]:
query.to_csv('data_transform/tmp_weather.csv', index = None)
query[pd.isnull(query.summary)]

,Date,CityName,lat,lng,summary,icon,precipType,temperature,apparentTemperature,dewPoint,humidity,windSpeed,windBearing,visibility,cloudCover,pressure
7588,2014-07-14,Ухта,63.567321,53.747159,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7591,2014-07-14,Сарапул,56.453929,53.774218,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33862,2016-04-04,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33961,2016-04-05,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34049,2016-04-06,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34071,2016-04-07,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34492,2016-04-12,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34584,2016-04-13,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34652,2016-04-14,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34832,2016-04-16,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34927,2016-04-17,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35046,2016-04-18,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35401,2016-04-22,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35944,2016-04-29,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36058,2016-04-30,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36095,2016-05-01,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36209,2016-05-02,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36346,2016-05-03,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36661,2016-05-07,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36760,2016-05-08,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36872,2016-05-09,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36941,2016-05-10,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37193,2016-05-13,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37313,2016-05-14,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37500,2016-05-16,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38448,2016-05-27,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38542,2016-05-28,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38612,2016-05-29,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38732,2016-05-30,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38813,2016-05-31,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41298,2016-06-27,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41485,2016-06-29,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41584,2016-06-30,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41645,2016-07-01,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41809,2016-07-02,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41832,2016-07-03,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42074,2016-07-05,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42453,2016-07-09,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42559,2016-07-10,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43269,2016-07-18,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44475,2016-07-30,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44657,2016-07-31,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44840,2016-08-02,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45212,2016-08-06,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45292,2016-08-07,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45448,2016-08-08,Балаково,52.024559,47.780663,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45484,2016-08-09,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45661,2016-08-10,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45759,2016-08-11,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45872,2016-08-12,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46143,2016-08-15,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47760,2016-08-30,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48515,2016-09-06,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48627,2016-09-07,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49194,2016-09-12,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49268,2016-09-13,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49324,2016-09-13,Балаково,52.024559,47.780663,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51613,2016-10-04,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52667,2016-10-13,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53203,2016-10-18,Тверь,56.858721,35.917596,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN