In [1]:
import pandas as pd
import numpy as np
import sklearn
import sklearn.linear_model as linear_model 
from sklearn.cross_validation import KFold
from sklearn.metrics import mean_absolute_error as mae
import datetime
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_model import ARIMA
%matplotlib inline

In [2]:
train = pd.read_csv('data_original/train.csv', header=None, names=['Date', 'Point', 'Count'])

cities = train.Point.apply(lambda x: x.split('-')[0])
cities_set = cities.unique()
cities = cities.apply(lambda x: np.where(cities_set==x)[0][0])
train.insert(len(train.columns)-1, 'City', cities)

points_set = pd.Series(train.Point).unique()
train.Point = train.Point.apply(lambda x: np.where(points_set==x)[0][0])

train.Date = train.Date.apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))

week_day = train.Date.apply(lambda x: x.weekday())
month = train.Date.apply(lambda x: x.month + (x.year - 2000) * 12)
year = train.Date.apply(lambda x: x.year)
start_date = pd.to_datetime('1.1.2000')
week = train.Date.apply(lambda x: int((x - start_date).days / 7))
year_day = train.Date.apply(lambda x: (x-pd.to_datetime(str(x.year)+'-01-01')).days)
monthweek_day = train.Date.apply(lambda x: x.month * 7  + x.weekday())

train.insert(len(train.columns) - 1, 'WeekDay', week_day)
train.insert(len(train.columns) - 1, 'Month', month)
train.insert(len(train.columns) - 1, 'Year', year)
train.insert(len(train.columns) - 1, 'Week', week)
train.insert(len(train.columns) - 1, 'MonthWeekDay', monthweek_day)
train.insert(len(train.columns) - 1, 'YearDay', year_day)
train

,Date,Point,City,WeekDay,Month,Year,Week,MonthWeekDay,YearDay,Count
0,2016-08-08,0,0,0,200,2016,866,56,220,42
1,2015-03-07,1,1,5,183,2015,792,26,65,81
2,2016-10-05,2,2,2,202,2016,874,72,278,138
3,2015-02-22,3,3,6,182,2015,790,20,52,94
4,2016-08-06,4,4,5,200,2016,866,61,218,42
5,2016-09-28,5,5,2,201,2016,873,65,271,123
6,2016-09-13,6,6,1,201,2016,871,64,256,186
7,2016-01-29,7,7,4,193,2016,838,11,28,30
8,2016-08-17,8,8,2,200,2016,867,58,229,64
9,2013-08-23,9,7,4,164,2013,711,60,234,48
10,2016-01-15,10,9,4,193,2016,836,11,14,108
11,2016-08-29,11,10,0,200,2016,869,56,241,123
12,2016-03-14,12,6,0,195,2016,845,21,73,70
13,2016-05-19,13,11,3,197,2016,854,38,139,226
14,2015-07-23,14,12,3,187,2015,811,52,203,31
15,2015-12-25,15,13,4,192,2015,833,88,358,159
16,2015-11-26,16,14,3,191,2015,829,80,329,90
17,2016-07-07,17,15,3,199,2016,861,52,188,209
18,2014-01-16,9,7,3,169,2014,732,10,15,44
19,2016-06-20,18,16,0,198,2016,859,42,171,41
20,2016-07-30,6,6,5,199,2016,865,54,211,222
21,2014-03-02,12,6,6,171,2014,739,27,60,108
22,2015-03-27,19,17,4,183,2015,794,25,85,165
23,2016-07-24,20,18,6,199,2016,864,55,205,106
24,2016-08-19,21,19,4,200,2016,867,60,231,66
25,2016-09-03,22,7,5,201,2016,870,68,246,10
26,2016-10-14,23,20,4,202,2016,875,74,287,148
27,2014-03-22,24,17,5,171,2014,742,26,80,182
28,2016-05-29,25,19,6,197,2016,856,41,149,150
29,2016-09-09,26,21,4,201,2016,870,67,252,120
...,...,...,...,...,...,...,...,...,...,...
46059,2013-11-05,11,10,1,167,2013,722,78,308,46
46060,2014-04-08,17,15,1,172,2014,744,29,97,67
46061,2015-03-10,9,7,1,183,2015,792,22,68,57
46062,2016-06-22,10,9,2,198,2016,859,44,173,81
46063,2015-11-03,32,16,1,191,2015,826,78,306,202
46064,2016-07-23,9,7,5,199,2016,864,54,204,96
46065,2015-02-26,29,24,3,182,2015,790,17,56,13
46066,2016-03-15,70,56,1,195,2016,845,22,74,25
46067,2015-08-29,11,10,5,188,2015,817,61,240,143
46068,2016-06-13,15,13,0,198,2016,858,42,164,83
46069,2012-06-09,43,7,5,150,2012,649,47,160,293
46070,2016-09-01,48,38,3,201,2016,869,66,244,218
46071,2013-04-24,24,17,2,160,2013,694,30,113,75
46072,2016-02-27,65,52,5,194,2016,843,19,57,354
46073,2016-02-16,45,35,1,194,2016,841,15,46,70
46074,2015-11-18,83,67,2,191,2015,828,79,321,51
46075,2016-07-01,57,46,4,199,2016,860,53,182,79
46076,2016-10-04,98,78,1,202,2016,874,71,277,188
46077,2014-05-14,43,7,2,173,2014,749,37,133,139
46078,2016-04-09,65,52,5,196,2016,849,33,99,566
46079,2015-05-17,9,7,6,185,2015,802,41,136,106
46080,2015-03-28,40,31,5,183,2015,795,26,86,74
46081,2015-07-18,40,31,5,187,2015,811,54,198,88
46082,2016-10-18,5,5,1,202,2016,876,71,291,135
46083,2015-11-22,69,55,6,191,2015,829,83,325,115
46084,2015-08-03,38,30,0,188,2015,813,56,214,186
46085,2015-02-23,17,15,0,182,2015,790,14,53,236
46086,2016-02-19,59,7,4,194,2016,841,18,49,55
46087,2016-02-04,9,7,3,194,2016,839,17,34,98
46088,2014-07-14,11,10,0,175,2014,758,49,194,71

In [3]:
train = train.sort_values(by=['Date'], axis=0)
start_date = pd.to_datetime('2016-01-01')
sub_train = train.sort_values(by=['YearDay'], axis=0)
to_plot = pd.DataFrame()
unique_city = sub_train.City.unique()

groupped = sub_train.groupby(['YearDay'])['Count']
mean = groupped.mean().sort_values()
edge = [135, 165, 180]
max_days = mean.tail(30).index
train

,Date,Point,City,WeekDay,Month,Year,Week,MonthWeekDay,YearDay,Count
6717,2011-10-06,43,7,3,142,2011,613,73,278,8
39451,2011-10-07,43,7,4,142,2011,613,74,279,88
4145,2011-10-09,43,7,6,142,2011,614,76,281,1
832,2011-11-15,43,7,1,143,2011,619,78,318,1
23494,2011-12-08,43,7,3,144,2011,622,87,341,2
11011,2011-12-09,43,7,4,144,2011,622,88,342,43
40849,2011-12-10,43,7,5,144,2011,623,89,343,10
44356,2011-12-11,43,7,6,144,2011,623,90,344,1
22017,2011-12-13,43,7,1,144,2011,623,85,346,60
22219,2011-12-15,43,7,3,144,2011,623,87,348,96
28907,2011-12-16,43,7,4,144,2011,623,88,349,134
28963,2011-12-17,43,7,5,144,2011,624,89,350,112
2150,2011-12-18,43,7,6,144,2011,624,90,351,100
33439,2011-12-20,43,7,1,144,2011,624,85,353,73
22127,2011-12-21,43,7,2,144,2011,624,86,354,94
41301,2011-12-22,43,7,3,144,2011,624,87,355,94
10461,2011-12-23,43,7,4,144,2011,624,88,356,129
9092,2011-12-24,43,7,5,144,2011,625,89,357,164
4066,2011-12-25,43,7,6,144,2011,625,90,358,122
4091,2011-12-28,43,7,2,144,2011,625,86,361,128
20553,2011-12-29,43,7,3,144,2011,625,87,362,172
1290,2011-12-30,43,7,4,144,2011,625,88,363,223
12298,2011-12-31,43,7,5,144,2011,626,89,364,68
6040,2012-01-01,43,7,6,145,2012,626,13,0,100
45708,2012-01-02,43,7,0,145,2012,626,7,1,169
6898,2012-01-03,43,7,1,145,2012,626,8,2,142
1156,2012-01-04,43,7,2,145,2012,626,9,3,130
28385,2012-01-05,43,7,3,145,2012,626,10,4,119
41865,2012-01-06,43,7,4,145,2012,626,11,5,128
21783,2012-01-07,43,7,5,145,2012,627,12,6,128
...,...,...,...,...,...,...,...,...,...,...
14349,2016-10-19,79,64,2,202,2016,876,72,292,94
30933,2016-10-19,59,7,2,202,2016,876,72,292,33
12170,2016-10-19,42,33,2,202,2016,876,72,292,125
43530,2016-10-19,36,29,2,202,2016,876,72,292,70
36929,2016-10-19,21,19,2,202,2016,876,72,292,43
33498,2016-10-19,114,8,2,202,2016,876,72,292,41
9199,2016-10-19,52,42,2,202,2016,876,72,292,91
41187,2016-10-19,95,76,2,202,2016,876,72,292,64
23467,2016-10-19,54,38,2,202,2016,876,72,292,153
20309,2016-10-19,1,1,2,202,2016,876,72,292,56
906,2016-10-19,50,40,2,202,2016,876,72,292,63
32640,2016-10-19,40,31,2,202,2016,876,72,292,127
45129,2016-10-19,16,14,2,202,2016,876,72,292,70
10939,2016-10-19,93,74,2,202,2016,876,72,292,43
14888,2016-10-19,0,0,2,202,2016,876,72,292,30
14892,2016-10-19,23,20,2,202,2016,876,72,292,69
10897,2016-10-19,35,28,2,202,2016,876,72,292,32
2009,2016-10-19,60,47,2,202,2016,876,72,292,100
21139,2016-10-19,118,68,2,202,2016,876,72,292,29
4619,2016-10-19,77,30,2,202,2016,876,72,292,291
9381,2016-10-19,83,67,2,202,2016,876,72,292,65
35855,2016-10-19,66,53,2,202,2016,876,72,292,56
29995,2016-10-19,97,55,2,202,2016,876,72,292,88
35493,2016-10-19,94,75,2,202,2016,876,72,292,174
9841,2016-10-19,8,8,2,202,2016,876,72,292,48
41963,2016-10-19,90,10,2,202,2016,876,72,292,134
410,2016-10-19,56,45,2,202,2016,876,72,292,46
40968,2016-10-19,117,92,2,202,2016,876,72,292,41
5907,2016-10-19,11,10,2,202,2016,876,72,292,127
17640,2016-10-19,76,62,2,202,2016,876,72,292,130

Среднее за месяц, неделю, год, день недели

In [4]:
year_point_mean = train.groupby(['Year', 'Point'])['Count'].mean()
month_point_mean = train.groupby(['Month', 'Point'])['Count'].mean()
week_point_mean = train.groupby(['Week', 'Point'])['Count'].mean()
weekday_point_mean = train.groupby(['WeekDay', 'Point'])['Count'].mean()
monthweekday_point_mean = train.groupby(['MonthWeekDay', 'Point'])['Count'].mean()

train_mean = pd.DataFrame()

def get_year(x, p):
    return year_point_mean[x][p]
def get_month(x, p):
    return month_point_mean[x][p]
def get_week(x, p):
    return week_point_mean[x][p]
def get_weekday(x, p):
    return weekday_point_mean[x][p]
def get_monthweekday(x, p):
    return monthweekday_point_mean[x][p]
train_mean.insert(len(train_mean.columns), 'YearPoint', train[['Year', 'Point']].apply(lambda x: get_year(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'MonthPoint', train[['Month', 'Point']].apply(lambda x: get_month(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'WeekPoint', train[['Week', 'Point']].apply(lambda x: get_week(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'WeekDayPoint', train[['WeekDay', 'Point']].apply(lambda x: get_weekday(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'MonthWeekDayPoint', train[['MonthWeekDay', 'Point']].apply(lambda x: get_monthweekday(*x), axis=1))

train_mean.insert(len(train_mean.columns), 'Count', train.Count)
train_mean

,YearPoint,MonthPoint,WeekPoint,WeekDayPoint,MonthWeekDayPoint,Count
6717,83.608696,32.333333,48.000000,213.454128,212.705882,8
39451,83.608696,32.333333,48.000000,288.495614,315.900000,88
4145,83.608696,32.333333,1.000000,263.560185,308.833333,1
832,83.608696,1.000000,1.000000,195.944954,179.533333,1
23494,83.608696,96.052632,22.500000,213.454128,195.750000,2
11011,83.608696,96.052632,22.500000,288.495614,270.421053,43
40849,83.608696,96.052632,60.200000,311.777778,316.947368,10
44356,83.608696,96.052632,60.200000,263.560185,265.421053,1
22017,83.608696,96.052632,60.200000,195.944954,202.157895,60
22219,83.608696,96.052632,60.200000,213.454128,195.750000,96
28907,83.608696,96.052632,60.200000,288.495614,270.421053,134
28963,83.608696,96.052632,100.333333,311.777778,316.947368,112
2150,83.608696,96.052632,100.333333,263.560185,265.421053,100
33439,83.608696,96.052632,100.333333,195.944954,202.157895,73
22127,83.608696,96.052632,100.333333,201.787736,204.812500,94
41301,83.608696,96.052632,100.333333,213.454128,195.750000,94
10461,83.608696,96.052632,100.333333,288.495614,270.421053,129
9092,83.608696,96.052632,161.800000,311.777778,316.947368,164
4066,83.608696,96.052632,161.800000,263.560185,265.421053,122
4091,83.608696,96.052632,161.800000,201.787736,204.812500,128
20553,83.608696,96.052632,161.800000,213.454128,195.750000,172
1290,83.608696,96.052632,161.800000,288.495614,270.421053,223
12298,83.608696,96.052632,122.285714,311.777778,316.947368,68
6040,220.283439,136.724138,122.285714,263.560185,260.250000,100
45708,220.283439,136.724138,122.285714,202.746341,213.777778,169
6898,220.283439,136.724138,122.285714,195.944954,202.900000,142
1156,220.283439,136.724138,122.285714,201.787736,218.000000,130
28385,220.283439,136.724138,122.285714,213.454128,232.250000,119
41865,220.283439,136.724138,122.285714,288.495614,282.227273,128
21783,220.283439,136.724138,135.666667,311.777778,305.500000,128
...,...,...,...,...,...,...
14349,72.275229,97.000000,114.000000,55.906250,65.333333,94
30933,63.515625,69.210526,72.600000,41.260870,26.888889,33
12170,146.996109,165.210526,162.800000,98.281250,91.500000,125
43530,55.666667,99.000000,106.200000,50.200000,80.333333,70
36929,61.691406,55.157895,60.200000,42.023810,40.333333,43
33498,38.892857,47.052632,47.400000,34.222222,39.333333,41
9199,65.642534,129.473684,137.800000,54.156250,83.000000,91
41187,74.295720,84.105263,78.400000,52.490909,50.333333,64
23467,142.494163,184.105263,197.600000,106.018182,115.666667,153
20309,68.307393,60.315789,65.800000,56.141509,46.300000,56
906,59.669261,61.368421,69.000000,42.415385,48.500000,63
32640,125.957198,106.578947,115.600000,103.333333,104.333333,127
45129,109.431907,98.894737,100.800000,79.015873,80.666667,70
10939,55.442553,51.947368,53.000000,47.085714,37.000000,43
14888,38.908046,29.894737,31.800000,38.000000,31.000000,30
14892,68.084444,96.368421,95.400000,55.606061,77.666667,69
10897,56.876923,61.578947,57.200000,44.100000,41.000000,32
2009,114.707627,146.105263,207.200000,93.228571,103.666667,100
21139,26.666667,26.666667,26.666667,29.000000,29.000000,29
4619,320.163424,378.000000,386.200000,197.546512,206.428571,291
9381,80.525292,96.157895,101.000000,60.920000,53.333333,65
35855,55.129310,75.789474,82.600000,42.894737,56.666667,56
29995,95.367876,104.684211,109.600000,84.214286,78.333333,88
35493,135.443820,173.263158,183.600000,125.500000,152.666667,174
9841,64.463035,71.368421,68.800000,49.687500,40.500000,48
41963,115.938525,129.842105,128.000000,101.944444,109.333333,134
410,50.958763,102.368421,58.200000,40.400000,93.000000,46
40968,49.833333,49.833333,53.800000,41.000000,41.000000,41
5907,125.431907,126.789474,122.800000,79.550296,81.200000,127
17640,153.321569,163.684211,165.800000,101.816901,95.333333,130

In [5]:
def trainModelTestTrainSplit(data, model):
    c = data.columns.difference(['Count'])
    X_train, X_test, y_train, y_test = sklearn.cross_validation.train_test_split(data[c], data['Count'], test_size=0.3, random_state=0)
    model.verbose=1
    model.fit(X_train.as_matrix(), y_train.as_matrix())
    pred = model.predict(X_test)
    #pred = map(round, pred)
    print ("result ", mae(pred, y_test))
    return model

def trainModelKfold(data, model, countFold = 5):
    meanMae = 0
    
    c = data.columns.difference(['Count'])
    countFold = 5
    kf = KFold(len(data), n_folds=countFold, shuffle=True)
    
    for train_index, test_index in kf:
        X_train, X_test = data[c].loc[train_index], data[c].loc[test_index]
        y_train, y_test = data['Count'].loc[train_index], data['Count'].loc[test_index]
        model.fit(X_train.as_matrix(), y_train.as_matrix())
        pred = model.predict(X_test)
        print (mae(pred, y_test))
        meanMae += mae(pred, y_test)
    meanMae /= countFold
    print ("result ", meanMae)
    return model

In [11]:
linear_regression = linear_model.LinearRegression(n_jobs = -1)
kf = trainModelKfold(train_mean, linear_regression)
tts = trainModelTestTrainSplit(train_mean[['WeekDayPoint', 'Count']], linear_regression)
print (train_mean.columns)
print (kf.coef_, tts.coef_)

20.8964920853
21.1940985058
20.3454379805
20.7114141995
20.8931211593
result  20.8081127861
result  31.2953308967
Index(['YearPoint', 'MonthPoint', 'WeekPoint', 'WeekDayPoint',
       'MonthWeekDayPoint', 'Count'],
      dtype='object')
[ 1.00454886] [ 1.00454886]

In [188]:
train_mean.corr()

,YearPoint,MonthPoint,WeekPoint,WeekDayPoint,MonthWeekDayPoint,Count
YearPoint,1.000000,0.965297,0.924771,0.826435,0.793343,0.786046
MonthPoint,0.965297,1.000000,0.957020,0.799404,0.800220,0.814305
WeekPoint,0.924771,0.957020,1.000000,0.769345,0.776220,0.850560
WeekDayPoint,0.826435,0.799404,0.769345,1.000000,0.941270,0.717462
MonthWeekDayPoint,0.793343,0.800220,0.776220,0.941270,1.000000,0.762228
Count,0.786046,0.814305,0.850560,0.717462,0.762228,1.000000