In [408]:
import pandas as pd
import numpy as np
import sklearn
import sklearn.linear_model as linear_model 
from sklearn.cross_validation import KFold
from sklearn.metrics import mean_absolute_error as mae
import datetime
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_model import ARIMA
%matplotlib inline

In [409]:
train = pd.read_csv('data_original/train.csv', header=None, names=['Date', 'Point', 'Count'])

cities = train.Point.apply(lambda x: x.split('-')[0])
cities_set = cities.unique()
cities = cities.apply(lambda x: np.where(cities_set==x)[0][0])
train.insert(len(train.columns)-1, 'City', cities)

points_set = pd.Series(train.Point).unique()
train.Point = train.Point.apply(lambda x: np.where(points_set==x)[0][0])

train.Date = train.Date.apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))

week_day = train.Date.apply(lambda x: x.weekday())
month = train.Date.apply(lambda x: x.month + (x.year - 2000) * 12)
year = train.Date.apply(lambda x: x.year)
start_date = pd.to_datetime('1.1.2000')
week = train.Date.apply(lambda x: int((x - start_date).days / 7))
year_day = train.Date.apply(lambda x: (x-pd.to_datetime(str(x.year)+'-01-01')).days)
monthweek_day = train.Date.apply(lambda x: x.month * 7  + x.weekday())

train.insert(len(train.columns) - 1, 'WeekDay', week_day)
train.insert(len(train.columns) - 1, 'Month', month)
train.insert(len(train.columns) - 1, 'Year', year)
train.insert(len(train.columns) - 1, 'Week', week)
train.insert(len(train.columns) - 1, 'MonthWeekDay', monthweek_day)
train.insert(len(train.columns) - 1, 'YearDay', year_day)
train

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-409-0f32581eb1c3>", line 1, in <module>
    train = pd.read_csv('data_original/train.csv', header=None, names=['Date', 'Point', 'Count'])
  File "/opt/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py", line 562, in parser_f
    return _read(filepath_or_buffer, kwds)
  File "/opt/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py", line 315, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/opt/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py", line 645, in __init__
    self._make_engine(self.engine)
  File "/opt/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py", line 799, in _make_engine
    self._engine = CParserWrapper(self.f, **self.options)
  File "/opt/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py", line 1213, in __init__
    self._reader = _parser.TextReader(src, **kwds)
  File "pandas/parser.pyx", line 358, in pandas.parser.TextReader.__cinit__ (pandas/parser.c:3427)
  File "pandas/parser.pyx", line 628, in pandas.parser.TextReader._setup_parser_source (pandas/parser.c:6861)
OSError: File b'data_original/train.csv' does not exist

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py", line 1821, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.5/site-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/opt/anaconda3/lib/python3.5/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/opt/anaconda3/lib/python3.5/site-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/opt/anaconda3/lib/python3.5/inspect.py", line 1453, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/opt/anaconda3/lib/python3.5/inspect.py", line 1410, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/opt/anaconda3/lib/python3.5/inspect.py", line 672, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/opt/anaconda3/lib/python3.5/inspect.py", line 701, in getmodule
    file = getabsfile(object, _filename)
  File "/opt/anaconda3/lib/python3.5/inspect.py", line 685, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/opt/anaconda3/lib/python3.5/posixpath.py", line 361, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

OSError: File b'data_original/train.csv' does not exist

In [404]:
train = train.sort_values(by=['Date'], axis=0)
start_date = pd.to_datetime('2016-01-01')
sub_train = train.sort_values(by=['YearDay'], axis=0)
to_plot = pd.DataFrame()
unique_city = sub_train.City.unique()

groupped = sub_train.groupby(['YearDay'])['Count']
mean = groupped.mean().sort_values()
edge = [135, 165, 180]
max_days = mean.tail(30).index
train

,Date,Point,City,WeekDay,Month,Year,Week,MonthWeekDay,YearDay,Count
6717,2011-06-10,43,7,4,138,2011,596,46,160,8
39451,2011-07-10,43,7,6,139,2011,601,55,190,88
23494,2011-08-12,43,7,4,140,2011,605,60,223,2
4145,2011-09-10,43,7,5,141,2011,610,68,252,1
11011,2011-09-12,43,7,0,141,2011,610,63,254,43
40849,2011-10-12,43,7,2,142,2011,614,72,284,10
44356,2011-11-12,43,7,5,143,2011,619,82,315,1
832,2011-11-15,43,7,1,143,2011,619,78,318,1
22017,2011-12-13,43,7,1,144,2011,623,85,346,60
22219,2011-12-15,43,7,3,144,2011,623,87,348,96
28907,2011-12-16,43,7,4,144,2011,623,88,349,134
28963,2011-12-17,43,7,5,144,2011,624,89,350,112
2150,2011-12-18,43,7,6,144,2011,624,90,351,100
33439,2011-12-20,43,7,1,144,2011,624,85,353,73
22127,2011-12-21,43,7,2,144,2011,624,86,354,94
41301,2011-12-22,43,7,3,144,2011,624,87,355,94
10461,2011-12-23,43,7,4,144,2011,624,88,356,129
9092,2011-12-24,43,7,5,144,2011,625,89,357,164
4066,2011-12-25,43,7,6,144,2011,625,90,358,122
4091,2011-12-28,43,7,2,144,2011,625,86,361,128
20553,2011-12-29,43,7,3,144,2011,625,87,362,172
1290,2011-12-30,43,7,4,144,2011,625,88,363,223
12298,2011-12-31,43,7,5,144,2011,626,89,364,68
6040,2012-01-01,43,7,6,145,2012,626,13,0,100
13166,2012-01-02,43,7,0,145,2012,626,7,1,142
30965,2012-01-03,43,7,1,145,2012,626,8,2,95
20381,2012-01-04,43,7,2,145,2012,626,9,3,185
15695,2012-01-05,43,7,3,145,2012,626,10,4,149
6216,2012-01-06,43,7,4,145,2012,626,11,5,276
34174,2012-01-06,9,7,4,145,2012,626,11,5,38
...,...,...,...,...,...,...,...,...,...,...
42075,2016-12-10,37,30,5,204,2016,884,89,344,250
12609,2016-12-10,94,75,5,204,2016,884,89,344,133
10636,2016-12-10,43,7,5,204,2016,884,89,344,174
10930,2016-12-10,106,36,5,204,2016,884,89,344,67
7759,2016-12-10,21,19,5,204,2016,884,89,344,44
32248,2016-12-10,78,63,5,204,2016,884,89,344,135
42070,2016-12-10,107,84,5,204,2016,884,89,344,73
8222,2016-12-10,6,6,5,204,2016,884,89,344,200
6332,2016-12-10,114,8,5,204,2016,884,89,344,45
20660,2016-12-10,56,45,5,204,2016,884,89,344,40
20688,2016-12-10,18,16,5,204,2016,884,89,344,45
27112,2016-12-10,108,85,5,204,2016,884,89,344,35
2700,2016-12-10,36,29,5,204,2016,884,89,344,92
12890,2016-12-10,2,2,5,204,2016,884,89,344,114
8456,2016-12-10,85,69,5,204,2016,884,89,344,65
27239,2016-12-10,38,30,5,204,2016,884,89,344,235
2083,2016-12-10,64,51,5,204,2016,884,89,344,43
2084,2016-12-10,113,89,5,204,2016,884,89,344,49
29732,2016-12-10,34,27,5,204,2016,884,89,344,68
10737,2016-12-10,15,13,5,204,2016,884,89,344,102
6478,2016-12-10,11,10,5,204,2016,884,89,344,126
27242,2016-12-10,99,2,5,204,2016,884,89,344,124
10681,2016-12-10,103,82,5,204,2016,884,89,344,59
4353,2016-12-10,23,20,5,204,2016,884,89,344,93
44986,2016-12-10,76,62,5,204,2016,884,89,344,106
1613,2016-12-10,33,26,5,204,2016,884,89,344,55
3100,2016-12-10,96,77,5,204,2016,884,89,344,46
43157,2016-12-10,83,67,5,204,2016,884,89,344,62
23409,2016-12-10,27,22,5,204,2016,884,89,344,98
45483,2016-12-10,42,33,5,204,2016,884,89,344,97

Среднее за месяц, неделю, год, день недели

In [183]:
year_point_mean = train.groupby(['Year', 'Point'])['Count'].mean()
month_point_mean = train.groupby(['Month', 'Point'])['Count'].mean()
week_point_mean = train.groupby(['Week', 'Point'])['Count'].mean()
weekday_point_mean = train.groupby(['WeekDay', 'Point'])['Count'].mean()
monthweekday_point_mean = train.groupby(['MonthWeekDay', 'Point'])['Count'].mean()

train_mean = pd.DataFrame()

def get_year(x, p):
    return year_point_mean[x][p]
def get_month(x, p):
    return month_point_mean[x][p]
def get_week(x, p):
    return week_point_mean[x][p]
def get_weekday(x, p):
    return weekday_point_mean[x][p]
def get_monthweekday(x, p):
    return monthweekday_point_mean[x][p]
train_mean.insert(len(train_mean.columns), 'YearPoint', train[['Year', 'Point']].apply(lambda x: get_year(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'MonthPoint', train[['Month', 'Point']].apply(lambda x: get_month(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'WeekPoint', train[['Week', 'Point']].apply(lambda x: get_week(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'WeekDayPoint', train[['WeekDay', 'Point']].apply(lambda x: get_weekday(*x), axis=1))
train_mean.insert(len(train_mean.columns), 'MonthWeekDayPoint', train[['MonthWeekDay', 'Point']].apply(lambda x: get_monthweekday(*x), axis=1))

train_mean.insert(len(train_mean.columns), 'Count', train.Count)
train_mean

,YearPoint,MonthPoint,WeekPoint,WeekDayPoint,MonthWeekDayPoint,Count
0,38.908046,47.050000,37.666667,33.090909,46.000000,42
1,57.756494,58.846154,65.333333,69.627119,76.900000,81
2,151.782101,153.130435,146.000000,114.108108,128.625000,138
3,85.664516,76.090909,66.800000,94.008264,94.909091,94
4,61.996094,55.807692,53.571429,51.060000,43.500000,42
5,124.260700,148.960000,162.833333,110.250000,105.428571,123
6,213.501946,238.120000,241.000000,144.691489,125.444444,186
7,40.214844,42.923077,37.166667,42.611111,47.833333,30
8,64.463035,69.153846,72.833333,54.826923,59.666667,64
9,40.279605,42.370370,51.142857,72.440191,79.450000,48
10,94.365759,86.269231,118.200000,87.362319,103.333333,108
11,125.431907,121.846154,129.166667,81.192771,94.166667,123
12,117.805447,103.080000,89.500000,78.684615,74.363636,70
13,161.031128,173.130435,198.800000,113.575000,107.000000,226
14,54.640777,44.863636,41.142857,62.246377,51.250000,31
15,82.460000,102.739130,104.142857,102.238806,129.500000,159
16,78.487685,106.000000,97.428571,83.220588,94.600000,90
17,230.155642,226.222222,208.000000,148.450000,140.416667,209
18,66.937086,61.458333,63.200000,59.853659,68.944444,44
19,55.000000,51.260870,48.000000,45.181818,49.250000,41
20,213.501946,213.407407,222.000000,185.139785,199.333333,222
21,76.516447,83.518519,71.285714,78.684615,91.857143,108
22,155.706452,147.703704,163.500000,139.580357,141.142857,165
23,114.852140,105.703704,100.500000,107.975904,97.222222,106
24,61.691406,72.538462,76.333333,64.906977,69.333333,66
25,6.205128,4.583333,6.000000,4.622222,3.833333,10
26,68.084444,80.250000,102.600000,87.352941,110.000000,148
27,173.319079,146.448276,127.500000,174.318182,153.933333,182
28,106.961089,116.304348,120.600000,90.086420,97.444444,150
29,95.988281,101.520000,92.666667,89.723077,99.142857,120
...,...,...,...,...,...,...
46059,61.472131,54.115385,53.666667,105.815476,108.857143,46
46060,116.746154,112.259259,135.833333,143.965812,176.214286,67
46061,93.320388,89.653846,89.000000,82.973684,85.187500,57
46062,94.365759,87.884615,92.000000,72.838235,67.500000,81
46063,209.280645,208.481481,212.428571,153.190476,165.733333,202
46064,95.992188,95.925926,105.166667,82.973684,73.526316,96
46065,50.475728,29.318182,15.600000,58.911111,65.600000,13
46066,39.750973,32.440000,34.000000,30.279070,21.750000,25
46067,107.793548,101.666667,97.000000,105.815476,98.812500,143
46068,106.077821,100.692308,103.000000,77.984848,61.375000,83
46069,220.283439,277.500000,183.000000,219.945946,230.684211,293
46070,170.836576,151.000000,164.200000,160.987179,142.000000,218
46071,99.759868,86.464286,80.285714,126.451087,109.200000,75
46072,232.155642,258.800000,227.857143,225.826087,221.875000,354
46073,119.470817,127.080000,120.571429,91.307692,108.000000,70
46074,63.989899,71.047619,65.714286,66.945455,63.400000,51
46075,69.070039,70.884615,75.000000,53.080645,53.200000,79
46076,211.798165,151.235294,139.750000,241.677419,200.250000,188
46077,243.875000,222.592593,208.142857,215.160550,196.058824,139
46078,232.155642,246.040000,287.833333,208.353448,264.500000,566
46079,93.320388,89.500000,91.142857,75.628272,74.894737,106
46080,97.416084,86.153846,72.200000,119.972603,103.800000,74
46081,97.416084,122.960000,132.142857,119.972603,131.875000,88
46082,124.260700,147.312500,175.600000,105.000000,102.750000,135
46083,80.414894,104.363636,95.285714,112.245902,134.750000,115
46084,209.526971,168.916667,219.000000,266.171429,248.833333,186
46085,157.383871,149.727273,163.600000,143.965812,147.250000,236
46086,63.515625,74.600000,61.714286,55.719697,51.000000,55
46087,95.992188,90.578947,90.400000,82.973684,61.727273,98
46088,80.003289,86.047619,78.200000,81.192771,78.750000,71

In [171]:
def trainModelTestTrainSplit(data, model):
    c = data.columns.difference(['Count'])
    X_train, X_test, y_train, y_test = sklearn.cross_validation.train_test_split(data[c], data['Count'], test_size=0.3, random_state=0)
    model.verbose=1
    model.fit(X_train.as_matrix(), y_train.as_matrix())
    pred = model.predict(X_test)
    #pred = map(round, pred)
    print ("result ", mae(pred, y_test))
    return model

def trainModelKfold(data, model, countFold = 5):
    meanMae = 0
    
    c = data.columns.difference(['Count'])
    countFold = 5
    kf = KFold(len(data), n_folds=countFold, shuffle=True)
    
    for train_index, test_index in kf:
        X_train, X_test = data[c].loc[train_index], data[c].loc[test_index]
        y_train, y_test = data['Count'].loc[train_index], data['Count'].loc[test_index]
        model.fit(X_train.as_matrix(), y_train.as_matrix())
        pred = model.predict(X_test)
        print (mae(pred, y_test))
        meanMae += mae(pred, y_test)
    meanMae /= countFold
    print ("result ", meanMae)
    return model

In [189]:
linear_regression = linear_model.LinearRegression(n_jobs = -1)
kf = trainModelKfold(train_mean, linear_regression)
tts = trainModelTestTrainSplit(train_mean[['WeekPoint', 'Count']], linear_regression)
print (kf.coef_, tts.coef_)

23.7219952494
24.4633035319
23.8756134716
24.2187119971
24.0040197942
result  24.0567288089
result  24.7993257084
[ 0.99625618] [ 0.99625618]

In [188]:
train_mean.corr()

,YearPoint,MonthPoint,WeekPoint,WeekDayPoint,MonthWeekDayPoint,Count
YearPoint,1.000000,0.965297,0.924771,0.826435,0.793343,0.786046
MonthPoint,0.965297,1.000000,0.957020,0.799404,0.800220,0.814305
WeekPoint,0.924771,0.957020,1.000000,0.769345,0.776220,0.850560
WeekDayPoint,0.826435,0.799404,0.769345,1.000000,0.941270,0.717462
MonthWeekDayPoint,0.793343,0.800220,0.776220,0.941270,1.000000,0.762228
Count,0.786046,0.814305,0.850560,0.717462,0.762228,1.000000