In [54]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error as mae
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

features = pd.read_csv('data_transform/all.csv')

data = features.fillna(100000000)

remove_column = ['IsTest', 'IsTrain', 'IsValidation', 'Date', 'Point', 'CityName'
                ,u'MeanForMonthDayByPoints', u'MeanForThroughMonthByPoints'
                ,u'MeanForThroughWeekByPoints'
                ,u'MeanForYearByPoints', u'MeanForYearDayByPoints'
                ,'MeanForYearDay', 'MeanForThroughWeek', u'Prev2Day', u'Prev3Day'
                ,u'Next2Day', u'Next3Day'
                 ]

#? u'MeanForWeekDayByPoints',

#'YearDay', 'MeanForYear', 'PrevExisting1Value', 'NextExisting1Value', 'MeanForMonthByPoints'



dataTrain = data[data.IsTrain == 1]
dataTrain = dataTrain[dataTrain.columns.difference(remove_column)]

X_train = dataTrain[dataTrain.columns.difference(['Count'])]
y_train = dataTrain[['Count']]

dataValidation =  data[data.IsValidation == 1]
dataValidation = dataValidation[dataValidation.columns.difference(remove_column)]

X_test = dataValidation[dataValidation.columns.difference(['Count'])]
y_test = dataValidation[['Count']]

dataResult =  data[data.IsTest == 1]
dataResult = dataResult[dataResult.columns.difference(remove_column)]

X_res = dataResult[dataResult.columns.difference(['Count'])]

In [55]:
X_train.shape

(38310, 33)

In [61]:
dtrain = xgb.DMatrix( X_train, label=y_train)
dtest = xgb.DMatrix( X_test, label=y_test)
dres = xgb.DMatrix( X_res )
evallist  = [(dtest,'eval'), (dtrain,'train')]

param = {'max_depth': 6,
 		'silent': 1,
 		'eta': 0.01,
 		'eval_metric': 'mae',
         'subsample' : 0.9,
         'colsample_bytree':0.5,
         'tree_method':'exact'
         #,'rate_drop':0.01
         ,'objective':'reg:tweedie'
 }

num_round = 8740

bst = xgb.train( param, dtrain, num_round, evallist, verbose_eval=50 )

[0]	eval-mae:105.081	train-mae:104.304
[50]	eval-mae:102.526	train-mae:101.738
[100]	eval-mae:96.8855	train-mae:96.069
[150]	eval-mae:86.4806	train-mae:85.6287
[200]	eval-mae:71.3808	train-mae:70.5001
[250]	eval-mae:54.4226	train-mae:53.5332
[300]	eval-mae:39.3905	train-mae:38.4923
[350]	eval-mae:28.5792	train-mae:27.6446
[400]	eval-mae:22.2522	train-mae:21.114
[450]	eval-mae:19.2211	train-mae:17.7782
[500]	eval-mae:17.9328	train-mae:16.2221
[550]	eval-mae:17.4234	train-mae:15.498
[600]	eval-mae:17.2113	train-mae:15.1242
[650]	eval-mae:17.0945	train-mae:14.8722
[700]	eval-mae:17.0234	train-mae:14.6984
[750]	eval-mae:16.9967	train-mae:14.5614
[800]	eval-mae:16.9532	train-mae:14.4319
[850]	eval-mae:16.9003	train-mae:14.3157
[900]	eval-mae:16.8501	train-mae:14.2127
[950]	eval-mae:16.7979	train-mae:14.1153
[1000]	eval-mae:16.7504	train-mae:14.0308
[1050]	eval-mae:16.7008	train-mae:13.944
[1100]	eval-mae:16.6528	train-mae:13.8589
[1150]	eval-mae:16.6108	train-mae:13.7791
[1200]	eval-mae:16.5831	train-mae:13.7046
[1250]	eval-mae:16.5594	train-mae:13.6378
[1300]	eval-mae:16.5388	train-mae:13.5662
[1350]	eval-mae:16.5127	train-mae:13.5049
[1400]	eval-mae:16.499	train-mae:13.4476
[1450]	eval-mae:16.4873	train-mae:13.389
[1500]	eval-mae:16.4707	train-mae:13.3284
[1550]	eval-mae:16.4594	train-mae:13.2692
[1600]	eval-mae:16.4507	train-mae:13.215
[1650]	eval-mae:16.4383	train-mae:13.1565
[1700]	eval-mae:16.4225	train-mae:13.1023
[1750]	eval-mae:16.4136	train-mae:13.0502
[1800]	eval-mae:16.4045	train-mae:12.9996
[1850]	eval-mae:16.3973	train-mae:12.9536
[1900]	eval-mae:16.3836	train-mae:12.903
[1950]	eval-mae:16.3726	train-mae:12.8556
[2000]	eval-mae:16.3628	train-mae:12.8083
[2050]	eval-mae:16.3604	train-mae:12.7653
[2100]	eval-mae:16.3532	train-mae:12.7218
[2150]	eval-mae:16.3489	train-mae:12.6787
[2200]	eval-mae:16.3243	train-mae:12.6335
[2250]	eval-mae:16.3193	train-mae:12.5883
[2300]	eval-mae:16.31	train-mae:12.5423
[2350]	eval-mae:16.307	train-mae:12.4995
[2400]	eval-mae:16.3025	train-mae:12.4559
[2450]	eval-mae:16.2958	train-mae:12.413
[2500]	eval-mae:16.2875	train-mae:12.3683
[2550]	eval-mae:16.2805	train-mae:12.3264
[2600]	eval-mae:16.2772	train-mae:12.2849
[2650]	eval-mae:16.2693	train-mae:12.2391
[2700]	eval-mae:16.2661	train-mae:12.1977
[2750]	eval-mae:16.2606	train-mae:12.1563
[2800]	eval-mae:16.2586	train-mae:12.1225
[2850]	eval-mae:16.2538	train-mae:12.0822
[2900]	eval-mae:16.251	train-mae:12.0424
[2950]	eval-mae:16.2506	train-mae:12.0029
[3000]	eval-mae:16.2477	train-mae:11.967
[3050]	eval-mae:16.2411	train-mae:11.9296
[3100]	eval-mae:16.236	train-mae:11.8901
[3150]	eval-mae:16.237	train-mae:11.8516
[3200]	eval-mae:16.2337	train-mae:11.8113
[3250]	eval-mae:16.23	train-mae:11.781
[3300]	eval-mae:16.2268	train-mae:11.7444
[3350]	eval-mae:16.2259	train-mae:11.7049
[3400]	eval-mae:16.2239	train-mae:11.6715
[3450]	eval-mae:16.2221	train-mae:11.6387
[3500]	eval-mae:16.2195	train-mae:11.6019
[3550]	eval-mae:16.2149	train-mae:11.5637
[3600]	eval-mae:16.2118	train-mae:11.5257
[3650]	eval-mae:16.2099	train-mae:11.4907
[3700]	eval-mae:16.2062	train-mae:11.453
[3750]	eval-mae:16.2043	train-mae:11.4197
[3800]	eval-mae:16.201	train-mae:11.3856
[3850]	eval-mae:16.1979	train-mae:11.351
[3900]	eval-mae:16.1978	train-mae:11.3187
[3950]	eval-mae:16.1945	train-mae:11.2848
[4000]	eval-mae:16.1909	train-mae:11.2476
[4050]	eval-mae:16.1889	train-mae:11.2153
[4100]	eval-mae:16.1862	train-mae:11.1808
[4150]	eval-mae:16.1827	train-mae:11.144
[4200]	eval-mae:16.1801	train-mae:11.1122
[4250]	eval-mae:16.1783	train-mae:11.0794
[4300]	eval-mae:16.1763	train-mae:11.0474
[4350]	eval-mae:16.173	train-mae:11.0098
[4400]	eval-mae:16.1703	train-mae:10.977
[4450]	eval-mae:16.1694	train-mae:10.9419
[4500]	eval-mae:16.1672	train-mae:10.909
[4550]	eval-mae:16.1663	train-mae:10.8742
[4600]	eval-mae:16.1658	train-mae:10.8419
[4650]	eval-mae:16.1635	train-mae:10.8104
[4700]	eval-mae:16.1622	train-mae:10.7778
[4750]	eval-mae:16.1617	train-mae:10.7479
[4800]	eval-mae:16.1618	train-mae:10.7146
[4850]	eval-mae:16.1594	train-mae:10.6792
[4900]	eval-mae:16.1581	train-mae:10.646
[4950]	eval-mae:16.156	train-mae:10.6116
[5000]	eval-mae:16.1534	train-mae:10.5802
[5050]	eval-mae:16.1536	train-mae:10.5485
[5100]	eval-mae:16.1525	train-mae:10.5193
[5150]	eval-mae:16.1501	train-mae:10.4847
[5200]	eval-mae:16.1496	train-mae:10.4523
[5250]	eval-mae:16.1488	train-mae:10.422
[5300]	eval-mae:16.1486	train-mae:10.3908
[5350]	eval-mae:16.1508	train-mae:10.3573
[5400]	eval-mae:16.1518	train-mae:10.3302
[5450]	eval-mae:16.1502	train-mae:10.2999
[5500]	eval-mae:16.1488	train-mae:10.2676
[5550]	eval-mae:16.147	train-mae:10.2366
[5600]	eval-mae:16.1477	train-mae:10.2027
[5650]	eval-mae:16.1456	train-mae:10.1712
[5700]	eval-mae:16.1446	train-mae:10.1437
[5750]	eval-mae:16.1423	train-mae:10.1128
[5800]	eval-mae:16.1401	train-mae:10.0834
[5850]	eval-mae:16.1385	train-mae:10.0527
[5900]	eval-mae:16.1377	train-mae:10.0223
[5950]	eval-mae:16.1392	train-mae:9.99119
[6000]	eval-mae:16.1382	train-mae:9.96316
[6050]	eval-mae:16.1367	train-mae:9.93572
[6100]	eval-mae:16.1391	train-mae:9.90728
[6150]	eval-mae:16.1389	train-mae:9.87623
[6200]	eval-mae:16.1391	train-mae:9.84917
[6250]	eval-mae:16.1374	train-mae:9.81763
[6300]	eval-mae:16.1386	train-mae:9.78861
[6350]	eval-mae:16.1385	train-mae:9.76089
[6400]	eval-mae:16.1377	train-mae:9.72978
[6450]	eval-mae:16.1378	train-mae:9.70395
[6500]	eval-mae:16.1374	train-mae:9.67581
[6550]	eval-mae:16.136	train-mae:9.64713
[6600]	eval-mae:16.1349	train-mae:9.62016
[6650]	eval-mae:16.1341	train-mae:9.59278
[6700]	eval-mae:16.1342	train-mae:9.56645
[6750]	eval-mae:16.1334	train-mae:9.53824
[6800]	eval-mae:16.1294	train-mae:9.50952
[6850]	eval-mae:16.1287	train-mae:9.48084
[6900]	eval-mae:16.1282	train-mae:9.45162
[6950]	eval-mae:16.1288	train-mae:9.42614
[7000]	eval-mae:16.13	train-mae:9.39838
[7050]	eval-mae:16.1307	train-mae:9.36994
[7100]	eval-mae:16.1322	train-mae:9.34067
[7150]	eval-mae:16.1312	train-mae:9.31412
[7200]	eval-mae:16.132	train-mae:9.2887
[7250]	eval-mae:16.1306	train-mae:9.26168
[7300]	eval-mae:16.1299	train-mae:9.23572
[7350]	eval-mae:16.1301	train-mae:9.21067
[7400]	eval-mae:16.1305	train-mae:9.18595
[7450]	eval-mae:16.1309	train-mae:9.16059
[7500]	eval-mae:16.1313	train-mae:9.13455
[7550]	eval-mae:16.1319	train-mae:9.11123
[7600]	eval-mae:16.1326	train-mae:9.08571
[7650]	eval-mae:16.1309	train-mae:9.06287
[7700]	eval-mae:16.1317	train-mae:9.03593
[7750]	eval-mae:16.1323	train-mae:9.00989
[7800]	eval-mae:16.1327	train-mae:8.98385
[7850]	eval-mae:16.1332	train-mae:8.9576
[7900]	eval-mae:16.1327	train-mae:8.9334
[7950]	eval-mae:16.1328	train-mae:8.90649
[8000]	eval-mae:16.1329	train-mae:8.88094
[8050]	eval-mae:16.1319	train-mae:8.85619
[8100]	eval-mae:16.1305	train-mae:8.83136
[8150]	eval-mae:16.1307	train-mae:8.80578
[8200]	eval-mae:16.1299	train-mae:8.78183
[8250]	eval-mae:16.1295	train-mae:8.75548
[8300]	eval-mae:16.1289	train-mae:8.72944
[8350]	eval-mae:16.1303	train-mae:8.70399
[8400]	eval-mae:16.1302	train-mae:8.67647
[8450]	eval-mae:16.1302	train-mae:8.65202
[8500]	eval-mae:16.1291	train-mae:8.62889
[8550]	eval-mae:16.1284	train-mae:8.60429
[8600]	eval-mae:16.1287	train-mae:8.58125
[8650]	eval-mae:16.1288	train-mae:8.55762
[8700]	eval-mae:16.1275	train-mae:8.53464

In [62]:
bst.get_fscore()

{'MeanForMonth': 14169,
 'MeanForMonthByPoints': 25693,
 'MeanForMonthDay': 18606,
 'MeanForThroughMonth': 10494,
 'MeanForWeekDay': 9690,
 'MeanForWeekDayByPoints': 27711,
 'MeanForYear': 2207,
 'Month': 5139,
 'MonthDay': 13490,
 'Next1Day': 16442,
 'Next7Day': 16953,
 'NextExisting14Value': 21702,
 'NextExisting1Value': 9470,
 'NextExisting21Value': 19798,
 'NextExisting2Value': 17313,
 'NextExisting30Value': 18367,
 'NextExisting3Value': 17927,
 'NextExisting7Value': 18655,
 'Prev1Day': 14096,
 'Prev7Day': 14860,
 'PrevExisting14Value': 20197,
 'PrevExisting1Value': 8962,
 'PrevExisting21Value': 19124,
 'PrevExisting2Value': 15671,
 'PrevExisting30Value': 18334,
 'PrevExisting3Value': 16639,
 'PrevExisting7Value': 17785,
 'ThroughDay': 15903,
 'ThroughMonth': 3092,
 'ThroughWeek': 4695,
 'WeekDay': 5811,
 'Year': 193,
 'YearDay': 16150}

In [63]:
X_train.columns

Index([u'MeanForMonth', u'MeanForMonthByPoints', u'MeanForMonthDay',
       u'MeanForThroughMonth', u'MeanForWeekDay', u'MeanForWeekDayByPoints',
       u'MeanForYear', u'Month', u'MonthDay', u'Next1Day', u'Next7Day',
       u'NextExisting14Value', u'NextExisting1Value', u'NextExisting21Value',
       u'NextExisting2Value', u'NextExisting30Value', u'NextExisting3Value',
       u'NextExisting7Value', u'Prev1Day', u'Prev7Day', u'PrevExisting14Value',
       u'PrevExisting1Value', u'PrevExisting21Value', u'PrevExisting2Value',
       u'PrevExisting30Value', u'PrevExisting3Value', u'PrevExisting7Value',
       u'ThroughDay', u'ThroughMonth', u'ThroughWeek', u'WeekDay', u'Year',
       u'YearDay'],
      dtype='object')

In [64]:
X_train.columns

Index([u'MeanForMonth', u'MeanForMonthByPoints', u'MeanForMonthDay',
       u'MeanForThroughMonth', u'MeanForWeekDay', u'MeanForWeekDayByPoints',
       u'MeanForYear', u'Month', u'MonthDay', u'Next1Day', u'Next7Day',
       u'NextExisting14Value', u'NextExisting1Value', u'NextExisting21Value',
       u'NextExisting2Value', u'NextExisting30Value', u'NextExisting3Value',
       u'NextExisting7Value', u'Prev1Day', u'Prev7Day', u'PrevExisting14Value',
       u'PrevExisting1Value', u'PrevExisting21Value', u'PrevExisting2Value',
       u'PrevExisting30Value', u'PrevExisting3Value', u'PrevExisting7Value',
       u'ThroughDay', u'ThroughMonth', u'ThroughWeek', u'WeekDay', u'Year',
       u'YearDay'],
      dtype='object')

In [65]:
features.columns

Index([u'Count', u'Date', u'IsTest', u'IsTrain', u'IsValidation', u'Year',
       u'Month', u'MonthDay', u'WeekDay', u'Point', u'YearDay',
       u'ThroughMonth', u'ThroughWeek', u'ThroughDay', u'Prev1Day',
       u'Prev2Day', u'Prev3Day', u'Prev7Day', u'Next1Day', u'Next2Day',
       u'Next3Day', u'Next7Day', u'MeanForMonth', u'MeanForMonthDay',
       u'MeanForThroughMonth', u'MeanForThroughWeek', u'MeanForWeekDay',
       u'MeanForYear', u'MeanForYearDay', u'MeanForMonthByPoints',
       u'MeanForMonthDayByPoints', u'MeanForThroughMonthByPoints',
       u'MeanForThroughWeekByPoints', u'MeanForWeekDayByPoints',
       u'MeanForYearByPoints', u'MeanForYearDayByPoints',
       u'NextExisting1Value', u'NextExisting2Value', u'NextExisting3Value',
       u'NextExisting7Value', u'NextExisting14Value', u'NextExisting21Value',
       u'NextExisting30Value', u'PrevExisting1Value', u'PrevExisting2Value',
       u'PrevExisting3Value', u'PrevExisting7Value', u'PrevExisting14Value',
       u'PrevExisting21Value', u'PrevExisting30Value'],
      dtype='object')

In [66]:
result = bst.predict(dres)

In [67]:
resDataFrame = pd.DataFrame()
resDataFrame["Date"] = data.Date[data.IsTest == True]
resDataFrame.Date = resDataFrame.Date.apply(lambda x: pd.to_datetime(x))
resDataFrame["Point"] = data.Point[data.IsTest == True]
resDataFrame.index = range(resDataFrame.shape[0])
resDataFrame["Count"] = pd.Series(result)

In [68]:
resDataFrame.head()

        Date        Point       Count
0 2011-12-14  Сыктывкар-1   71.034828
1 2011-12-19  Сыктывкар-1   72.399292
2 2011-12-26  Сыктывкар-1  117.287918
3 2011-12-27  Сыктывкар-1  122.622513
4 2012-01-12  Сыктывкар-1  116.966942

In [69]:
resDataFrame.tail()

           Date                Point       Count
7332 2016-09-27        Новоалтайск-1   14.073771
7333 2016-09-27            Энгельс-1   43.921310
7334 2016-09-27         Зеленоград-1  130.705811
7335 2016-09-27  Ленинск-Кузнецкий-1   42.049572
7336 2016-09-27             Самара-3  307.765503

In [70]:
resDataFrame.shape

(7337, 3)

In [71]:
originTest = pd.read_csv("data_original/test.csv")

In [72]:
originTest.Date = originTest.Date.apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))

originTest.head()

In [73]:
resDataFrame[(resDataFrame.Date == originTest.Date[0]) & (resDataFrame.Point == originTest.Point[0]) ]

           Date        Point      Count
6495 2016-07-08  Ульяновск-2  235.00676

In [74]:
resNP = np.array([np.nan] * originTest.shape[0])
for i in originTest.index:
    resNP[i] = resDataFrame.Count[(resDataFrame.Date == originTest.Date[i]) &
                                             (resDataFrame.Point == originTest.Point[i])]

In [75]:
resNP.shape

(7337,)

In [76]:
originTest.Count = pd.Series(resNP)

In [77]:
originTest.Count = originTest.Count.apply(lambda x: 1 if x < 1 else x)

In [78]:
originTest.Count = originTest.Count.apply(lambda x: round(x) if abs(x - round(x)) < 0.2 else x)

In [79]:
originTest['Year'] = originTest.Date.apply(lambda x: x.year)
originTest['Month'] = originTest.Date.apply(lambda x: x.month)
originTest['MonthDay'] = originTest.Date.apply(lambda x: x.day)

In [80]:
OriginalDate = []
k = 9
for i in range(originTest.shape[0]):
    daystr = str(originTest.MonthDay[i]) if originTest.MonthDay[i] >= 10 else  "0" + str(originTest.MonthDay[i])
    monthstr = str(originTest.Month[i]) if originTest.Month[i] >= 10 else  "0" + str(originTest.Month[i])
    OriginalDate.append(daystr + "." + monthstr + "." +  str(originTest.Year[i]))

In [81]:
originTest["OriginalDate"] = pd.Series(OriginalDate)

In [82]:
originTest.head()

        Date          Point       Count  Year  Month  MonthDay OriginalDate
0 2016-07-08    Ульяновск-2  235.000000  2016      7         8   08.07.2016
1 2016-07-25     Балашиха-1   95.000000  2016      7        25   25.07.2016
2 2014-11-09         Ухта-1  228.474182  2014     11         9   09.11.2014
3 2015-11-12  Альметьевск-1   59.252678  2015     11        12   12.11.2015
4 2014-07-17         Ухта-1  151.000000  2014      7        17   17.07.2014

In [83]:
originTest.tail()

           Date         Point       Count  Year  Month  MonthDay OriginalDate
7332 2015-05-27    Белгород-1   65.295219  2015      5        27   27.05.2015
7333 2015-01-31      Самара-3  208.630203  2015      1        31   31.01.2015
7334 2015-11-12     Вологда-1   38.000000  2015     11        12   12.11.2015
7335 2016-05-07  Домодедово-1  109.648727  2016      5         7   07.05.2016
7336 2015-04-18   Махачкала-1  101.000000  2015      4        18   18.04.2015

In [84]:
originTest = originTest[["OriginalDate", "Point", "Count"]]

In [85]:
originTest.head()

  OriginalDate          Point       Count
0   08.07.2016    Ульяновск-2  235.000000
1   25.07.2016     Балашиха-1   95.000000
2   09.11.2014         Ухта-1  228.474182
3   12.11.2015  Альметьевск-1   59.252678
4   17.07.2014         Ухта-1  151.000000

In [86]:
originTest.to_csv('submission.csv', index=None, header=None)

In [87]:
pd.isnull(originTest).sum() > 0

OriginalDate    False
Point           False
Count           False
dtype: bool