In [2]:
import pandas as pd
import numpy as np
import datetime
import math
import sklearn.cross_validation
from scipy import stats

In [2]:
train = pd.read_csv('data_original/train.csv')
test = pd.read_csv('data_original/test.csv')

print(len(train.Point.unique()))
print(len(test.Point.unique()))
a = set(train.Point.unique()) - (set(train.Point.unique()) & set(test.Point.unique()))
for i in a:
    print(i)
    train = train[train.Point != i]

    
test['Count'] = None
frame = [train, test]
common = pd.concat(frame)
common.Date = common.Date.apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))
common = common.sort_values(by=['Date'])

114
114

In [3]:
common.to_csv('data_original/common.csv', index=None)
train.to_csv('data_original/train.csv', index=None)
test.to_csv('data_original/test.csv', index=None)

# date.csv

In [4]:
date = pd.read_csv('data_original/common.csv')[['Date']]
date.Date = date.Date.apply(lambda x: pd.to_datetime(x))

In [5]:
start_date = date.iloc[0]['Date']
date['Year'] = date.Date.apply(lambda x: x.year)
date['Month'] = date.Date.apply(lambda x: x.month)
date['MonthDay'] = date.Date.apply(lambda x: x.day)
date['WeekDay'] = date.Date.apply(lambda x: x.weekday())
date['Point'] = pd.Series(common.Point.as_matrix())

In [6]:
date['YearDay'] = date.Date.apply(lambda x: (x-pd.to_datetime(str(x.year)+'-01-01')).days)

In [7]:
date['ThroughMonth'] = date.Date.apply(lambda x: (x.year - start_date.year) * 12 + x.month - start_date.month)

In [8]:
date['ThroughWeek'] = date.Date.apply(lambda x: int( ( (x - start_date).days + start_date.weekday()) / 7))

In [9]:
date['ThroughDay'] = date.Date.apply(lambda x: (x - start_date).days)

In [10]:
date.to_csv('data_transform/date.csv', index=None)

In [11]:
date.head(10)

,Date,Year,Month,MonthDay,WeekDay,Point,YearDay,ThroughMonth,ThroughWeek,ThroughDay
0,2011-10-06,2011,10,6,3,Сыктывкар-1,278,0,0,0
1,2011-10-07,2011,10,7,4,Сыктывкар-1,279,0,0,1
2,2011-10-09,2011,10,9,6,Сыктывкар-1,281,0,0,3
3,2011-11-15,2011,11,15,1,Сыктывкар-1,318,1,6,40
4,2011-12-08,2011,12,8,3,Сыктывкар-1,341,2,9,63
5,2011-12-09,2011,12,9,4,Сыктывкар-1,342,2,9,64
6,2011-12-10,2011,12,10,5,Сыктывкар-1,343,2,9,65
7,2011-12-11,2011,12,11,6,Сыктывкар-1,344,2,9,66
8,2011-12-13,2011,12,13,1,Сыктывкар-1,346,2,10,68
9,2011-12-14,2011,12,14,2,Сыктывкар-1,347,2,10,69

# target.csv

In [12]:
sizeValidationSample = 0.16

In [13]:
target = pd.read_csv('data_original/common.csv')[['Count', 'Date']]
#target['Point'] = pd.Series(common.Point.as_matrix())
target['IsTest'] = target.Count
target['IsTrain'] = pd.Series(range(target.shape[0]))
target['IsValidation'] = pd.Series(range(target.shape[0]))

In [14]:
target['IsTest'] = target.IsTest.apply(lambda x: 1 if math.isnan(x) else 0)

In [15]:
withCountValue = target[target.IsTest == 0].index
indexTrain, indexValidation = sklearn.cross_validation.train_test_split(withCountValue, test_size=sizeValidationSample)

In [16]:
dates = target.Date[target.IsTest == 1]
test_date_count = dates.unique().shape[0]
print(test_date_count)
dates = target.Date[target.IsTest == 0].unique()
np.random.shuffle(dates)
validation_dates = dates[:test_date_count]
validation_dates
target['IsValidation'] = target.Date.apply(lambda x: 1 if x in validation_dates else 0)
target.head(20)

268

    Count        Date  IsTest  IsTrain  IsValidation
0     8.0  2011-10-06       0        0             1
1    88.0  2011-10-07       0        1             1
2     1.0  2011-10-09       0        2             0
3     1.0  2011-11-15       0        3             0
4     2.0  2011-12-08       0        4             0
5    43.0  2011-12-09       0        5             1
6    10.0  2011-12-10       0        6             0
7     1.0  2011-12-11       0        7             0
8    60.0  2011-12-13       0        8             0
9     NaN  2011-12-14       1        9             0
10   96.0  2011-12-15       0       10             0
11  134.0  2011-12-16       0       11             0
12  112.0  2011-12-17       0       12             0
13  100.0  2011-12-18       0       13             0
14    NaN  2011-12-19       1       14             0
15   73.0  2011-12-20       0       15             1
16   94.0  2011-12-21       0       16             0
17   94.0  2011-12-22       0       17             0
18  129.0  2011-12-23       0       18             1
19  164.0  2011-12-24       0       19             0

In [17]:
target['IsTrain'] = 1
indexes = target[np.logical_or(target.IsValidation == 1, target.IsTest == 1)].index
target.IsTrain.loc[indexes] = 0
#target['IsValidation'] = target.IsValidation.apply(lambda x: 1 if ((x in indexValidation) & (target.IsValidation[x] == 0)) else 0)

C:\Python27\lib\site-packages\pandas\core\indexing.py:140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [18]:
target.to_csv('data_transform/target.csv', index = None)

In [19]:
CountWithouthNaNValueValidation = target.Count.copy()

In [20]:
target.Count.loc[target.Count[target.IsValidation == 1].index] = np.nan

In [21]:
target.head(20)

    Count        Date  IsTest  IsTrain  IsValidation
0     NaN  2011-10-06       0        0             1
1     NaN  2011-10-07       0        0             1
2     1.0  2011-10-09       0        1             0
3     1.0  2011-11-15       0        1             0
4     2.0  2011-12-08       0        1             0
5     NaN  2011-12-09       0        0             1
6    10.0  2011-12-10       0        1             0
7     1.0  2011-12-11       0        1             0
8    60.0  2011-12-13       0        1             0
9     NaN  2011-12-14       1        0             0
10   96.0  2011-12-15       0        1             0
11  134.0  2011-12-16       0        1             0
12  112.0  2011-12-17       0        1             0
13  100.0  2011-12-18       0        1             0
14    NaN  2011-12-19       1        0             0
15    NaN  2011-12-20       0        0             1
16   94.0  2011-12-21       0        1             0
17   94.0  2011-12-22       0        1             0
18    NaN  2011-12-23       0        0             1
19  164.0  2011-12-24       0        1             0

# city.csv

In [22]:
cities = pd.read_csv('data_original/common.csv')[['Point']].Point.unique()
city = pd.DataFrame()
city['Point'] = pd.Series(cities)
city['CityName'] = city.Point.apply(lambda x: '-'.join(x.split('-')[0:-1]))
city_names = city.CityName.unique()
city['CityID'] = city.CityName.apply(lambda x: np.where(city_names == x)[0][0]) 
city['BranchNumber'] = city.Point.apply(lambda x: x.split('-')[-1:][0])
# Москва 1 -> Москва
city['CityName'] = city.CityName.apply(lambda x: ('Москва' if x == 'Москва 1' else x))
city.to_csv('data_transform/city.csv', index = None)

In [23]:
city.head(10)

         Point   CityName  CityID BranchNumber
0  Сыктывкар-1  Сыктывкар       0            1
1  Сыктывкар-2  Сыктывкар       0            2
2       Ухта-1       Ухта       1            1
3   Смоленск-1   Смоленск       2            1
4    Сарапул-1    Сарапул       3            1
5     Самара-1     Самара       4            1
6  Челябинск-1  Челябинск       5            1
7   Белгород-1   Белгород       6            1
8   Смоленск-2   Смоленск       2            2
9     Самара-2     Самара       4            2

# internal_features.csv

In [24]:
src = pd.read_csv('data_transform/date.csv')
src['Point'] = pd.read_csv('data_original/common.csv')['Point']
src['Count'] = target.Count
dst = pd.DataFrame()

In [25]:
src.head(15)

,Date,Year,Month,MonthDay,WeekDay,Point,YearDay,ThroughMonth,ThroughWeek,ThroughDay,Count
0,2011-10-06,2011,10,6,3,Сыктывкар-1,278,0,0,0,NaN
1,2011-10-07,2011,10,7,4,Сыктывкар-1,279,0,0,1,NaN
2,2011-10-09,2011,10,9,6,Сыктывкар-1,281,0,0,3,1.0
3,2011-11-15,2011,11,15,1,Сыктывкар-1,318,1,6,40,1.0
4,2011-12-08,2011,12,8,3,Сыктывкар-1,341,2,9,63,2.0
5,2011-12-09,2011,12,9,4,Сыктывкар-1,342,2,9,64,NaN
6,2011-12-10,2011,12,10,5,Сыктывкар-1,343,2,9,65,10.0
7,2011-12-11,2011,12,11,6,Сыктывкар-1,344,2,9,66,1.0
8,2011-12-13,2011,12,13,1,Сыктывкар-1,346,2,10,68,60.0
9,2011-12-14,2011,12,14,2,Сыктывкар-1,347,2,10,69,NaN
10,2011-12-15,2011,12,15,3,Сыктывкар-1,348,2,10,70,96.0
11,2011-12-16,2011,12,16,4,Сыктывкар-1,349,2,10,71,134.0
12,2011-12-17,2011,12,17,5,Сыктывкар-1,350,2,10,72,112.0
13,2011-12-18,2011,12,18,6,Сыктывкар-1,351,2,10,73,100.0
14,2011-12-19,2011,12,19,0,Сыктывкар-1,352,2,11,74,NaN

## Next-Prev N Existing Count

In [26]:
tmp = pd.DataFrame()
tmp[["Count", "IsTest", "IsTrain", "IsValidation"]]= target[["Count", "IsTest", "IsTrain", "IsValidation"]]
tmp["Point"] = date.Point
tmp["Date"] = pd.to_datetime(date.Date)

tmp.head(10)

resultExistingMean = pd.DataFrame()

In [27]:
def GetNextNExistingValue(n):
    result = np.array([np.nan] * tmp.shape[0])
    k = 1
    for i in range(tmp.shape[0]):
        currentDay = tmp.Date[i]
        targetCity = tmp.Point[i]
        tmpForCity = tmp[(tmp.Point == targetCity) &(tmp.IsTrain == 1)] #получение данных только по определенному 
        #городу и из Train части
        valueLessWhenN = (tmpForCity.Date.map(lambda x: (x  - currentDay).days) <= n) \
                        &(tmpForCity.Date.map(lambda x: (x  - currentDay).days) > 0)
        # получение городов, чья разница между первоночальной датой и вычисляемой меньше n и больше 0 (в днях)
        targetCount = tmpForCity.Count[valueLessWhenN] #получение Count переменных для этих городов
        targetCount = targetCount.dropna() #удаление отсутвующих значений для вычисления средних
        meanCount = np.mean(targetCount)
        result[i] = meanCount
        k += 1
        if ( (k % 500) == 1):
            print k / 500,
    return result

def GetPrevNExistingValue(n):
    result = np.array([np.nan] * tmp.shape[0])
    k = 1
    for i in range(tmp.shape[0]):
        currentDay = tmp.Date[i]
        targetCity = tmp.Point[i]
        tmpForCity = tmp[(tmp.Point == targetCity) &(tmp.IsTrain == 1)] #получение данных только по определенному 
        #городу и из Train части
        valueLessWhenN = (tmpForCity.Date.map(lambda x: (x  - currentDay).days) >= n) \
                        &(tmpForCity.Date.map(lambda x: (x  - currentDay).days) < 0)
        # получение городов, чья разница между первоночальной датой и вычисляемой меньше n и больше 0 (в днях)
        targetCount = tmpForCity.Count[valueLessWhenN] #получение Count переменных для этих городов
        targetCount = targetCount.dropna() #удаление отсутвующих значений для вычисления средних
        meanCount = np.mean(targetCount)
        result[i] = meanCount
        k += 1
        if ( (k % 500) == 1):
            print k / 500,
    return result

In [28]:
resultExistingMean["NextExisting1Value"] = pd.Series(GetNextNExistingValue(1))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [29]:
resultExistingMean["NextExisting2Value"] = pd.Series(GetNextNExistingValue(2))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [30]:
resultExistingMean["NextExisting3Value"] = pd.Series(GetNextNExistingValue(3))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [31]:
resultExistingMean["NextExisting7Value"] = pd.Series(GetNextNExistingValue(7))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [32]:
resultExistingMean["NextExisting14Value"] = pd.Series(GetNextNExistingValue(14))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [33]:
resultExistingMean["NextExisting21Value"] = pd.Series(GetNextNExistingValue(21))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [34]:
resultExistingMean["NextExisting30Value"] = pd.Series(GetNextNExistingValue(30))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [35]:
resultExistingMean.to_csv('data_transform/resultExistingMean.csv', index=None)

In [36]:
resultExistingMean["PrevExisting1Value"] = pd.Series(GetPrevNExistingValue(-1))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [37]:
resultExistingMean["PrevExisting2Value"] = pd.Series(GetPrevNExistingValue(-2))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [38]:
resultExistingMean["PrevExisting3Value"] = pd.Series(GetPrevNExistingValue(-3))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [39]:
resultExistingMean["PrevExisting7Value"] = pd.Series(GetPrevNExistingValue(-7))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [40]:
resultExistingMean["PrevExisting14Value"] = pd.Series(GetPrevNExistingValue(-14))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [41]:
resultExistingMean["PrevExisting21Value"] = pd.Series(GetPrevNExistingValue(-21))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [42]:
resultExistingMean["PrevExisting30Value"] = pd.Series(GetPrevNExistingValue(-30))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106

In [43]:
resultExistingMean.to_csv('data_transform/resultExistingMean.csv', index=None)

## Next-Prev N Value

In [44]:
def GetValueForNPrevNextDay(n, target, src):
    targetCopy = target.copy()
    targetCopy.Count.loc[targetCopy.IsValidation == 1] = np.nan

    targetCopy['Point'] = src.Point

    city = src.Point.unique()

    result = np.array([np.nan] * targetCopy.shape[0])
    for i in city:
        value = targetCopy.Count[targetCopy.Point == i].shift(n)
        for j in value.index:
            result[j] = value[j]


    prefics = "Prev" if n > 0 else "Next"
    targetCopy[prefics + str(abs(n)) + "Day"] = pd.Series(result)
    del targetCopy["Point"]
    return targetCopy[prefics + str(abs(n)) + "Day"]

In [45]:
dst["Prev1Day"] = GetValueForNPrevNextDay(1, target, src)
dst["Prev2Day"] = GetValueForNPrevNextDay(2, target, src)
dst["Prev3Day"] = GetValueForNPrevNextDay(3, target, src)
dst["Prev7Day"] = GetValueForNPrevNextDay(7, target, src)

In [46]:
dst["Next1Day"] = GetValueForNPrevNextDay(-1, target, src)
dst["Next2Day"] = GetValueForNPrevNextDay(-2, target, src)
dst["Next3Day"] = GetValueForNPrevNextDay(-3, target, src)
dst["Next7Day"] = GetValueForNPrevNextDay(-7, target, src)

In [47]:
#target.to_csv('data_transform/target.csv', index = None)

In [48]:
dst.head(20)

,Prev1Day,Prev2Day,Prev3Day,Prev7Day,Next1Day,Next2Day,Next3Day,Next7Day
0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
1,NaN,NaN,NaN,NaN,1.0,1.0,2.0,60.0
2,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN
3,1.0,NaN,NaN,NaN,2.0,NaN,10.0,96.0
4,1.0,1.0,NaN,NaN,NaN,10.0,1.0,134.0
5,2.0,1.0,1.0,NaN,10.0,1.0,60.0,112.0
6,NaN,2.0,1.0,NaN,1.0,60.0,NaN,100.0
7,10.0,NaN,2.0,NaN,60.0,NaN,96.0,NaN
8,1.0,10.0,NaN,NaN,NaN,96.0,134.0,NaN
9,60.0,1.0,10.0,1.0,96.0,134.0,112.0,94.0
10,NaN,60.0,1.0,1.0,134.0,112.0,100.0,94.0
11,96.0,NaN,60.0,2.0,112.0,100.0,NaN,NaN
12,134.0,96.0,NaN,NaN,100.0,NaN,NaN,164.0
13,112.0,134.0,96.0,10.0,NaN,NaN,94.0,122.0
14,100.0,112.0,134.0,1.0,NaN,94.0,94.0,NaN
15,NaN,100.0,112.0,60.0,94.0,94.0,NaN,NaN
16,NaN,NaN,100.0,NaN,94.0,NaN,164.0,128.0
17,94.0,NaN,NaN,96.0,NaN,164.0,122.0,172.0
18,94.0,94.0,NaN,134.0,164.0,122.0,NaN,223.0
19,NaN,94.0,94.0,112.0,122.0,NaN,NaN,NaN

## Mean

In [49]:
need_mean_list = src.columns.difference(['Date', 'Count', 'Point', 'ThroughDay'])
need_mean_list

Index([u'Month', u'MonthDay', u'ThroughMonth', u'ThroughWeek', u'WeekDay',
       u'Year', u'YearDay'],
      dtype='object')

### by date independed from points

In [50]:
def calc_mean(src, group_column, target_column):
    mean = src.groupby([group_column])[target_column].mean()
    return src[group_column].apply(lambda x: mean[x])

In [51]:

for column in need_mean_list:
    dst['MeanFor' + column] = calc_mean(src, column, 'Count')

In [52]:
dst.head(15)

,Prev1Day,Prev2Day,Prev3Day,Prev7Day,Next1Day,Next2Day,Next3Day,Next7Day,MeanForMonth,MeanForMonthDay,MeanForThroughMonth,MeanForThroughWeek,MeanForWeekDay,MeanForYear,MeanForYearDay
0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,110.429076,106.547251,1.0,1.000000,91.697674,89.058824,99.343750
1,NaN,NaN,NaN,NaN,1.0,1.0,2.0,60.0,110.429076,107.727941,1.0,1.000000,124.623141,89.058824,90.311377
2,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,110.429076,108.823191,1.0,1.000000,123.277839,89.058824,110.953846
3,1.0,NaN,NaN,NaN,2.0,NaN,10.0,96.0,100.500505,109.760841,1.0,1.000000,87.187102,89.058824,126.147727
4,1.0,1.0,NaN,NaN,NaN,10.0,1.0,134.0,107.095238,106.963262,100.8,4.333333,91.697674,89.058824,71.784946
5,2.0,1.0,1.0,NaN,10.0,1.0,60.0,112.0,107.095238,108.823191,100.8,4.333333,124.623141,89.058824,77.087379
6,NaN,2.0,1.0,NaN,1.0,60.0,NaN,100.0,107.095238,99.359541,100.8,4.333333,141.469388,89.058824,84.333333
7,10.0,NaN,2.0,NaN,60.0,NaN,96.0,NaN,107.095238,104.211745,100.8,4.333333,123.277839,89.058824,72.208333
8,1.0,10.0,NaN,NaN,NaN,96.0,134.0,NaN,107.095238,98.933229,100.8,100.400000,87.187102,89.058824,120.232558
9,60.0,1.0,10.0,1.0,96.0,134.0,112.0,94.0,107.095238,105.942606,100.8,100.400000,86.762865,89.058824,120.674419
10,NaN,60.0,1.0,1.0,134.0,112.0,100.0,94.0,107.095238,109.760841,100.8,100.400000,91.697674,89.058824,80.309091
11,96.0,NaN,60.0,2.0,112.0,100.0,NaN,NaN,107.095238,105.413058,100.8,100.400000,124.623141,89.058824,77.853933
12,134.0,96.0,NaN,NaN,100.0,NaN,NaN,164.0,107.095238,106.995693,100.8,100.400000,141.469388,89.058824,85.392857
13,112.0,134.0,96.0,10.0,NaN,NaN,94.0,122.0,107.095238,97.615544,100.8,100.400000,123.277839,89.058824,99.931373
14,100.0,112.0,134.0,1.0,NaN,94.0,94.0,NaN,107.095238,95.277491,100.8,118.500000,87.161268,89.058824,144.693333

### by date depended from points

In [53]:
def map_group_two_key(group, x, y):
    return group[x][y]

def calc_mean_by_columns(src, group_columns, target_column):
    mean = src.groupby(group_columns)[target_column].mean()
    return src[group_columns].apply(lambda x: map_group_two_key(mean, *x), axis=1)

In [54]:
for column in need_mean_list:
    dst['MeanFor' + column + 'ByPoints'] = calc_mean_by_columns(src, [column, 'Point'], 'Count')

In [55]:
dst['Point'] = pd.read_csv('data_original/common.csv')['Point']
dst.to_csv('data_transform/internal_features.csv', index=None)

In [56]:
dst.head(15)

,Prev1Day,Prev2Day,Prev3Day,Prev7Day,Next1Day,Next2Day,Next3Day,Next7Day,MeanForMonth,MeanForMonthDay,...,MeanForYear,MeanForYearDay,MeanForMonthByPoints,MeanForMonthDayByPoints,MeanForThroughMonthByPoints,MeanForThroughWeekByPoints,MeanForWeekDayByPoints,MeanForYearByPoints,MeanForYearDayByPoints,Point
0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,110.429076,106.547251,...,89.058824,99.343750,270.052083,238.875000,1.0,1.000000,212.065217,89.058824,311.666667,Сыктывкар-1
1,NaN,NaN,NaN,NaN,1.0,1.0,2.0,60.0,110.429076,107.727941,...,89.058824,90.311377,270.052083,254.574468,1.0,1.000000,297.073446,89.058824,192.000000,Сыктывкар-1
2,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,110.429076,108.823191,...,89.058824,110.953846,270.052083,249.769231,1.0,1.000000,261.082873,89.058824,195.333333,Сыктывкар-1
3,1.0,NaN,NaN,NaN,2.0,NaN,10.0,96.0,100.500505,109.760841,...,89.058824,126.147727,248.769231,232.437500,1.0,1.000000,197.573034,89.058824,190.250000,Сыктывкар-1
4,1.0,1.0,NaN,NaN,NaN,10.0,1.0,134.0,107.095238,106.963262,...,89.058824,71.784946,241.058824,244.564103,100.8,4.333333,212.065217,89.058824,162.000000,Сыктывкар-1
5,2.0,1.0,1.0,NaN,10.0,1.0,60.0,112.0,107.095238,108.823191,...,89.058824,77.087379,241.058824,249.769231,100.8,4.333333,297.073446,89.058824,219.000000,Сыктывкар-1
6,NaN,2.0,1.0,NaN,1.0,60.0,NaN,100.0,107.095238,99.359541,...,89.058824,84.333333,241.058824,204.025000,100.8,4.333333,308.553672,89.058824,180.000000,Сыктывкар-1
7,10.0,NaN,2.0,NaN,60.0,NaN,96.0,NaN,107.095238,104.211745,...,89.058824,72.208333,241.058824,234.820513,100.8,4.333333,261.082873,89.058824,83.000000,Сыктывкар-1
8,1.0,10.0,NaN,NaN,NaN,96.0,134.0,NaN,107.095238,98.933229,...,89.058824,120.232558,241.058824,216.595238,100.8,100.400000,197.573034,89.058824,213.500000,Сыктывкар-1
9,60.0,1.0,10.0,1.0,96.0,134.0,112.0,94.0,107.095238,105.942606,...,89.058824,120.674419,241.058824,236.229167,100.8,100.400000,198.636364,89.058824,296.000000,Сыктывкар-1
10,NaN,60.0,1.0,1.0,134.0,112.0,100.0,94.0,107.095238,109.760841,...,89.058824,80.309091,241.058824,232.437500,100.8,100.400000,212.065217,89.058824,197.000000,Сыктывкар-1
11,96.0,NaN,60.0,2.0,112.0,100.0,NaN,NaN,107.095238,105.413058,...,89.058824,77.853933,241.058824,240.076923,100.8,100.400000,297.073446,89.058824,139.333333,Сыктывкар-1
12,134.0,96.0,NaN,NaN,100.0,NaN,NaN,164.0,107.095238,106.995693,...,89.058824,85.392857,241.058824,204.800000,100.8,100.400000,308.553672,89.058824,201.500000,Сыктывкар-1
13,112.0,134.0,96.0,10.0,NaN,NaN,94.0,122.0,107.095238,97.615544,...,89.058824,99.931373,241.058824,226.685714,100.8,100.400000,261.082873,89.058824,180.750000,Сыктывкар-1
14,100.0,112.0,134.0,1.0,NaN,94.0,94.0,NaN,107.095238,95.277491,...,89.058824,144.693333,241.058824,232.105263,100.8,118.500000,202.354651,89.058824,239.000000,Сыктывкар-1

In [ ]:
weather = pd.read_csv('data_transform/weather.csv')

In [27]:
weather.head()

,Date,CityName,lat,lng,summary,icon,precipType,temperature,apparentTemperature,dewPoint,humidity,windSpeed,windBearing,visibility,cloudCover,pressure,Count,SummaryRange,IconRange,PrecipTypeRange
0,2011-10-06,Сыктывкар,61.647851,50.833903,Overcast,cloudy,rain,4.95,1.77,4.13,0.94,4.05,195.0,8.32,1.0,990.66,NaN,14.0,3.0,0.0
1,2011-10-07,Сыктывкар,61.647851,50.833903,Overcast,cloudy,rain,7.22,5.09,5.04,0.86,3.13,240.0,11.27,1.0,NaN,NaN,14.0,3.0,0.0
2,2011-10-09,Сыктывкар,61.647851,50.833903,Partly Cloudy,partly-cloudy-night,rain,9.71,9.00,8.08,0.90,1.82,229.0,8.48,0.5,1007.93,1.0,11.0,0.0,0.0
3,2011-11-15,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-1.04,-5.66,-1.32,0.98,4.14,205.0,5.63,1.0,988.27,1.0,14.0,3.0,1.0
4,2011-12-08,Сыктывкар,61.647851,50.833903,Overcast,cloudy,snow,-1.78,-3.57,-2.19,0.97,1.38,171.0,10.54,1.0,1013.80,2.0,14.0,3.0,1.0

# All in one

In [24]:
data = pd.read_csv('data_transform/target.csv')
date = pd.read_csv('data_transform/date.csv')
city = pd.read_csv('data_transform/city.csv')
#not_today = pd.read_csv('data_transform/not_today.csv')
internal_features = pd.read_csv('data_transform/internal_features.csv')
weather = pd.read_csv('data_transform/weather.csv')
weather = weather[weather.columns.difference(['Date', 'CityName'])]
#weather = weather[['summary', 'windSpeed', 'pressure']]
#weather = pd.get_dummies(weather)


need_columns = date.columns
data[need_columns] = date[need_columns]

#data = pd.merge(data, city, on='Point', how='left')
#data[['CountTomorrow', 'CountYesterday']] = not_today[['CountTomorrow', 'CountYesterday']]
need_columns = internal_features.columns
data[need_columns] = internal_features[need_columns]

#need_columns = weather.columns
#data[need_columns] = weather[need_columns]

#data = pd.merge(data, dollar, on='Date', how='left')

data.to_csv('data_transform/all.csv', index=None)

In [37]:
weather.head(10)

,IconRange,PrecipTypeRange,SummaryRange,apparentTemperature,cloudCover,dewPoint,humidity,icon,lat,lng,precipType,pressure,summary,temperature,visibility,windBearing,windSpeed
0,3.0,0.0,14.0,1.77,1.0,4.13,0.94,cloudy,61.647851,50.833903,rain,990.66,Overcast,4.95,8.32,195.0,4.05
1,3.0,0.0,14.0,5.09,1.0,5.04,0.86,cloudy,61.647851,50.833903,rain,NaN,Overcast,7.22,11.27,240.0,3.13
2,0.0,0.0,11.0,9.00,0.5,8.08,0.90,partly-cloudy-night,61.647851,50.833903,rain,1007.93,Partly Cloudy,9.71,8.48,229.0,1.82
3,3.0,1.0,14.0,-5.66,1.0,-1.32,0.98,cloudy,61.647851,50.833903,snow,988.27,Overcast,-1.04,5.63,205.0,4.14
4,3.0,1.0,14.0,-3.57,1.0,-2.19,0.97,cloudy,61.647851,50.833903,snow,1013.80,Overcast,-1.78,10.54,171.0,1.38
5,3.0,1.0,14.0,-2.44,1.0,-4.04,0.89,cloudy,61.647851,50.833903,snow,1026.65,Overcast,-2.44,9.06,188.0,0.89
6,3.0,1.0,14.0,-8.21,1.0,-6.47,0.86,cloudy,61.647851,50.833903,snow,1026.66,Overcast,-4.43,10.61,163.0,2.45
7,3.0,1.0,14.0,-13.31,1.0,-8.93,0.88,cloudy,61.647851,50.833903,snow,1018.29,Overcast,-7.28,8.42,173.0,4.10
8,3.0,1.0,14.0,-15.78,1.0,-11.34,0.88,cloudy,61.647851,50.833903,snow,1017.16,Overcast,-9.77,8.40,192.0,3.49
9,3.0,1.0,14.0,-10.09,1.0,-7.81,0.94,cloudy,61.647851,50.833903,snow,1028.18,Overcast,-7.00,10.77,195.0,1.69

In [106]:
data = pd.DataFrame()
data = pd.read_csv('data_transform/target.csv')
date = pd.read_csv('data_transform/date.csv')
#city = pd.read_csv('data_transform/city.csv')
internal_features = pd.read_csv('data_transform/internal_features.csv')
dollar = pd.read_csv('data_transform/dollar.csv')
resultExistingMean = pd.read_csv('data_transform/resultExistingMean.csv')
ranged = pd.read_csv('data_transform/ranged.csv')


weather = pd.read_csv('data_transform/weather.csv')
weather = weather[weather.columns.difference(['Date', 'CityName', 'Count', 'icon', 'precipType', 'summary'])]

need_columns = date.columns
need_columns = need_columns.difference(['Month', 'MonthDay', 'YearDay', 'WeekDay'])
data[need_columns] = date[need_columns]

need_columns = ranged.columns
data[need_columns] = ranged[need_columns]

#data = pd.merge(data, dollar, on='Date', how='left')

need_columns = internal_features.columns
data[need_columns] = internal_features[need_columns]

need_columns = resultExistingMean.columns
data[need_columns] = resultExistingMean[need_columns]

#need_columns = weather.columns
#need_columns = ['windSpeed']
#data[need_columns] = weather[need_columns]

data.to_csv('data_transform/all.csv', index=None)

In [102]:
data.head()

,Count,Date,IsTest,IsTrain,IsValidation,Point,ThroughDay,ThroughMonth,ThroughWeek,Year,...,NextExisting14Value,NextExisting21Value,NextExisting30Value,PrevExisting1Value,PrevExisting2Value,PrevExisting3Value,PrevExisting7Value,PrevExisting14Value,PrevExisting21Value,PrevExisting30Value
0,8.0,2011-10-06,0,0,1,Сыктывкар-1,0,0,0,2011,...,1.000000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88.0,2011-10-07,0,0,1,Сыктывкар-1,1,0,0,2011,...,1.000000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,2011-10-09,0,1,0,Сыктывкар-1,3,0,0,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,2011-11-15,0,1,0,Сыктывкар-1,40,1,6,2011,...,NaN,NaN,33.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,2011-12-08,0,1,0,Сыктывкар-1,63,2,9,2011,...,77.888889,99.0,114.9,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [103]:
data.shape

(53385, 51)

In [104]:
data.columns

Index([u'Count', u'Date', u'IsTest', u'IsTrain', u'IsValidation', u'Point',
       u'ThroughDay', u'ThroughMonth', u'ThroughWeek', u'Year',
       u'YearDayRange', u'MonthDayRange', u'WeekDayRange', u'MonthRange',
       u'YearRange', u'Prev1Day', u'Prev2Day', u'Prev3Day', u'Prev7Day',
       u'Next1Day', u'Next2Day', u'Next3Day', u'Next7Day', u'MeanForMonth',
       u'MeanForMonthDay', u'MeanForThroughMonth', u'MeanForThroughWeek',
       u'MeanForWeekDay', u'MeanForYear', u'MeanForYearDay',
       u'MeanForMonthByPoints', u'MeanForMonthDayByPoints',
       u'MeanForThroughMonthByPoints', u'MeanForThroughWeekByPoints',
       u'MeanForWeekDayByPoints', u'MeanForYearByPoints',
       u'MeanForYearDayByPoints', u'NextExisting1Value', u'NextExisting2Value',
       u'NextExisting3Value', u'NextExisting7Value', u'NextExisting14Value',
       u'NextExisting21Value', u'NextExisting30Value', u'PrevExisting1Value',
       u'PrevExisting2Value', u'PrevExisting3Value', u'PrevExisting7Value',
       u'PrevExisting14Value', u'PrevExisting21Value', u'PrevExisting30Value'],
      dtype='object')

In [105]:
pd.isnull(data).sum() > 0

Count                           True
Date                           False
IsTest                         False
IsTrain                        False
IsValidation                   False
Point                          False
ThroughDay                     False
ThroughMonth                   False
ThroughWeek                    False
Year                           False
YearDayRange                   False
MonthDayRange                  False
WeekDayRange                   False
MonthRange                     False
YearRange                      False
Prev1Day                        True
Prev2Day                        True
Prev3Day                        True
Prev7Day                        True
Next1Day                        True
Next2Day                        True
Next3Day                        True
Next7Day                        True
MeanForMonth                   False
MeanForMonthDay                False
MeanForThroughMonth            False
MeanForThroughWeek             False
MeanForWeekDay                 False
MeanForYear                    False
MeanForYearDay                  True
MeanForMonthByPoints            True
MeanForMonthDayByPoints         True
MeanForThroughMonthByPoints     True
MeanForThroughWeekByPoints      True
MeanForWeekDayByPoints         False
MeanForYearByPoints            False
MeanForYearDayByPoints          True
NextExisting1Value              True
NextExisting2Value              True
NextExisting3Value              True
NextExisting7Value              True
NextExisting14Value             True
NextExisting21Value             True
NextExisting30Value             True
PrevExisting1Value              True
PrevExisting2Value              True
PrevExisting3Value              True
PrevExisting7Value              True
PrevExisting14Value             True
PrevExisting21Value             True
PrevExisting30Value             True
dtype: bool

In [55]:
weather.dtypes

IconRange              float64
PrecipTypeRange        float64
SummaryRange           float64
apparentTemperature    float64
cloudCover             float64
dewPoint               float64
humidity               float64
lat                    float64
lng                    float64
pressure               float64
temperature            float64
visibility             float64
windBearing            float64
windSpeed              float64
dtype: object